You do not have to #{t :consume} when you are #{t :sick}. You do not have to #{t :consume} just because someone else wants you to. You do not have to continue #{t :consuming}
just because you started. You do not have to #{t :consume} if you don’t want to. You. do. not. have. to. #{t :consume}. 
