%p=render "lose"
%p The short term pleasure for this attitude is that the more you #{t :produce} and the less you #{t :consume} the less #{t :sick} you will feel and the less #{t :sick} you feel, the better the #{t :resources} will #{t :appear}.