The #{t :resources} will not #{t :appear} good again until you no longer feel #{t :sick}. So stop #{t :consuming} until you no longer feel #{t :sick}. The less #{t :sick} you feel, the better the #{t :resources} will #{t :appear} and the happier you will be.
