%h3 #{t :consume} less
%p.center Don’t #{t :consume} unless you want to.
%ul.left
  %li Don’t #{t :consume} when you feel #{t :sick}.
  %li Don’t #{t :consume} just because someone else wants you to #{t :consume}.
  %li Don’t #{t :consume} just because it’s “time” to #{t :consume}.
  %li Don’t continue #{t :consuming} just because you started to #{t :consume}.
