%p=render "gain"
%p The short term pleasure for this attitude is that the less you #{t :produce} and the more you #{t :consume} the less #{t :worn_out} you will feel and the less #{t :worn_out} you feel, the better your #{t :productions} will be.
