Your #{t :productions} will not be good again until you no longer feel #{t :worn_out}. So stop #{t :producing} and #{t :consume} less so you won’t feel #{t :full} and tempted to #{t :produce}. The less #{t :worn_out} you feel, the better your #{t :productions} will be and the happier you will be.
