Your #{t :productions} will not be good again until you no longer feel #{t :worn_out}. So stop #{t :producing} until you no longer feel #{t :worn_out}. The less #{t :worn_out} you feel, the better your #{t :productions} will be and the happier you will be.
