%h3 #{t :produce} less
%p.center Don’t #{t :produce} unless you want to.
%ul.left
  %li Don’t #{t :produce} when you feel #{t :worn_out}.
  %li Don’t #{t :produce} just because someone else wants you to #{t :produce}.
  %li Don’t #{t :produce} just because it’s “time” to #{t :produce}.
  %li Don’t continue #{t :producing} just because you started to #{t :produce}.
