%p Although #{t :consuming} less can help to some extent, it’s never going to be enough in and of itself. The less I #{t :consume}, the less I will want to #{t :produce}. I could not #{t :consume} at all until #{t :emptiness} forced me to #{t :consume} and still gain #{t :potential} because I would just use it as an excuse to #{t :produce} less.
%p No matter how careful I am, there will always be stressful times in my life when I will be unable to #{t :produce} as much as I want to. The only way to deal with this is to #{t :produce} more than normal as a day to day baseline: I should always #{t :produce} until my #{t :organ} is aching.
%p Even if nobody else is #{t :producing}.
%p I need to #{t :produce} as much as possible when I’m not stressed, because I won’t be able to #{t :produce} when I am stressed.
