%p #{(t :consuming).capitalize} less seems counterproductive to the goal of gaining wanted #{t :fat}, but the less I #{t :consume}, the easier it will be to #{t :produce} less.
%p But. I like #{t :creating} things and if I #{t :consume} more I can #{t :produce} more.
%p
  Yes. I can #{t :produce} a
  %em little
  more.
  But I won’t. I’ll #{t :produce} a
  %em lot
  more. And I will end up with #{t :less} #{t :fat} than I had before I began to #{t :consume} more.
%p But it’s hard not to #{t :consume} when depressed.
%p True. But it’s a lot easier not to #{t :consume} in the morning than it is to try and stop #{t :producing} that evening after you #{t :consume} too much.
