%p Although #{t :producing} more can help to some extent, it’s never going to be enough in and of itself. The more I #{t :produce}, the more I will want to #{t :consume}. I could #{t :produce} all day long until my #{t :organ} was aching and still gain #{t :potential} because I would just use it as an excuse to #{t :consume} more.
%p No matter how careful I am, there will always be stressful times in my life when I will #{t :consume} more than I want to. The only way to deal with this is to #{t :consume} less than normal as a day to day baseline: I should never #{t :consume} until I am #{t :empty}.
%p Even if everyone else is #{t :consuming}.
%p I need to #{t :consume} as little as possible when I’m not stressed, because I won’t be able to stop #{t :consuming} when I am stressed.
