%p #{(t :producing).capitalize} less seems counterproductive to the goal of getting rid of unwanted #{t :fat}, but the less I #{t :produce}, the easier it will be to #{t :consume} less.
%p But. I like things that #{t :appear} good and if I #{t :produce} more I can #{t :consume} more.
%p
  Yes. I can #{t :consume} a
  %em little
  more.
  But I won’t. I’ll #{t :consume} a
  %em lot
  more. And I will end up with more #{t :fat} than I had before I began to #{t :produce} more.
%p But it’s hard not to #{t :produce} when manic.
%p True. But it’s a lot easier not to #{t :produce} in the evening than it is to try and stop #{t :consuming} the next morning after you #{t :produce} too much.
