-if @quad
  %p Keep trying to #{realm.produce}, especially when you are depressed:
%p.heading the more you #{realm.produce}, the more you can #{realm.consume}.
-if @quad
  %p Anticipate #{realm.consume.ing} what you want to #{realm.consume} tomorrow (or the next day), but #{realm.consume} judiciously today:
%p.heading the less often you binge, the more you can #{realm.consume} when you do.
