-if @quad
  %p #{realm.basic} but keep trying to #{realm.produce}, especially when you are depressed:
%p.heading the more you try to #{realm.produce}, the #{realm.energy.more_phrase} you can #{realm.consume_with_object}.
-if @quad
  %p Anticipate how #{realm.good} the #{realm.energy} will #{realm.appear} tomorrow (or the next day), but don’t #{realm.consume_with_object} #{realm.energy.them} every day (unless you want the #{realm.excess}):
%p.heading the less often you #{realm.consume_with_object} #{realm.energy}, the more #{realm.energy} you can #{realm.consume_with_object} at a time.
-if @quad
  %p You can use #{realm.neuro} stimulants when you’re depressed, but stop when you are manic or feel #{realm.stressed} or you may become #{realm.overstressed}.
