-if @quad
  %p Stop trying to #{realm.produce}, especially when you are manic:
%p.heading the less you #{realm.produce}, the less you have to #{realm.consume}.
-if @quad
  %p Anticipate #{realm.produce.ing} what you want tomorrow (or the next day), but #{realm.produce} judiciously today:
%p.heading the less often you binge, the more you can #{realm.produce} when you do.
