-if @quad
  %p #{realm.basic} but stop trying to #{realm.produce}, especially when you are manic:
%p.heading the less you try to #{realm.produce}, the #{realm.energy.fewer_phrase} you have to #{realm.consume_with_object}.
-if @quad
  %p Anticipate how good the extra #{realm.energy} will #{realm.appear} this evening (or this afternoon), but #{realm.consume_with_object} #{realm.energy.them} every day:
%p.heading the more often you #{realm.consume_with_object} #{realm.energy}, the #{realm.energy.fewer_phrase} you have to #{realm.consume_with_object} at a time.
-if @quad
  %p You can use #{realm.neuro} sedatives when you’re manic or having #{realm.sensory} hallucinations, but stop when you are depressed or you may lose your #{realm.sensory} sensitivity become uninterested in #{realm.consume.ing} and thus unable to #{realm.produce}.
