%p Although #{t :consuming} more can help to some extent, it’s never going to be enough in and of itself. The more I #{t :consume}, the more I will want to #{t :produce}. I could #{t :consume} all day long and still lose #{t :potential} because I would just use it as an excuse to #{t :produce} more.
%p No matter how careful I am, there will always be stressful times in my life when I will #{t :produce} more than I want to. The only way to deal with this is to #{t :produce} less than normal as a day to day baseline: I should never #{t :produce} if my #{t :organ} is aching.
%p Even if everyone else is #{t :producing}.
%p I need to #{t :produce} as little as I can when I’m not stressed, because I won’t be able to stop #{t :producing} when I am stressed.
