
%p #{(t :producing).capitalize} more seems counterproductive to the goal of gaining wanted #{t :fat}, but the more I #{t :produce}, the easier it will be to #{t :consume} more.
%p But. I don’t like things that #{t :appear} bad and if I #{t :produce} less I can #{t :consume} less.
%p
  Yes. I can #{t :consume} a
  %em little
  less.
  But I won’t. I’ll #{t :consume} a
  %em lot
  less. And I will end up with #{t :less} #{t :fat} than I had before I began to #{t :produce} less.
%p But it’s hard to #{t :produce} when depressed.
%p True. But it’s a lot easier to #{t :produce} in the morning than it is to try and #{t :consume} that evening after you #{t :produce} too little.
