%p Although #{t :producing} less can help to some extent, it’s never going to be enough in and of itself. The less I #{t :produce}, the less I will want to #{t :consume}. I could not #{t :produce} at all and still lose #{t :potential} because I would just use it as an excuse to #{t :consume} less.
%p No matter how careful I am, there will always be stressful times in my life when I will be unable to #{t :consume} as much as I want to. The only way to deal with this is to #{t :consume} more than normal as a day to day baseline: I should always #{t :consume} before I am #{t :empty}.
%p Even if nobody else is #{t :consuming}.
%p I need to #{t :consume} as much as I can when I am not stressed, because I won’t be able to #{t :consume} when I am stressed.
