-if @quad
  %p You don’t have to stop #{realm.consume.ing} or #{realm.produce.ing} just because other people want you to stop:
%p.heading you can #{realm.consume} and #{realm.produce} by yourself.
-if @quad
  %p keep #{realm.consume.ing}, especially when you are depressed:
%p.heading the more you #{realm.consume}, the easier it will be to #{realm.produce}.
