-if @quad
  %p You don’t have to stop #{realm.consume.ing} or #{realm.produce.ing} just because other people want you to stop:
%p.heading you can #{realm.consume} and #{realm.produce} by yourself.
-if @quad
  %p #{realm.basic} but keep #{realm.consume_with_object.ing} #{realm.good} #{realm.energy}, especially when you are depressed (unless you want to sleep):
%p.heading the more #{realm.good} #{realm.energy} you #{realm.consume_with_object}, the easier it will be to keep #{realm.produce.ing}.
-if @quad
  %p You can always use #{realm.neuro} stimulants without feeling #{realm.overstressed} although you will have more #{realm.sensory}/#{realm.adjective} dreams.
