-if @quad
  %p You don’t have to keep #{realm.consume.ing} or #{realm.produce.ing} just because other people want you to continue:
%p.heading they can #{realm.consume} or #{realm.produce} without you.
-if @quad
  %p #{realm.basic} but stop #{realm.consume_with_object.ing} #{realm.energy}, especially when you are manic (unless you want to #{realm.reject}):
%p.heading the #{realm.energy.fewer_phrase} you #{realm.consume_with_object}, the less likely you are to #{realm.reject}.
-if @quad
  %p You can always use #{realm.neuro} sedatives without #{realm.consume_with_object.ing} things that are bad for you although you won’t have as many #{realm.sensory}/#{realm.adjective} dreams.
