-if @quad
  %p You don’t have to keep #{realm.consume.ing} or #{realm.produce.ing} just because other people want you to continue:
%p.heading they can #{realm.consume} and #{realm.produce} by themselves.
-if @quad
  %p stop #{realm.consume.ing}, especially when you are manic:
%p.heading the less you #{realm.consume}, the easier it will be not to #{realm.produce}.
