%h3 #{t :produce} more
%p.center #{(t :produce).capitalize} whenever you can
%ul.left
  %li #{(t :produce).capitalize} whenever you feel #{t :full}.
  %li Don’t stop #{t :producing} just because someone else wants you to stop.
  %li Don’t stop #{t :producing} just because it’s not “time” to #{t :produce}.
  %li Don’t stop #{t :producing} just because you feel #{t :worn_out}.
