The #{t :resources} will not #{t :appear} good again until you feel #{t :empty}. So stop #{t :consuming} and #{t :produce} more until you feel #{t :empty}. The #{t :emptier} you feel, the better the #{t :resources} will #{t :appear} and the happier you will be.
