%p The #{t :emptier} you are, the better the #{t :resources} will #{t :appear}, and the happier you will be.
%p In order to maximize  #{t :emptiness}: #{t :produce} as soon as you can, continue #{t :producing} as long as you can, wait as long as you can before you #{t :consume}, and stop #{t :consuming} as soon as you can.
