%p=render "lose"
%p The short term pleasure for this attitude is that the more you #{t :produce} and the less you #{t :consume} the #{t :emptier} you will feel and the #{t :emptier} you feel, the better the #{t :resources} will #{t :appear}.