Your #{t :productions} will not  be good again until you feel #{t :full}. So stop #{t :producing} and start #{t :consuming} until you feel really #{t :full}. The #{t :fuller} you feel, the better your #{t :productions} will be and the happier you will be.
