The #{t :fuller} you feel, the better your #{t :productions} will be. The more you #{t :consume}, the #{t :fuller} you will feel. The longer you wait before you #{t :produce}, the #{t :fuller} you will feel. The sooner you stop #{t :producing}, the sooner you will feel #{t :full} again. The #{t :fuller} you feel, the better your #{t :productions} will be, and the happier you will be.
