%h3 #{t :consume} more
%p.center #{(t :consume).capitalize} whenever you can
%ul.left
  %li #{(t :consume).capitalize} whenever you feel #{t :empty}.
  %li Don’t stop #{t :consuming} just because someone else wants you to stop.
  %li Don’t stop #{t :consuming} just because it’s not “time” to #{t :consume}.
  %li Don’t stop #{t :consuming} just because you feel #{t :sick}.
