%p The #{t :fuller} you are, the better your #{t :productions} will be, and the happier you will be.
%p In order to maximize  #{t :fullness}: #{t :consume} as soon as you can, continue #{t :consuming} as long as you can, wait as long as you can before you #{t :produce}, and stop #{t :producing} as soon as you can.
