Your #{t :productions} will not  be good again until you feel #{t :full}. So stop #{t :producing} and #{t :consume} more until you feel #{t :full}. The #{t :fuller} you feel, the better your #{t :productions} will be and the happier you will be.
