%p #{(t :adjective).capitalize} anorexia is the reservesly fatal result of chronic #{t :adjective} mania.
%p Chronic #{t :adjective} mania leads to the eventual realization that if you #{t :consume} less of the tempting #{t :fresh} #{t :resources}, you will feel #{t :adverb} lethargic enough to #{t :produce_wo} less. At this point you quit #{t :consuming} whenever the #{t :resources} are boring #{t :preserved}, or whenever you feel #{t :adverb} energetic.
%p
  In order to gain #{t :reserves} you have to switch to tempting #{t :fresh} #{t :resources} in order to decrease the boredom. But then you must
  %em also
  allow yourself to feel the #{t :adjective} restlessness and not quit #{t :consuming} as soon as you find yourself able to #{t :produce} anything.
%p After you have gained enough #{t :reserves} and learned how to allow yourself to #{t :produce} things, you can switch back to boring #{t :preserved} #{t :resources} whenever you want to lose unwanted #{t :reserves}.
