%p #{(t :adjective).capitalize} depression is caused by replacing tempting #{t :summer} #{t :resources} with boring #{t :winter} #{t :resources}. Because the #{t :resources} are boring, you don’t #{t :consume} as many. Because you don’t #{t :consume} as many, you feel #{t :adverb} lethargic and don’t #{t :produce_wo} as much.
%p
  It’s okay to go out and #{t :consume} #{t :summer} #{t :resources} when you feel #{t :adverb} lethargic. It’s even okay, when #{t :summer} #{t :resources} are actually not available and you
  %em must
  #{t :produce} something, to use small amounts of stimulants such as caffeine.
%p It’s better to just take a break and give your #{t :power} a restful vacation since if there are no #{t :summer} #{t :resources} there’s probably nothing to #{t :produce} either.
%p It’s not okay to force yourself to #{t :consume} more boring #{t :resources}. Doing so will eventually cause unhealthy #{t :adjective} obesity because you will no longer be able to lose unwanted #{t :reserves} by switching to boring familiar #{t :resources}; you will just #{t :consume} too many of them also.
