%p Compared to many people, you are willing to #{t :consume} pretty much anything and thus perceive #{t :resources} as abundant.
%p Compared to other people who also perceive #{t :resources} as abundant, you are more apt to #{t :produce} more #{t :things} after you #{t :consume_wo} more.
%p Thus, you are seen by the majority of people as #{Attitude.ej.negative}: #{t :producing} #{t :things} that you don’t need to #{t :produce}.
%p You can trick yourself into perceiving #{t :resources} as scarce if you keep your personal #{t :stash} relatively empty. If you perceive #{t :scarcer} #{t :resources} you will #{t :produce_wo} less.
%p You will also #{t :consume_wo} less, but you can probably use guilt and willpower to #{t :consume} everything you need to #{t :consume}. If not, you’re #{t :adjective}ly #{Attitude.ip.negative}, not #{t :adjective}ly #{Attitude.ej.negative}.
