%p Compared to many people, you are not willing to #{t :consume} most things and thus perceive #{t :resources} as scarce.
%p Compared to other people who also perceive #{t :resources} as scarce, you are more apt to #{t :produce_wo} less after you #{t :consume_wo} less.
%p Thus, you are seen by the majority of people as #{t :adjective}ly #{Attitude.ij.negative}: not #{t :producing} #{t :things} that you do need to #{t :produce}.
%p You can trick yourself into perceiving #{t :resources} as abundant if you keep your personal #{t :stash} full of #{t :resources} you are willing to #{t :consume}. If you perceive more #{t :resources} you will #{t :produce_wo} more.
%p You will also #{t :consume_wo} more, but you can probably use guilt and willpower to refrain from #{t :consuming} anything you need to not #{t :consume}. If not, you’re #{t :adjective}ly #{Attitude.ep.negative}, not #{t :adjective}ly #{Attitude.ij.negative}.
