%p #{(t :adjective).capitalize} obesity is the unhealthy result of chronic #{t :adjective} depression.
%p Chronic #{t :adjective} depression leads to the eventual realization that if you #{t :consume} more of the boring #{t :preserved} #{t :resources}, you will feel #{t :adverb} energetic enough to #{t :produce_wo} more. At this point you #{t :consume} #{t :resources} whenever the #{t :resources} are tempting #{t :fresh}, or whenever you feel #{t :adverb} lethargic.
%p
  In order to lose #{t :reserves} you have to switch to boring #{t :preserved} #{t :resources} in order to reduce the temptation. But then you must
  %em also
  allow yourself to feel the #{t :adjective} lethargy and not reach for boring #{t :preserved} #{t :resources} as soon as you find yourself unable to #{t :produce} anything.
%p After you have lost enough #{t :reserves} and learned how to not #{t :produce} so much you switch back to tempting #{t :fresh} #{t :resources} whenever you want to gain wanted #{t :reserves}.
