%p
  Mania is undesirable #{t :adjective} active summer behavior when passive winter restfulness is desired.
  You, or those around you, want you to go to sleep and stop being so #{t :adverb} active.
%p
  At some point you, or those controlling the #{t :resources}, realize that if you are given boring winter #{t :resources} you will #{t :produce} less and sleep more even in the heights of summer.
  Unfortunately, you will also continue to lose #{t :reserves} throughout the summer.
%p
  Anorexia is when you have lost so many critical #{t :adjective} reserves that those around you become alarmed.
  Attempts to reverse the loss end in failure because every time they replace the boring and scarce winter #{t :resources} with abundant and tempting summer #{t :resources}, you #{t :produce} more.
  Since increased #{t :adjective} activities are proscribed, you force yourself to reject the tempting summer #{t :resources}.
%p Even if you, yourself, become alarmed at your lack of #{t :adjective} reserves, you will be unable to get yourself to #{t :consume} more unless or until you are allowed to be more #{t :adverb} active.
