%p
  Depression is undesireable passive winter restfulness when #{t :adjective} active summer behavior is desired.
  You, or those around you, want you to wake up and start being more #{t :adverb} active.
%p
  At some point you, or those controlling the #{t :resources}, realize that if you are given tempting summer #{t :resources} you will #{t :produce} more and sleep less even in the depths of winter.
  Unfortunately, you will also continue to gain #{t :reserves} throughout the winter.
%p
  Obesity is when you have gained so many unwanted #{t :adjective} reserves that those around you become alarmed.
  Attempts to reverse the gain end in failure because every time they replace the abundant and tempting summer #{t :resources} with scarce and boring winter #{t :resources}, you #{t :produce} less.
  Since decreased #{t :adjective} activities are proscribed, you force yourself to #{t :consume} more of the boring winter #{t :resources}.
%p Even if you, yourself, become alarmed at your unwanted #{t :adjective} reserves, you will be unable to get yourself to #{t :consume} less unless or until you are allowed to be less #{t :adverb} active.
