%p The #{@realm.adjective} realm is concerned getting and using #{@realm.energy}. If you get more #{@realm.energy} than you need you store the surplus as #{@realm.reserves}. If you need more #{@realm.energy} than you have you take the deficit from #{@realm.reserves}.
%p You get #{@realm.energy} by #{@realm.get.ing} #{@realm.resources}, but not all #{@realm.resources} that #{@realm.appear} good are good for you. Some #{@realm.resources} are necessary: you #{@realm.get} just as much of them as you need, and then stop. Some #{@realm.resources} are tempting: you’ll #{@realm.get} as many of them as you can.
%p You use #{@realm.energy} by using your #{@realm.power} to achieve goals, but not all goals are created equal. Some goals are quick and easy, and then you stop #{@realm.drain.ing}. Some goals take so long to achieve that you have to stop and rest and rebuild your #{@realm.organ} before you can continue to pursue them.

