%table
  %tr
    %th
    -Response.all.each do |response|
      %th
        #{response.name}
        %br
        (#{response.goal} / #{response.capacity})&nbsp;
  %tr
    %th=realm.produce.capitalize
    -Response.all.each do |response|
      %td #{realm.send(response.behavior)} #{realm.send(response.well)}
  %tr
    %th=realm.consume.capitalize
    -Response.all.each do |response|
      %td #{realm.send(response.fuel)}
  %tr
    %th=realm.organ.capitalize
    -Response.all.each do |response|
      %td=realm.send(response.needs)
