- content_for(:title, "The #{@realm.name} Realm")
%h2 The Four #{@realm.name} Behaviors
%table
  %tr
    %td
      =@realm.behaviors.first.name
      =render "behaviors/#{@realm.behaviors.first.symbol}"
    %th
    %td
      =@realm.behaviors.second.name
      =render "behaviors/#{@realm.behaviors.second.symbol}"
  %tr
    %th
    %th ↻
    %th
  %tr
    %td
      =@realm.behaviors.fourth.name
      =render "behaviors/#{@realm.behaviors.fourth.symbol}"
    %th
    %td
      =@realm.behaviors.third.name
      =render "behaviors/#{@realm.behaviors.third.symbol}"
%h2 The Four #{@realm.name} Problems
%table
  %tr
    %td=@realm.behaviors.first.bad
    %td #{@realm.name} #{GenericProblem.M.name}
    %td=@realm.behaviors.second.bad
  %tr
    %td #{@realm.name} #{GenericProblem.R.name}
    %th ↻
    %td #{@realm.name} #{GenericProblem.C.name}
  %tr
    %td=@realm.behaviors.fourth.bad
    %td #{@realm.name} #{GenericProblem.D.name}
    %td=@realm.behaviors.third.bad
