- content_for(:title, "The #{@realm.name} Realm")
%p If you use too much #{@realm.adjective} strength or do not get enough #{@realm.adjective} energy, you will have insuficient #{@realm.stored_energy} (#{@realm.deficit}). If you get too much #{@realm.adjective} energy or do not use enough #{@realm.adjective} strength, you will have excess #{@realm.stored_energy} (#{@realm.surplus}).

-@realm.behaviors.each do |behavior|
  %p
    Some examples of #{behavior.name} are:
    =render "behaviors/#{behavior.underscored}"

-@realm.subtypes.each do |subtype|
  =link_to subtype.description, subtype_path(subtype.symbol)
