- content_for(:title, "#{@quad.name}")
%table
  %caption If you don’t know what to do:
  %tr
    %td.top.half
      %h2 Consume (#{@quad.ep.mbti})
      %h3 Fat and Active
      %p.heading
        =@quad.first.cadvice
        %br
        =@quad.second.cadvice
        %p.center=link_to "#{@quad.ep.mbti} Rationale", mbti_path(@quad.ep.path)
    %td.top.half
      %h2 Don’t Produce (#{@quad.ej.mbti})
      %h3 Thin and Active
      %p.heading
        =@quad.second.padvice
        %br
        =@quad.fourth.padvice
        %p.center=link_to "#{@quad.ej.mbti} Rationale", mbti_path(@quad.ej.path)
  %tr
    %td.top.half
      %h2 Produce (#{@quad.ip.mbti})
      %h3 Fat and Inactive
      %p.heading
        =@quad.first.padvice
        %br
        =@quad.third.padvice
        %p.center=link_to "#{@quad.ip.mbti} Rationale", mbti_path(@quad.ip.path)
    %td.top.half
      %h2 Don’t Consume (#{@quad.ij.mbti})
      %h3 Thin and Inactive
      %p.heading
        =@quad.third.cadvice
        %br
        =@quad.fourth.cadvice
        %p.center=link_to "#{@quad.ij.mbti} Rationale", mbti_path(@quad.ij.path)
%p.center=link_to "by realm", type_path(@quad.path)