-subtypes.each do |locale|
  -I18n.with_locale(locale) do
    %h2=t :title
    %h3="E#{t(:mbti)}P Euphoric Mania and Agitated Depression"
    %p
      ="E#{t(:mbti)}Ps"
      are so
      =t :naturally_less
      to start with that they find depression unbearable. They just cannot
      =t(:title).downcase
      — even though they know they “should” - no matter how hard they try (Agitated Depression).
      Although they may need small amounts of
      =t :neurotransmitter
      stimulating medication in order to make it through their depressions, they need to remember that being
      =t :more
      is a social construct and not inherently better than being
      =t(:less).punctuate
    %p
      They also need to be careful that they don’t enjoy the ability to
      =t :do_more
      so much (Euphoric Mania) that they continue the drugs after the depression ends or embrace mania and never allow themselves to
      =t(:do_less).punctuate
      They have a natural ability to
      =t :do_less
      that many other people envy, if they only realized it.
    %h3="I#{t(:mbti)}P Mixed States"
    %p
      ="I#{t(:mbti)}Ps"
      find depression unpleasant. It takes a lot more effort to
      =t(:title)
      when they “should”.
      They may find small amounts of
      =t :neurotransmitter
      stimulating medication helpful but they don’t really need them and may find that they make them feel too
      =t(:naturally_more).punctuate
    %p
      They also find mania unpleasant as they feel too
      =t :naturally_more
      and find it harder to
      =t(:do_less).punctuate
      Although small amounts of
      =t :neurotransmitter
      sedating medications might be helpful, they don’t really need them and may find that they make it too hard to
      =t(:do_more).punctuate
    %h3="E#{t(:mbti)}J Mixed States"
    %p
      ="E#{t(:mbti)}Js"
      find mania unpleasant. It takes a lot more effort to not
      =t(:title)
      when they “shouldn’t”.
      They may find small amounts of
      =t :neurotransmitter
      sedating medication helpful but they don’t really need them and may find that they make them feel too
      =t(:naturally_less).punctuate
    %p
      They also find depression unpleasant as they feel too
      =t :naturally_less
      and find it harder to
      =t(:do_more).punctuate
      Although small amounts of
      =t :neurotransmitter
      stimulating medications might be helpful, they don’t really need them and may find that they make it too hard to
      =t(:do_less).punctuate
    %h3="I#{t(:mbti)}J Irritable Mania and Lethargic Depression"
    %p
      ="I#{t(:mbti)}Js"
      are so
      =t :naturally_more
      to start with that they find mania unbearable (and may be misdiagnosed as depressed). They just have to
      =t(:title)
      — even though they know they “should” - no matter how hard they try (Irritable Mania).
      Although they may need small amounts of
      =t :neurotransmitter
      sedating medication in order to make it through their manias, they need to remember that being
      =t :less
      is a social construct and not inherently better than being
      =t(:more).punctuate
    %p
      They also need to be careful that they don’t enjoy the ability to
      =t :do_less
      so much (Lethargic Depression) that they continue the drugs after the mania ends or embrace depression and never allow themselves to
      =t(:do_more).punctuate
      They have a natural ability to
      =t :do_more
      that many other people envy, if they only realized it.
