-I18n.with_locale(subtypes.first) do
  %h3="E#{t(:mbti)}P Euphoric Mania with Unbearable Depression"
  %p
    ="E#{t(:mbti)}Ps"
    enjoy their mania. At first. Their brain is telling them to
    =t :do_more
    and be
    =t :more
    and they stop receiving the constant signals from outside telling them that they are not
    =t :more
    enough. Unfortunately, they are no longer relieved to have the opportunity to
    =t :do_less
    and to be
    =t :less
    and they are apt to ignore those signals until they become extreme. When the mania ends, and they no longer want to
    =t :do_more
    they can’t understand why they didn’t stop sooner when all the signals were there. Euphoric mania tends to become less and less severe over the years, as you learn to pay attention to the signals to
    =t(:do_less).punctuate
  %p
    They
    are so
    =t :naturally_less
    to start with that they find the subsequent depression unbearable. Their brain is telling them to
    =t :do_less
    and be
    =t :less
    but the world around them hasn’t changed. They get constant and unending signals both tacit and overt that they must
    =t :do_more
    and be
    =t :more
    and even though they know they “should” — they just can’t.
    They need
    =t :neurotransmitter
    stimulating drugs or activities in order to make it through their depressions but not so much that it triggers mania.
-I18n.with_locale(subtypes.second) do
  %h3="I#{t(:mbti)}P Hypomania with Major Depression"
  %p
    ="I#{t(:mbti)}Ps"
    don’t have a problem with mania, because they are receiving fewer signals that they should
    =t :do_more
    and they pay attention to the signals that they should
    =t :do_less
    so they don’t get into trouble.
  %p
    They find the subsequent depression much worse. Their brain is telling them to
    =t :do_less
    but the world is still telling them to
    =t :do_more
    and although they don’t want to start, they know they “should”, so they do. The depression is somewhat mitigated by the fact that they are receiving a lot fewer signals that they should
    =t(:do_less).punctuate
    Although small amounts of
    =t :neurotransmitter
    stimulating drugs or activities are helpful, too much may make them feel
    =t(:naturally_more)
    or trigger mania.
-I18n.with_locale(subtypes.third) do
  %h3="E#{t(:mbti)}J Irritable Mania with Mild Depression"
  %p
    ="E#{t(:mbti)}Js"
    don’t enjoy their mania. Their brain is telling them to
    =t :do_more
    but the world is still telling them to
    =t :do_less
    and although they don’t want to stop, they know they “should”, so they do. The mania is somewhat mitigated by the fact that they are receiving a lot fewer signals that they should
    =t(:do_more).punctuate
    Although small amounts of
    =t :neurotransmitter
    sedating drugs or activities are helpful, too much may make them feel
    =t(:naturally_less)
    or trigger depression.
  %p
    They find the subsequent depression better, because they are receiving fewer signals that they should
    =t :do_less
    and they pay attention to the signals that they should
    =t :do_more
    so they don’t get into trouble.
-I18n.with_locale(subtypes.fourth) do
  %h3="I#{t(:mbti)}J Unbearable Mania with Euphoric Depression"
  %p
    ="I#{t(:mbti)}Js"
    are so
    =t :naturally_more
    to start with that they find mania unbearable. Their brain is telling them to
    =t :do_more
    and be
    =t :more
    but the world around them hasn’t changed. They get constant and unending signals both tacit and overt that they must
    =t :do_less
    and be
    =t :less
    and even though they know they “should” — they just can’t.
    They need
    =t :neurotransmitter
    sedating drugs or activities in order to make it through their manias but not so much that it triggers depression.
  %p
    They
    enjoy their depression. At first. Their brain is telling them to
    =t :do_less
    and be
    =t :less
    and they stop receiving the constant signals from outside telling them that they are not
    =t :less
    enough. Unfortunately, they are no longer relieved to have the opportunity to
    =t :do_more
    and to be
    =t :more
    and they are apt to ignore those signals until they become extreme. When the depression ends, and they no longer want to
    =t :do_less
    they can’t understand why they didn’t start sooner when all the signals were there. Euphoric depression tends to become less and less severe over the years, as you learn to pay attention to the signals to
    =t(:do_more).punctuate
