-I18n.with_locale(subtypes.first) do
  %h3="E#{t(:mbti)}P Euphoric Mania and Agitated Depression"
  %p
    ="E#{t(:mbti)}Ps"
    are so
    =t :naturally_less
    to start with that they find depression unbearable. They just cannot
    =t(:title).downcase
    — even though they know they “should” - no matter how hard they try (Agitated Depression).
    Although they need
    =t :neurotransmitter
    stimulating drugs or activities in order to make it through their depressions, they need to remember that being
    =t :more
    is a social construct and not inherently better than being
    =t(:less).punctuate
  %p
    They also need to be careful that they don’t enjoy the ability to
    =t :do_more
    so much (Euphoric Mania) that they continue the drugs or activities after the depression ends or embrace mania and never allow themselves to
    =t(:do_less).punctuate
    They have a natural ability to be
    =t :less
    that many other people envy.
-I18n.with_locale(subtypes.second) do
  %h3="I#{t(:mbti)}P Mixed States"
  %p
    ="I#{t(:mbti)}Ps"
    find depression a mixed bag. It takes a lot more effort to
    =t(:title).downcase
    when they “should”. On the other hand, they are less apt to feel
    =t :naturally_more
    which may be a relief.
    Although small amounts of
    =t :neurotransmitter
    stimulating drugs or activities are helpful, too much may make them feel too
    =t(:naturally_more)
    or trigger mania.
  %p
    Mania is also a mixed bag as they feel too
    =t :naturally_more
    and find it harder to
    =t(:do_less)
    but it takes less effort to
    =t(:title).downcase
    which makes life easier.
    Although small amounts of
    =t :neurotransmitter
    sedating drugs or activities are helpful, too much will make it hard to
    =t(:do_more)
    and may trigger depression.
-I18n.with_locale(subtypes.third) do
  %h3="E#{t(:mbti)}J Mixed States"
  %p
    ="E#{t(:mbti)}Js"
    find mania a mixed bag. It takes a lot more effort to not
    =t(:title).downcase
    when they “shouldn’t”. On the other hand, they are less apt to feel
    =t :naturally_less
    which may be a relief.
    Although small amounts of
    =t :neurotransmitter
    sedating drugs or activities are helpful, too much may make them feel too
    =t(:naturally_less)
    and may trigger depression.
  %p
    Depression is also a mixed bag as they feel too
    =t :naturally_less
    and find it harder to
    =t(:do_more)
    but it takes less effort to not
    =t(:title).downcase
    when they don’t want to.
    Although small amounts of
    =t :neurotransmitter
    stimulating drugs or activities are helpful, too much may make it too hard to
    =t(:do_less)
    and may trigger mania.
-I18n.with_locale(subtypes.fourth) do
  %h3="I#{t(:mbti)}J Irritable Mania and Lethargic Depression"
  %p
    ="I#{t(:mbti)}Js"
    are so
    =t :naturally_more
    to start with that they find mania unbearable (and may be misdiagnosed as depressed if the diagnostic criteria for depression include insomnia and those for mania require elevated mood). They just have to
    =t(:title).downcase
    — even though they know they “shouldn’t” - no matter how hard they try not to (Irritable Mania).
    Although they need
    =t :neurotransmitter
    sedating drugs or activities in order to make it through their manias, they need to remember that being
    =t :less
    is a social construct and not inherently better than being
    =t(:more).punctuate
  %p
    They also need to be careful that they don’t enjoy the ability to
    =t :do_less
    so much (Lethargic Depression) that they continue the drugs or activities after the mania ends or embrace depression and never allow themselves to be
    =t(:naturally_more).punctuate
    They have a natural ability to
    =t :do_more
    that many other people envy.
