- content_for(:title, @type.mbti)
-@type.ordered_states.each do |state|
  %h2=state.generic_with_mbti
  %p.heading=state.short_without_generic
  %p
    You know you are
    =state.state
    because you have
    =state.objective_measures.punctuate
  -if state.attitude.mania?
    %p
      Your brain “knows” you are
      =state.overfull
      because you are
      =state.input.ing
      too much and so it forces you to
      =state.output
      more, and you become
      =state.underfull.er.punctuate
  -else
    %p
      Your brain “knows” you are
      =state.underfull
      because you are not
      =state.input.ing
      enough and so it forces you to
      =state.output
      less, and you become
      =state.overfull.er.punctuate
  %p
    -if state.attitude.chronic?
      Unfortunately
      =state.problem
      — which is not at all unusual — and so nobody realizes you are
      =state.attitude.mania? ? "#{state.input.ing} too much" : "not #{state.input.ing} enough"
      — everyone thinks you are
      =state.attitude.mania? ? "not #{state.input.ing} enough" : "#{state.input.ing} too much"
      because you are
      =state.attitude.mania? ? state.underfull : state.overfull
      — and you try to
      =state.attitude.mania? ? "#{state.input} even more" : "#{state.input} even less"
      which causes you to
      =state.attitude.mania? ? "#{state.output} even more" : "#{state.output} even less"
      and eventually you become
    -else
      Luckily
      =state.problem
      — which is very unusual — and you usually realize
      =state.solution
      before you die or become chronically
    =state.attitude.mania? ? state.empty : state.stuffed
  %dl
    %dt problem
    %dd=state.problem
    %dt solution
    %dd=state.solution
  %p.small=link_to "not right?", discover_path(@type.qpath_without_state(state))
%h2 Possible MBTI&reg Types
%dl
  -@type.likelies.each do |mbti|
    %dt=render "mbti", :mbti => mbti
    %dd
      =@type.ordered_states.select{|s| s.realm.mbti == mbti[1]}.first.state
      and
      =@type.ordered_states.select{|s| s.realm.mbti == mbti[2]}.first.state

