%p You don’t like to #{t :consume} bad things.
%p In the best of times this makes you fastidious and discerning.
%p However, sometimes you are picky: not #{t :consuming} things that you should #{t :consume}.
%p In the worst of times you can’t #{t :consume} anything without #{t :purging}.
