%p Start #{type.f.change_locations.ing} as soon as you wake up and do as much #{type.f.realm.adjective} labor as you can.
%p Postpone #{type.a.change_locations.ing} and #{type.o.harvest_resources.ing} until after you have finished #{type.f.use_energy.ing}.
%p Start #{type.s.harvest_resources.ing} as soon as you have #{type.a.use_energy.en} or #{type.o.get_energy.en} and do as much #{type.s.realm.adjective} refreshment as you can.
%p Start #{type.f.use_energy.ing} again if you cannot #{type.s.get_energy} any more and it’s not yet time to go to sleep.
