%h2 Schedule
%table
  %tr
    %th.fifth
    %th.fifth #{@type.winter.name} Burn Out
    %th.fifth #{@type.spring.name} Explosion
    %th.fifth #{@type.summer.name} Stagnation
    %th.fifth #{@type.autumn.name} Implosion
  %tr
    %th Dawn
    %td.none no #{@type.winter.chores} (#{@type.winter.cheat.ing} is okay)
    %td.none #{@type.spring.do_chores}
    %td.none #{@type.summer.do_chores}
    %td.none no #{@type.autumn.chores} (#{@type.autumn.cheat.ing} is okay)
  %tr
    %th Morning
    %td.none #{@type.winter.do_chores}
    %td.none #{@type.spring.labor}
    %td.none #{@type.summer.labor}
    %td.none #{@type.autumn.do_chores}
  %tr
    %th Daytime
    %td.none #{@type.winter.labor}
    %td.none #{@type.spring.labor}
    %td.none #{@type.summer.labor}
    %td.none #{@type.autumn.labor}
  %tr
    %th Afternoon
    %td.none #{@type.winter.refuel}
    %td.none #{@type.spring.refuel}
    %td.none #{@type.summer.labor}
    %td.none #{@type.autumn.labor}
  %tr
    %th Dusk
    %td.none no #{@type.winter.extras} (#{@type.winter.staples} #{@type.winter.staples.are} okay)
    %td.none no #{@type.spring.extras} (#{@type.spring.staples} #{@type.spring.staples.are} okay)
    %td.none #{@type.summer.refuel}
    %td.none #{@type.autumn.refuel}
  %tr
    %th Nighttime
    %td.none{colspan: 4} sleep

