- content_for(:title, @name)
%p
  When #{@type.lazy.targets} make you feel #{@type.lazy.bad}, you stop #{@type.lazy.hit.first_word.ing} and start #{@type.greedy.hit.first_word.ing}. What you should do when you feel #{@type.lazy.bad} is stop #{@type.lazy.hit.first_word.ing} and start
  %em #{@type.picky.hit.first_word.ing}.
  Unfortunately, this requires that you have plenty of #{@type.picky.targets} that you are willing to #{@type.picky.hit} and that do not make you feel #{@type.picky.bad} and want to #{@type.picky.reject_toxic_resources}. So identify your favorite #{@type.picky.targets} and #{@type.picky.hit} them whenever you feel #{@type.lazy.bad}.
%p
  When #{@type.picky.targets} make you feel #{@type.picky.bad}, you stop #{@type.picky.hit.first_word.ing} and start #{@type.hyperactive.hit.first_word.ing}. What you should do when you feel #{@type.picky.bad} is stop #{@type.picky.hit.first_word.ing} and start
  %em #{@type.lazy.hit.first_word.ing}.
  Unfortunately, this requires that you have plenty of #{@type.lazy.targets} that you are willing to #{@type.lazy.hit} and that do not make you feel #{@type.lazy.bad} and willing to #{@type.lazy.rest}. So identify your favorite #{@type.lazy.targets} and #{@type.lazy.hit} them whenever you feel #{@type.picky.bad}.
=render "table"
