- content_for(:title, @name)
%table
  %caption My Bipolar Cycle
  %tr
    %th When I am manic →
    %td.left I #{@subtypes.first.transition}
    %td.left and #{@subtypes.second.transition} ↓
  %tr
    %td.left ↑ and #{@subtypes.third.transition}
    %td.left I #{@subtypes.fourth.transition}
    %th ← When I am depressed
%h2 Not #{@subtypes.first.consuming} enough
%p You can always #{@subtypes.first.transition}. Sometimes you even #{@subtypes.first.transition} before you have #{@subtypes.first.consumed} enough.
%p
  If you notice that you have stopped #{@subtypes.first.consuming} and you didn’t want to stop or had resolved not to stop, then you can be pretty sure that you are trying to stop
  %em=@subtypes.third.consuming + "."
%p
  It’s not always easy for you to stop #{@subtypes.third.consuming}. Sometimes you just don’t want to. But if you have stopped
  %em #{@subtypes.first.consuming}
  when you didn’t want to then you
  %em do
  want to stop #{@subtypes.third.consuming}. Sometimes you just need to give yourself permission.
%h2 #{@subtypes.second.producing.capitalize} too much
%p You can always #{@subtypes.second.transition}. Sometimes you even #{@subtypes.second.transition} before you have #{@subtypes.second.consumed} enough.
%p
  If you notice that you have started #{@subtypes.second.producing} and you didn’t want to start or had resolved not to start, then you can be pretty sure that you are trying to start
  %em=@subtypes.fourth.producing + "."
%p
  It’s not always easy for you to start #{@subtypes.fourth.producing}. Sometimes you just don’t want to. But if you have started
  %em #{@subtypes.second.producing}
  when you didn’t want to then you
  %em do
  want to start #{@subtypes.fourth.producing}. Sometimes you just need to give yourself permission.
%h2 Not #{@subtypes.fourth.producing} enough
%p You can always #{@subtypes.fourth.transition}. Sometimes you even #{@subtypes.fourth.transition} before you have #{@subtypes.fourth.produced} enough.
%p
  If you notice that you have stopped #{@subtypes.fourth.producing} and you didn’t want to stop or had resolved not to stop, then you can be pretty sure that you are trying to stop
  %em=@subtypes.second.producing + "."
%p
  It’s not always easy for you to stop #{@subtypes.second.producing}. Sometimes you just don’t want to. But if you have stopped
  %em #{@subtypes.fourth.producing}
  when you didn’t want to then you
  %em do
  want to stop #{@subtypes.second.producing}. Sometimes you just need to give yourself permission.
