=render "table", type: @type
%h2 #{@type.manic_realm.symbol} #{@type.manic_realm.name} Mania
%p
  I want to stop #{@type.manic_realm.use.ing} so much.
%p
  But I
  %em can’t.
  Not without sedatives that will also cause me to #{@type.depressed_realm.use} less and #{@type.depressed_realm.get} more.
%h2 #{@type.receptive_realm.symbol} #{@type.receptive_realm.name} Receptivity
%p
  What I
  %strong can
  do is stop #{@type.receptive_realm.use.ing} and start #{@type.receptive_realm.get.ing}. This will calm me down and I’ll be able to stop #{@type.manic_realm.achieve.ing} #{@type.manic_realm.results}.
%p
  I’ll also be able to #{@type.manic_realm.get} more, but I will no longer
  %em have
  to.
%p The less I #{@type.receptive_realm.use} and the more I #{@type.receptive_realm.get}, the longer it will be before I feel compelled to #{@type.depressed_realm.get}.
%h2 #{@type.depressed_realm.symbol} #{@type.depressed_realm.name} Depression
%p
  I want to stop #{@type.depressed_realm.get.ing} so much.
%p
  But I
  %em can’t.
  Not without stimulants that will also cause me to #{@type.manic_realm.get} less and #{@type.manic_realm.use} more.
%h2 #{@type.productive_realm.symbol} #{@type.productive_realm.name} Productivity
%p
  What I
  %strong can
  do is stop #{@type.productive_realm.get.ing} and start #{@type.productive_realm.use.ing}. #{@type.productive_realm.achieve.ing.capitalize} #{@type.productive_realm.results} will rev me up and I will be able to stop #{@type.depressed_realm.get.ing}.
%p
  I’ll also be able to #{@type.depressed_realm.use} more, but I will no longer
  %em have
  to.
%p The less I #{@type.productive_realm.get} and the more I #{@type.productive_realm.use}, the longer it will be before I feel compelled to #{@type.manic_realm.use}.
