- content_for(:title, 'The Theory')
%h2 Bipolar
%p There are times in your life when you stop using energy in order to and get it, and other times in your life when you when you stop getting energy in order to use it.
%p If you stop and get energy when you run out, get exactly as much as you used, start using energy when you have enough, and use exactly as much as you got, then you are balanced and stable.
%p If any part of the cycle breaks down, then you are bipolar. Energy in no longer equals energy out. You are unbalanced and unstable.
%table
  %caption The Physical Bipolar Cycle
  %tr
    %th When I am manic →
    %td I don’t eat enough
    %td and exercise too much
    %th and lose fat ↓
  %tr
    %th ↑ and gain fat
    %td and eat too much
    %td I don’t exercise enough
    %th ← When I am depressed
%p If physical energy was the only type of energy in your life, you could take stimulants when depressed which would force you to exercise more and eat less, and sedatives when manic which would force you to eat more and exercise less.
%p Unfortunately, life isn’t that simple.
%h2 Type
%table
  %caption The Complete Bipolar Cycle
  %tr
    %th When I am manic →
    %td I #{Realm.consumes} less
    %td and #{Realm.produces} more ↓
  %tr
    %td ↑ and #{Realm.consumes} more
    %td I #{Realm.produces} less
    %th ← When I am depressed
%p Some of these symptoms will be easier for you to resist than others. For example, you may be able to force yourself to eat more or walk less when manic, but not eat less and walk more when depressed. In this case, you will manifest with physical depression. On the other hand, if you are able to force yourself to eat less and walk more when depressed, but not eat more and walk less with manic, you will manifest with physical mania.
%p The difficulty with trying to treat a bipolar disorder is that whatever you do to fix one half of the problem aggravates the other half. If you take stimulants to treat depression in one realm, you’re likely to agravate mania in another. If you take sedatives to treat mania in one realm, you end up agravating depression in another.
%h2 BipolarType
%p A BipolarType is the set of symptoms — one per realm — which is the most difficult for you to resist. Most of my family is bipolar; we don’t all have the same issues because we have different BipolarTypes.
%table
  %caption My BipolarType
  %tr
    %td.right I don’t #{Realm.f.consume} enough (#{Realm.f.adjective} mania) →
    %td.left ↓ and #{Realm.t.produce} too much (#{Realm.t.adjective} mania)
  %tr
    %td.right and #{Realm.s.consume} too much (#{Realm.s.adjective} depression) ↑
    %td.left ← I don’t #{Realm.n.produce} enough (#{Realm.n.adjective} depression)
%p Even if you are not bipolar, if you ever use caffeine (a stimulant) or alcohol (a sedative) then you may find BipolarType useful.
