- content_for(:title, 'The Theory')
%table
  %caption The Physical Cycle
  %tr
    %th I am restless →
    %td I stop eating
    %td and start walking ↓
  %tr
    %td ↑ and start eating
    %td I stop walking
    %th ← I am fatigued
%p There are two States in the above diagram: “I am restless” and “I am fatigued”. If you don’t want to be restless, and are willing to take strong sedatives to keep from feeling so restless, then you can label that state “Mania”. If you don’t want to be fatigued, and are willing to take strong stimulants to keep from feeling so fatigued, then you can label that state “Depression”.
%p There are four Transitions in the above diagram: “stop eating”, “start walking”, “stop walking”, and “start eating”. Each transition can be noticed by an individual as a change in behavior. Not wanting to be manic or depressed isn’t merely not wishing to feel restless or fatigued. It’s because of an actual, and unwanted, change in behavior.
%table
  %caption The Four Physical Attitudes
  %tr
    %th
    %th Attitudes about Eating
    %th Attitudes about Walking
  %tr
    %th Attitudes about Mania
    %td.left I hate being manic because I stop eating. I want to eat!
    %td.left I hate being manic because I start walking. I don’t want to walk!
    %th
  %tr
    %th Attitudes about Depression
    %td.left I hate being depressed because I start eating. I don’t want to eat!
    %td.left I hate being depressed because I stop walking. I want to walk!
%p Eating and walking are not the only things we do. BipolarType defines four realms: #{Realm.all.map(&:name).to_sentence}.
%table
  %caption The Bipolar Cycle
  %tr
    %th I am manic →
    %td.left I stop #{Realm.consumings}
    %td.left and start #{Realm.producings} ↓
  %tr
    %td.left ↑ and start #{Realm.consumings}
    %td.left I stop #{Realm.producings}
    %th ← I am depressed
%p A BipolarType is a personal set of attitudes. The one thing you hate the most during each transition.
%table
  %caption My Bipolar Cycle
  %tr
    %th I hate being manic because →
    %td.left I stop listening (I rarely notice that I also stop eating, watching, and earning)
    %td.left and start spending (I rarely notice that I also start walking, thinking, and talking). ↓
  %tr
    %td.left ↑ and start eating (I rarely notice that I also start watching, listening, and earning).
    %td.left I stop thinking (I rarely notice that I also stop walking, talking, and spending)
    %th ← I hate being depressed because
%p If I take sedatives for my mania so that I can listen more and spend less, I eat more and think less. If I take stimulants for my depression so that I can eat less and think more, I listen less and spend more. This is the difficulty with trying to treat a bipolar disorder. Whatever you do to “fix” one half of the problem aggravates the other half.
%p BipolarType takes a different tack. Rather than trying to medicate away the mania or depression as a whole it looks at the cycle as a whole.
%p If I’m manic, I stop listening and start spending. Rather than taking sedatives, I need to remember to start thinking. Thinking is something that I want to do. Being manic isn’t so bad if I can remember to use the time to think instead of bemoaning the fact that I can no longer listen. Also, if I’m busy thinking I’m less likely to spend too much.
%p If I’m depressed, I stop thinking. Rather than taking stimulants, I need to remember to start listening. Listening is something that I want to do. Being depressed isn’t so bad if I can remember to use the time to listen instead of bemoaning the fact that I can no longer think. Also, if I’m busy listening I’m less likely to eat too much.
%p
  You have different things you want to do with your life, and so
  =link_to "your BipolarType", answer_path(Answer.first_path)
  is unlikely to be the same as
  =succeed "." do
    =link_to "my BipolarType", type_path(Type.my_path)

