- content_for(:title, 'The Theory')
%h2 Bipolar
%h3 Mania & Depression
%p You are manic if you are awake when you need to be asleep. You are hypomanic if you are active when you want to be passive. Mania and insomnia can be treated medically with sedatives.
%p You are depressed if you are asleep when you need to be awake. You are mildly depressed if you are passive when you want to be active. Depression and hypersomnia can be treated medically with stimulants.
%h3 Rapid Cycling
%p If the sedatives and stimulants have a longer half life than the mania or depression, then the sedatives aggravate your depression and the stimulants aggravate your mania. This is called rapid cycling and is difficult to treat medically. You can try to treat the mania with long term sedatives and then the aggravated depression with short term stimulants. Or you can try to treat the depression with long term stimulants and the aggravated mania with short term sedatives.
%p I developed BipolarType because psychiatric medication failed to manage my rapid cycling.
%table.wide
  %caption
    %h3 The Four Attitudes
  %tr
    %td
      Spring Morning
      %p
        If you want to
        %em become
        awake and active without stimulants you need to create restlessness. →
    %td
      Summer Afternoon
      %p
        If you want to
        %em stay
        awake and active without stimulants you need to prevent fatigue. ↓
  %tr
    %td
      Winter Night
      %p
        If you want to
        %em stay
        passive and sleepy without sedatives you need to prevent restlessness. ↑
    %td
      Autumn Evening
      %p
        If you want to
        %em become
        passive and sleepy without sedatives you need to create fatigue. ←
%p BipolarType defines four realms. Each realm has its own energy which causes restlessness and its own activities which cause fatigue.
%h3 Mixed States
%p You can be both restless and fatigued at the same time, either in the same realm or different realms. This is called a mixed state and is difficult to treat medically. You can try to treat the restlessness with a general sedative and then the aggravated fatigue with a specific stimulant. Or you can try to treat the fatigue with a general stimulant and the aggravated restlessness with a specific sedative.
%p I developed BipolarType because psychiatric medication failed to manage my mixed states.
%table.wide
  %caption
    %h3 The Four Realms
  -Realm.all.in_groups_of(2) do |row|
    %tr
      -row.each do |realm|
        %td.top
          =realm.name
          %p #{realm.name} restlessness is caused by an excess of #{realm.energy}.
          %p #{realm.name} fatigue is caused by activities at or near your #{realm.adjective} limit. Everyone has a different limit, but an example would be #{realm.harding} instead of #{realm.easying}.
%table
  %caption
    %h3 The Sixteen Solutions
  %tr
    %td
      Spring Morning →
      %br
      I want to become active without stimulants.
      %table
        -Realm.all.in_groups_of(2) do |row|
          %tr
            -row.each do |realm|
              %td seek out #{realm.energy}
    %td
      Summer Afternoon ↓
      %br
      I want to stay active without stimulants.
      %table
        -Realm.all.in_groups_of(2) do |row|
          %tr
            -row.each do |realm|
              %td #{realm.easy} don’t #{realm.hard}
  %tr
    %td
      Winter Night ↑
      %br
      I want to stay passive without sedatives.
      %table
        -Realm.all.in_groups_of(2) do |row|
          %tr
            -row.each do |realm|
              %td avoid #{realm.energy}
    %td
      Autumn Evening ←
      %br
      I want to become passive without sedatives.
      %table
        -Realm.all.in_groups_of(2) do |row|
          %tr
            -row.each do |realm|
              %td #{realm.hard} don’t #{realm.easy}
%h2 BipolarType
%p If you are depressed then you can seek out caffeine, uppers, cocaine, amphetamines, antidepressants, #{Realm::ENERGIES.to_sentence(:last_word_connector => ", or ")}. They are all stimulants and will all  help you wake up and become more active.
%p
  If, however, you want to become more active without causing side effects or worse problems for yourself later in the day, then there is one natural stimulant which is the best option
  %em for you.
%p.center
  A BipolarType is a set of
  =succeed "." do
    =link_to "four solutions", answer_path(Answer.first_path)
