%table.wide
  %th{colspan: 2}
    %h2 Mania
    %p.center Just because you have #{realm.consume_verb.en} the #{realm.objects} doesn’t mean you have to immediately jump up and #{realm.produce_verb} the #{realm.nouns}.
  %tr
    %td.half.top
      %h3 Excess Production
      %p=render "rationale/pejm", realm: realm
    %td.top
      %h3 Oversensitivity
      %p=render "rationale/cepm", realm: realm
  %th{colspan: 2}
    %h2 Depression
    %p.center If you don’t want to #{realm.produce_verb} the #{realm.nouns} it’s because you cannot #{realm.consume_verb} the #{realm.objects}.
  %tr
    %td.top
      %h3 Lack of Production
      %p=render "rationale/pejd", realm: realm
    %td.top
      %h3 Undersensitivity
      %p=render "rationale/cepd", realm: realm
