You keep #{t :consuming} and #{t :consuming}, but even the best #{t :resources} are #{t :sickening} and you’re feeling really  #{t :sick} but you just keep on #{t :consuming} — albeit #{t :with} better and better #{t :resources} — until you #{t :reject}.
