You keep #{t :producing} and #{t :producing}, but every #{t :production} makes you feel more #{t :worn_out} and you’re feeling really  #{t :worn_out} but you just keep on #{t :producing} until you run out of #{t :adjective} strength or injure yourself #{t :adverb}.
