You keep #{t :producing} and #{t :producing}, but even your best #{t :productions} make you feel #{t :worn_out} and you’re feeling really  #{t :worn_out} but you just keep on #{t :producing} — albeit better and better #{t :productions} — until you are so #{t :worn_out} you cannot #{t :produce} at all.
