You keep #{t :consuming} and #{t :consuming}, but even the best #{t :resources} #{t :appear} unsatisfying and you’re even starting to feel #{t :sick} but you just keep on #{t :consuming} — albeit #{t :with} better and better #{t :resources} — until you fall asleep.
