You keep #{t :producing} and #{t :producing}, but every #{t :production} is unsatisfying and you’re even starting to feel #{t :worn_out} but you just keep on #{t :producing} until until you run out of #{t :adjective} energy and fall asleep.
