You keep #{t :producing} and #{t :producing}, but even your best #{t :productions} are unsatisfying and you’re even starting to feel #{t :worn_out} but you just keep on #{t :producing} — albeit better and better #{t :productions} — until until you fall asleep.
