-case subtype.episode
-when "bipolar"
   I rarely know #{subtype.wh1} I want to #{subtype.achieve} or #{subtype.wh2} #{subtype.resources} I want to #{subtype.notice}.
-when "stable"
   I always know exactly
   %em #{subtype.wh1}
   I want to #{subtype.achieve} and #{subtype.wh2}
   %em #{subtype.resources}
   I want to #{subtype.notice}.
-when "depressed"
   I always know exactly
   %em #{subtype.wh1}
   I want to #{subtype.achieve} but I don’t always know #{subtype.wh2} #{subtype.resources}
   %em I
   want to #{subtype.notice}.
-when "manic"
   I always know exactly #{subtype.wh2}
   %em #{subtype.resources}
   I want to #{subtype.notice} but I don’t always know #{subtype.wh1}
   %em I
   want to #{subtype.achieve}
