-case subtype.season
-when "spring"
  My #{subtype.storage} won’t
  %em actually
  explode, but having so #{subtype.reserves.many} #{subtype.reserves} is not healthy.
-when "summer"
  I am bored when I have no fresh #{subtype.resources} to #{subtype.take} nor any#{subtype.thing} new to #{subtype.achieve}.
-when "autumn"
  I am most likely to die of #{subtype.death} when I run out of #{subtype.reserves}.
-when "winter"
  I am overwhelmed when I have too #{subtype.resources.many} fresh #{subtype.resources} to #{subtype.take} and too many new #{subtype.goals} to #{subtype.achieve}.
