-case subtype.attitude.path
  -when "a"
    #{subtype.consuming.capitalize} less when manic is a curse; #{subtype.producing} more isn’t.
    %br
    #{subtype.consuming.capitalize} more when depressed is a blessing; #{subtype.producing} less isn’t.
  -when "b"
    #{subtype.producing.capitalize} more when manic is a curse; #{subtype.consuming} less isn’t.
    %br
    #{subtype.producing.capitalize} less when depressed is a blessing; #{subtype.consuming} more isn’t.
  -when "c"
    #{subtype.producing.capitalize} more when manic is a blessing; #{subtype.consuming} less isn’t.
    %br
    #{subtype.producing.capitalize} less when depressed is a curse; #{subtype.consuming} more isn’t.
  -when "d"
    #{subtype.consuming.capitalize} less when manic is a blessing; #{subtype.producing} more isn’t.
    %br
    #{subtype.consuming.capitalize} more when depressed is a curse; #{subtype.producing} less isn’t.
