=render "mania/template", :subtype => subtype,
  :type_of_mania => "Euphoric ",
  :i_am_manic => "I can #{subtype.go}!",
  :you_are_manic => "you can #{subtype.go}",
  :high_response => "#{subtype.provide} #{subtype.resources} because that’s where your personal strength lies: you’re the one that #{subtype.provide.s} #{subtype.resources} in an emergency"