%h3 #{subtype.short_name} Mania
%ul
  %li #{subtype.strong.s} less but  #{subtype.fast.s} more
  %li #{subtype.consume.s} less in general
  %li loses #{subtype.strength} and #{subtype.potential}
