=render "mania/template", :subtype => subtype,
  :type_of_mania => "Irritable ",
  :i_am_manic => "I am #{subtype.reject_energy.ing}!",
  :you_are_manic => "you are #{subtype.reject_energy.ing}",
  :high_response => "try to stay awake and #{subtype.go} — as you learned to do as an infant —but you can’t #{subtype.go} because you are too busy #{subtype.reject_energy.ing}"
