=render "mania/template", :subtype => subtype,
  :type_of_mania => "Acute ",
  :i_am_manic => "I cannot stop #{subtype.reject_energy.ing}!",
  :you_are_manic => "you keep #{subtype.reject_energy.ing}",
  :high_response => "try to keep #{subtype.fill_up.ing} —as you learned to do as an infant — but people don’t stop #{subtype.provide.ing} you #{subtype.resources} when you #{subtype.reject_energy} because it’s an emergency and they need the #{subtype.resources} in order to #{subtype.go}"