%h3 #{subtype.short_name} Hypomania
%ul
  %li #{subtype.produce.s} more in general
  %li #{subtype.get.s} #{subtype.strengtheners.more_phrase} but #{subtype.energizers.fewer_phrase}
  %li gains #{subtype.strength} and loses #{subtype.potential}
