%ul
  =render "role/i", :realm => realm
  %ul
    %li
      relative to your other
      sensitive
      realm, there were more times when you
      were
      =realm.feed.en
      when you
      did not feel
      =realm.hungry
      than there were times when you were
      encouraged to
      =realm.move
      before you felt
      =realm.restless
    %li
      this cemented your “attitude” towards the
      =realm.physical
      realm: you are a
      ==#{realm.physical.capitalize}#{Attitude.ip.name}
      and your role in life is to start
      =realm.eat1.ing
      whenever anyone else wants to
      =realm.feed
      you
    %li
      luckily most people stop
      =realm.feed.ing
      you when you
      =realm.throw_up
    %li
      this has the added benefit of your not having to
      =realm.move
      in order to get rid of all the other
      =realm.foods
      you’ve
      =realm.eat.en
      because you’ve already
      =realm.throw_up.en
      and you have no
      =realm.foods
      left to
      =realm.move
      with
    %li
      ==I#{realm.mbti}Ps
      are the only
      =realm.physical
      subtype that can and will deliberately try to
      =realm.eat1
      too much, knowing that they will eventually
      =realm.throw_up.punctuate(":")
      ==E#{realm.mbti}s
      cannot
      =realm.throw_up
      just by
      =realm.eat.ing
      too many
      =realm.foods
      and
      ==I#{realm.mbti}Js
      need the
      =realm.foods
      too much to risk
      =realm.throw_up.ing
      by
      =realm.eat1.ing
      more
