%p
  -if subtype.more?
    Prioritize #{display(transform(subtype.solution, :ing))} in the #{help.time}:
  -else
    Postpone #{display(transform(subtype.problem, :ing))} until #{help.after.time}:
  you must
  -if subtype.more?
    #{display(subtype.solution)} <em>whenever</em> you are not #{display(transform(subtype.role, :ing))}.
  -else
    not #{display(subtype.problem)} until <em>after</em> you have #{display(transform(subtype.herring, :en))}.


-if @subtype
  -# Table
