%h3=help.time.capitalize
%p
  -if subtype.more?
    Prioritize #{display(transform(subtype.solution, :ing))} in the #{help.time}.
  -else
    Postpone #{display(transform(subtype.problem, :ing))} until #{help.after.time}.

-if @subtype
  %p
    -if subtype.more?
      It is also possible to #{display(subtype.solution)} in the #{help.after.after.time} (a natural time to #{display(help.opposite.flip)} things) or during the #{help.season} when you are in the mood to #{display(help)} things.
    -else
      It is also possible to #{display(transform(subtype.problem, :less))} in the #{help.after.after.time} (a natural time to #{display(help.opposite.flip)} things) or during the #{help.season} when you are in the mood to #{display(help)} things.

%p
  You must
  -if subtype.more?
    <em>#{display(subtype.solution)}</em> whenever you are not #{display(transform(subtype.role, :ing))}.
  -else
    not #{display(subtype.problem)} until <em>after</em> you have #{display(subtype.herring).en}.

-if @type
  =link_to 'more', subtype_path(subtype.symbol)
