%h2 Advice
%ol.left
  %li #{@quad.third.recover.capitalize} if you want to wake up and start #{@quad.third.produce.ing}.
  %li It’s better to #{@quad.fourth.energize.fewer_phrase} (and not be able to #{@quad.fourth.produce} as much) than to feel #{@quad.fourth.ill}.
  %li It’s better to be #{@quad.second.worn_out} occasionally than #{@quad.fourth.worn_out} all the time.
  %li #{@quad.first.energize.more_phrase.capitalize} if you want to stop #{@quad.first.produce.ing} and go to sleep.