When you notice that you are
-case subtype.attitude.symbol
  -when "S"
    #{subtype.intake.ing} too much stop #{subtype.output.ing} immediately before you start to gain unwanted #{subtype.reserves}; then find some #{subtype.targets} #{subtype.that} you can #{subtype.output_with_object} happily and without pain
  -when "N"
    #{subtype.output_with_object.ing} #{subtype.painful} #{subtype.targets} stop #{subtype.intake.ing} immediately before you become #{subtype.pained}; then find some #{subtype.targets} #{subtype.that} you can #{subtype.output_with_object} happily and without pain
  -when "F"
    #{subtype.intake_with_object.ing} #{subtype.painful} #{subtype.targets} stop #{subtype.output.ing} immediately before you become #{subtype.pained}; then find some #{subtype.targets} #{subtype.that} you can #{subtype.intake_with_object} happily and without pain
  -when "T"
    #{subtype.output.ing} too much stop #{subtype.intake.ing} immediately before you start to lose wanted #{subtype.reserves}; then find some #{subtype.targets} #{subtype.that} you can #{subtype.intake_with_object} happily and without pain

