-case subtype.attitude.symbol
-when "N"
  #{subtype.get} more #{subtype.energizers}
-when "S"
  #{subtype.get} more #{subtype.strengtheners}
-when "T"
  #{subtype.run} more
-when "F"
  #{subtype.hit} more
