-case subtype.attitude.symbol
  -when "F"
    #{subtype.intake_with_object} #{subtype.better_targets}
  -when "N"
    #{subtype.output_with_object} #{subtype.better_targets}
  -when "T"
    #{subtype.intake} less
  -when "S"
    #{subtype.output} less
