I want to be able to
-case subtype.attitude.symbol
  -when "F"
    #{subtype.output} more without losing #{subtype.reserves}
  -when "N"
    #{subtype.intake} more without gaining excess #{subtype.reserves}
  -when "T"
    gain #{subtype.reserves} by #{subtype.output.ing} less
  -when "S"
    lose excess #{subtype.reserves} by #{subtype.intake.ing} less
