-case subtype.problem
-when "fat", "pained"
  #{subtype.intake} or #{subtype.intake2}
-when "skinny", "painful"
  #{subtype.output} or #{subtype.output2}
as much as I wanted without ever
-case subtype.problem
-when "fat"
  gaining #{subtype.reserves}
-when "skinny"
  running out of #{subtype.reserves}
-when "painful"
  becoming #{subtype.painful}
-when "pained"
  feeling #{subtype.pained}
