-case subtype.attitude.path
-when "a"
  I want to be sedated so I can #{subtype.input} more without feeling #{subtype.overwhelmed}
-when "b"
  I don’t want to be stimulated; it’s too hard to stop #{subtype.output.ing}
-when "c"
  I don’t want to be sedated;  it’s too hard to stop #{subtype.input.ing}
-when "d"
  I want to be stimulated so I can #{subtype.output} more without feeling #{subtype.exhausted}
