-case subtype.attitude.symbol
  -when "F"
    I would rather spend more time finding #{subtype.better_targets} to #{subtype.intake_with_object} than not allow myself to #{subtype.output}
  -when "N"
    I would rather spend more time finding #{subtype.better_targets} to #{subtype.output_with_object} than not allow myself to #{subtype.intake}
  -when "T"
    I would rather postpone #{subtype.output.ing} until some later date than have to spend more time #{subtype.intake.ing}
  -when "S"
    I would rather postpone #{subtype.intake.ing} until some later date than have to spend more time #{subtype.output.ing}
