-case subtype.problem
-when "greedy"
  #{subtype.process.ing} when you neither want nor need the #{subtype.energy} and it doesn’t even #{subtype.appear} that good
-when "lazy"
  not #{subtype.act.ing} or #{subtype.improve.ing} when you have plenty of #{subtype.energy} and the current #{subtype.noun} #{subtype.appear.s} bad
-when "hyperactive"
  #{subtype.act.ing} when you don’t have enough #{subtype.energy} and the current #{subtype.nouns} don’t even #{subtype.appear} that bad
-when "picky"
  not #{subtype.process.ing} when you want or need the #{subtype.energy} and the #{subtype.noun} #{subtype.appear.s} good
