-case subtype.problem
-when "greedy"
  I can’t take too many sedatives or I will #{subtype.process} too much and I don’t need or want to get more #{subtype.reserves}
-when "lazy"
  I would take more stimulants gladly in order to be able to #{subtype.act} more and be #{subtype.adverb} productive if I never had to be unemotional and receptive.
-when "hyperactive"
  I can’t take too many stimulants or I will #{subtype.act} too much and I don’t need or want to use up my #{subtype.reserves}
-when "picky"
  I would take more sedatives gladly in order to be able to #{subtype.process} more without feeling so #{subtype.emotional} if I never had to be energetic and productive.