Sometimes I
-case subtype.attitude.symbol
  -when "S"
    #{subtype.intake} even when I don’t need the #{subtype.energy}
  -when "N"
    #{subtype.output} even when it hurts
  -when "F"
    #{subtype.intake} even when it hurts
  -when "T"
    #{subtype.output} even when I don’t have enough #{subtype.energy}
