As a baby, adults wanted you to
-case subtype.attitude.ordinal
-when "first", "third"
  calm down and stay asleep through the night. They soon learned to give you more #{subtype.energizer.s} in the evening. As a baby you had more #{subtype.reserves} than #{subtype.strength}.
-when "second", "fourth"
  stay awake through the day. They soon learned to give you more #{subtype.energizer.s} in the morning. As a baby, you had more #{subtype.strength} than #{subtype.reserves}.
