%td.top{class: quadrant.css}
  %h3=quadrant.episode
  %p.left
    #{quadrant.short} is not an appropriate response to #{quadrant.danger} if you are a #{quadrant.attitude.opposite.adjective} type and will want to #{quadrant.opposite.goal} later; you need to
    %span{class: quadrant.flop.css} #{quadrant.flop.short} now
    so you can
    %span{class:quadrant.opposite.css} #{quadrant.opposite.short} later.
