%td.top{class: quadrant.class}
  %p.left #{quadrant.short.ing} is the appropriate response to #{quadrant.trigger} if you want to #{quadrant.verb} so you can #{quadrant.flip.short}.
  %h3=quadrant.episode.titleize
  %p.left #{quadrant.short.ing} is <em>not</em> an appropriate response to #{quadrant.trigger} if you want to #{quadrant.flop.verb} so you can #{quadrant.opposite.short}.
