%div.bigger=@type.hours_range(phase)
%ol
  -if phase.index == 1
    %li.green More #{@type.mores(phase).first.name.html_safe}
    %li.green More #{@type.mores(phase).second.name.html_safe}
    %li.blue Do #{@type.dos(phase).first.name.html_safe}
    %li.blue Do #{@type.dos(phase).second.name.html_safe}
  -else
    %li.green More #{@type.mores(phase).map(&:name).and.html_safe}
    %li.blue Do #{@type.dos(phase).map(&:name).and.html_safe}
  -if phase.index == 3
    %li.gold Less #{@type.lesses(phase).first.name.html_safe}
    %li.gold Less #{@type.lesses(phase).second.name.html_safe}
  -elsif [0,2].include? phase.index
    %li.gold Less #{@type.lesses(phase).map(&:name).and.html_safe}
  -if [0,2].include? phase.index
    %li.red Don’t #{@type.donts(phase).map(&:name).or.html_safe}
.clear
