You soon taught yourself to
-case subtype.attitude.ordinal
-when "first"
  #{subtype.use} #{subtype.energizer.s} in the morning. They kept you calmed down and prevented you from #{subtype.act.ing} too much. As a child you developed even more natural #{subtype.reserves} and very little #{subtype.strength}. You also learned to #{subtype.use} #{subtype.energizer.s} all day long and always have some in your #{subtype.organ}.
-when "second"
  ignore the #{subtype.energizer.s} and just stop #{subtype.act.ing}. The fewer #{subtype.goals} you #{subtype.accomplish}, the quicker your #{subtype.strength} atrophies, and the more #{subtype.reserves} you keep in reserve. As a child you developed #{subtype.reserves} at the expense of your natural #{subtype.strength}.
-when "third"
  ignore the #{subtype.goals} and just stop #{subtype.use.ing} #{subtype.energizer.s}. The fewer #{subtype.energizer.s} you #{subtype.use}, the more you #{subtype.act}, and the more #{subtype.strength} you develop. As a child you developed #{subtype.strength} at the expense of your natural #{subtype.reserves}.
-when "fourth"
  #{subtype.use} #{subtype.energizer.s} in the evening. They kept you revved up and prevented you from sleeping too soon. As a child you developed even more natural #{subtype.strength} and very little #{subtype.reserves}. You also learned to #{subtype.use} #{subtype.energizer.s} all day long and always have some in your #{subtype.organ}.
