I’d rather
-case subtype.problem
-when "greedy"
  #{subtype.get_energy} less than have to spend more time #{subtype.use_energy.ing}
-when "lazy"
  find some#{subtype.thing} else to #{subtype.attempt} than have to #{subtype.get_energy} less
-when "hyperactive"
  #{subtype.use_energy} less than have to spend more time #{subtype.get_energy.ing}
-when "picky"
  find something else to #{subtype.process} than have to #{subtype.use_energy} less
