%h2 Consume
%p You tend to conflate feeling #{@quad.first.empty} with feeling #{@quad.third.empty} because you most often #{@quad.first.consume.ed} and #{@quad.third.consume.ed} at the same time during infancy.
%p You’re going to continue to #{@quad.first.consume} until you no longer feel #{@quad.third.empty}. Or you fall asleep from the #{@quad.first.energizers.singularize} overload.
