%table
  %caption
    %h2 The #{realm.name} Cycle
  %tr
    %td.none U#{realm.symbol}E: #{realm.use_energy}
    %td.none
    %td.none U#{realm.symbol}S: #{realm.use_strength}
  %tr
    %td.none #{realm.generic? ? 'Depression' : 'Energy'} ↻
    %td.none ↻
    %td.none #{realm.generic? ? 'Mania' : 'Strength'} ↻
  %tr
    %td.none G#{realm.symbol}E: #{realm.get_energy}
    %td.none
    %td.none G#{realm.symbol}S: #{realm.get_strength}
