Because you are insensitive to
=subtype.triggers.comma
-if subtype.consumer?
  if you cannot
  =subtype.produce
  more
you will find it easier to
=subtype.consume_verb
less if you
=subtype.consume
two
==#{subtype.density * 2}-#{subtype.kinetics}-per-#{subtype.resource}
=subtype.resource.pluralize
or, even better, one
==#{subtype.density * 4}-#{subtype.kinetics}-per-#{subtype.resource}
=subtype.resource.period
