-case subtype.attitude.adjective
-when "appreciative"
  Make every attempt to #{subtype.harvest_resources}. Doing so will give you pleasure. #{subtype.high_energy_harvest.capitalize} if you can; #{subtype.low_energy_harvest} if you are feeling overwhelmed or #{subtype.overwhelmed}.
-when "productive"
  Try to #{subtype.high_energy_harvest} more, or at least #{subtype.low_energy_harvest}. Not because #{subtype.harvest_resources.ing} gives you pleasure, but because the more #{subtype.energy} you get now, the more #{subtype.goals} you will be able to #{subtype.achieve} when you are manic which does give you pleasure.
-when "depressed"
  Make every attempt to
  %em not
  #{subtype.high_energy_harvest}. The more #{subtype.energy} you get now, the more you will have to #{subtype.high_energy_activities} when you are manic. If you want to #{subtype.harvest} something, then #{subtype.low_energy_harvest}. The pleasure of #{subtype.harvest_resources.ing} will not then be tarnished by the anticipation of the pain to follow.
-when "manic"
  You are always going to want to #{subtype.low_energy_harvest} when you need to #{subtype.harvest} something. Whether or not you should #{subtype.high_energy_harvest} when you
  %em don’t
  have anything you need to #{subtype.harvest} depends on how #{subtype.stored_energy.much} #{subtype.stored_energy} you have in your #{subtype.storage} and whether restoring the deficit is worth the pain of feeling #{subtype.overwhelmed} while #{subtype.high_energy_harvest.ing}.

