-case subtype.attitude.path
-when "a"
  Try to #{subtype.harvest} new or stressful #{subtype.resources} or #{subtype.resources} you have been unable to #{subtype.harvest} in the past. You won’t have to keep stopping to rest because you feel #{subtype.overwhelmed} and should be able to finish #{subtype.harvest.ing} the #{subtype.resources}.
-when "b"
  Unless you still have #{subtype.an_energetic} deficit from previous manias, you can #{subtype.hit} new and interesting #{subtype.targets} if you are willing to #{subtype.input} more; you will be able to #{subtype.harvest_resources} without feeling so #{subtype.overwhelmed}.
-when "c"
  Avoid #{subtype.triggers}. You are #{subtype.input.ing} more but do not need more #{subtype.energy}. You cannot afford to #{subtype.harvest_resources} that trigger #{subtype.neurochemicals} and #{subtype.input.ing} binges that leave you with a lot of #{subtype.energy} that you won’t be able to use until the next time you are manic.
-when "d"
  Avoid new #{subtype.targets}. You are #{subtype.input.ing} more and need to use more #{subtype.energy}. You don’t have time to waste trying to #{subtype.do_work} that you cannot #{subtype.hit} and make you feel #{subtype.exhausted} and unable to #{subtype.output} at all.
