-case subtype.problem
-when "hyperactive"
  use a lot of energy just #{subtype.low_energy_activities.ing};
  =@type ? "I" : "you"
  will #{subtype.achieve} more #{subtype.goals} after #{subtype.high_energy_harvest.ing}.
-when "finicky"
  use a lot of energy just #{subtype.low_energy_activities.ing};
  =@type ? "I" : "you"
  will #{subtype.achieve} fewer #{subtype.goals} after #{subtype.high_energy_harvest.ing}.
-when "lazy"
  use very little energy even #{subtype.high_energy_activities.ing};
  =@type ? "I" : "you"
  will #{subtype.achieve} more #{subtype.goals} after #{subtype.high_energy_harvest.ing}.
-when "greedy"
  use very little energy even #{subtype.high_energy_activities.ing};
  =@type ? "I" : "you"
  will #{subtype.achieve} fewer #{subtype.goals} after #{subtype.high_energy_harvest.ing}.
