-case subtype.attitude.adjective
-when "depressed"
  #{subtype.high_energy_activities.ing} is painful; it makes me feel #{subtype.tired}
-when "productive"
  #{subtype.high_energy_harvest.ing} is pointless; I don’t need the #{subtype.aka}
-when "appreciative"
  #{subtype.high_energy_activities.ing} is pointless; there isn’t any#{subtype.thing} I want to #{subtype.achieve}
-when "manic"
  #{subtype.high_energy_harvest.ing} is painful; it makes me feel #{subtype.overwhelmed}

