-case subtype.episode
-when "mixed", "manic"
  #{subtype.use_energy} #{subtype.knowns} instead of new or unfamiliar #{subtype.goals}
-when "euthymic", "depressed"
  #{subtype.achieve} all the #{subtype.goals} you want to #{subtype.achieve}

and

-case subtype.episode
-when "depressed", "mixed"
  #{subtype.get} #{subtype.staples} instead of #{subtype.extras}
-when "euthymic", "manic"
  #{subtype.get} all the #{subtype.resources} you want to #{subtype.sense}
