-case subtype.season
-when "spring", "winter"
  no #{subtype.extras}! (unless they are constrained / externally limited and you cannot #{subtype.get} too #{subtype.extras.much})
-when "autumn", "summer"
  #{subtype.get_extras} if you need extra #{subtype.informal_energy}, otherwise #{subtype.get_staples}
