%p Your choice is between #{t :adverb} fat (#{t :consuming} more and gaining #{t :reserves}) and #{t :adverb} lethargic (#{t :consuming} less and #{t :producing} less). Those are the two states that you cycle between.
