%h3 Morning or Mania: #{subtype.adverb} active
%ol
  %li wake up
  %li #{subtype.get} #{subtype.energizers}
  %li #{subtype.produce} a little
%h2 #{subtype.name}
%ol
  %li #{subtype.get} #{subtype.energizers} and #{subtype.strengtheners}
  %li take a short break
  %li #{subtype.produce}
%h3 Evening or Depression: #{subtype.adverb} inactive
%ol
  %li #{subtype.get} #{subtype.strengtheners}
  %li #{subtype.produce} a lot
  %li fall asleep
