You #{t :consume} less because you think you need less #{t :reserves}. You don’t. You need to #{t :consume} more so that you can #{t :produce} more and #{t :achieve} the #{t :goals} you want to #{t :achieve}.
