=render "e"
%p You chose lethargic: you #{t :consume} less because you do not want to gain #{t :reserves}.
%p You were indoctrinated into the belief that if you #{t :consume} more and gain #{t :reserves}, then you are being “bad”. You feel guilty when you #{t :consume} “too much”.
%p
  You
  %em can
  #{t :consume} more in order #{t :produce} more and #{t :achieve} the #{t :goals} you want or need to #{t :achieve}. It’s okay to #{t :consume} more and become #{t :adverb} fat when you’re depressed.
