=render "e"
%p For whatever reason you chose lethargic. You #{t :consume} less because you do not want to gain #{t :reserves}.
%p
  Since this choice has made you unhappy — or else you would have said
  =link_to "#{t :adverb} fat", subtype_path("e#{I18n.locale}p")
  was your problem — BipolarType theorizes that you did not actually make this choice. It was made for you as a child.
%p You were indoctrinated into the belief that if you #{t :consume} more and gain #{t :reserves}, then you are being “bad”. You feel guilty when you #{t :consume} “too much”.
%p
  You
  %em can
  #{t :consume} more in order #{t :produce} more and #{t :achieve} the #{t :goals} you want or need to #{t :achieve}. It’s okay.
