-case subtype.season
-when "autumn"
  Your environment is filled with lots of #{subtype.extras} you can #{subtype.take} but very few #{subtype.goals} you can #{subtype.achieve}.
-when "winter"
  Your environment is filled with very few #{subtype.extras} you can #{subtype.take} and very few #{subtype.goals} you can #{subtype.achieve}.
-when "spring"
  Your environment is filled with very few #{subtype.extras} you can #{subtype.take} but lots of #{subtype.goals} you can #{subtype.achieve}.
-when "summer"
  Your environment is filled with lots of #{subtype.extras} you can #{subtype.take} and lots of #{subtype.goals} you can #{subtype.achieve}.

