%h3 Morning or Mania: lose #{subtype.potential}
%ol
  %li wake up
  %li #{subtype.fast}
  %li #{subtype.consume} a little
%h2 #{subtype.name}
%ol
  %li #{subtype.fast} and #{subtype.strong}
  %li take a short break
  %li #{subtype.consume}
%h3 Evening or Depression: gain #{subtype.strength}
%ol
  %li #{subtype.strong}
  %li #{subtype.consume} a lot
  %li fall asleep
