=render "e"
%p You chose fat: you #{t :consume} more because you do not want to #{t :produce} less.
%p You were indoctrinated into the belief that if you #{t :consume} less and remain #{t :inactive}, then you are being “bad”. You feel guilty when you don’t #{t :produce} “enough”.
%p
  You
  %em can
  #{t :consume} less in order to lose the #{t :reserves} you want or need to lose. It’s okay to #{t :consume} less and become #{t :adverb} lethargic when you’re depressed.
