You #{t :consume} more because you think you need to #{t :produce} more and #{t :achieve} more #{t :goals}. You don’t. You need to #{t :consume} less so that you can lose the #{t :reserves} you want to lose.
