=render "e"
%p For whatever reason you chose fat. You #{t :consume} more because you do not want to #{t :produce} less.
%p
  Since this choice has made you unhappy — or else you would have said
  =link_to "#{t :adverb} lethargic", subtype_path("e#{I18n.locale}j")
  was your problem — BipolarType theorizes that you did not actually make this choice. It was made for you as a child.
%p You were indoctrinated into the belief that if you #{t :consume} less and remain #{t :inactive}, then you are being “bad”. You feel guilty when you don’t #{t :produce} “enough”.
%p
  You
  %em can
  #{t :consume} less in order to lose the #{t :reserves} you want to lose. It’s okay.
