-case subtype.episode
-when "mixed", "depressed"
  #{subtype.get} #{subtype.staples} if you feel #{subtype.empty}, otherwise #{subtype.close} your #{subtype.sensors}
-when "euthymic", "manic"
  #{subtype.get_energy}
