%p.heading I like to #{realm.consume} but I don't like to #{realm.produce}.
-unless @answer
  %p.center I accumulate too #{realm.potential.many_phrase}.
  %hr.half
  %p.center
    #{realm.consume.capitalize} less than you want to #{realm.consume} and #{realm.produce} more than you want to #{realm.produce} and then
    %em forget
    about it.
  %p.center
    You will never have as #{realm.potential.few_phrase} as you want to have unless you make yourself 
    %em miserable.
