%p.center I like to #{realm.consume}
-unless @answer
  %p If you have more #{realm.potential} than you want to have:
  %ol.left
    %li Every time you want to #{realm.consume_with} something, ask yourself: "can it wait?".
    %li The more you #{realm.produce}, the sooner you will be able to #{realm.consume}. 