%p Because you try to #{subtype.consume} less whether you’re manic or depressed. 
%p This means you #{subtype.produce} less. Thus, depression is aggravated and mania is mitigated. 
%p The good news is that you will never lose too #{subtype.potential.many_phrase} when you are manic. The bad news is that you keep trying to become manic or take stimulants so you will lose a #{subtype.potential.few_phrase} but you always gain back more during the subsequent depression.
%p If you #{subtype.consume} more, you will be able to #{subtype.produce} more. If you #{subtype.consume_with} things that #{subtype.appear} better, you will feel as if you have #{subtype.consume.en} more and you will be able to #{subtype.waste} more without binging.