%p I can #{realm.consume} (consume in the #{realm.adjective} realm) whether or not I am #{realm.empty} (low on #{realm.adjective} energy) and almost never feel #{realm.overwhelmed}.
%p I don’t always #{realm.produce} (produce in the #{realm.adjective} realm) even when I am #{realm.full} (high on #{realm.adjective} energy) especially when I am feeling tired or #{realm.weak} (#{realm.adverb} weak).
%p I tend to accumulate unwanted #{realm.long} whenever I am tired or depressed.
