%p.heading I don’t like to #{realm.produce} but I like to #{realm.consume}.
-unless @answer
  %hr.half
  %p.center You will never be as #{realm.thin} as you want to be.
  %p.center You need to #{realm.produce} more than you want to #{realm.produce} and #{realm.consume} less than you want to #{realm.consume} or you will become too #{realm.fat}.
  %p.center But being #{realm.fat} and happy is better than being #{realm.thin} and suicidal.
