%p I can’t #{realm.produce}; I #{realm.consume} too much; I gain unwanted #{realm.potential}; my #{realm.strengths} #{realm.atrophy} from lack of use.
-unless @answer
  %p Stop trying to #{realm.consume} less and start #{realm.produce.ing} more. Instead of #{realm.produce.ing} less when you are #{realm.worn_out}, #{realm.consume_with} more #{realm.strengtheners}.
  %p If you want to get rid of some of your excess #{realm.potential} you will have to feel much #{realm.empty.er} before you #{realm.consume_with} #{realm.energizers}.
