%p 
  Because you can. You may bitch and moan about how #{subtype.potential.many_phrase} you have, or how much you have to #{subtype.produce}, but the truth is, you are
  %em capable
  of #{subtype.consume_with.ing} an enormous quantity of #{subtype.energizers} without becoming #{subtype.adverb} ill. If you #{subtype.consume} too much, you’ll just fall asleep until you have finished #{subtype.process.ing}.
%p 
  So why do you get stuck in consumption mode when you are no longer #{subtype.empty} and clearly don’t need the #{subtype.kinetic}? Because you still feel #{paired.empty} but cannot #{paired.energize} without becoming #{paired.adverb} ill and #{paired.strengtheners} just don’t provide as #{paired.kinetic.many_phrase} as #{paired.energizers} do. You’re stuck in consumption mode because you can’t
  %em=paired.consume.period
%p
  You’re going to continue to #{subtype.consume} until you no longer feel #{paired.empty}. So #{paired.consume} #{paired.consume_helper} your favorite #{paired.resources}, the kind that you know won’t make you #{paired.adverb} ill.
