%p.heading I like to #{realm.consume} but I don’t like to #{realm.produce}.
-unless @answer
  %p.center I have too #{realm.potential.many_phrase}.
  %hr.half
  %p You will never be really happy in this realm, because if you #{realm.consume} as much as you want to #{realm.consume} and #{realm.produce} as little as you want to #{realm.produce} you will accumulate far too #{realm.potential.many_phrase}, which is #{realm.adverb} unhealthy.
  %p
    The best you can hope for is to minimize the pain by both #{realm.consume.ing} less than you want to #{realm.consume}
    %em and
    #{realm.produce.ing} more than you want to #{realm.produce} and accepting the fact that you wil always have more #{realm.potential} than you want to have.
