%li Postpone #{subtype.consume_time} as long as possible.
%li If you aren’t feeling #{subtype.empty} enough to start by #{subtype.consume_with.ing} things that are good for you, you can wait a little longer.
%li #{subtype.consume_with.capitalize} as many things that #{subtype.appear} good as you can.
%li The more satisfied you feel after #{subtype.consume_with.ing} something, the longer you will be willing to wait until you #{subtype.consume} again.
%li The more you #{subtype.waste}, the more you will be able to #{subtype.consume}.