%li Prepone #{subtype.produce_time} as soon as possible.
%li The less #{subtype.full} you feel, the less willing you will be to #{subtype.produce_with} #{subtype.thing.some} that #{subtype.appear.s} bad.
%li #{subtype.produce_with.capitalize} as many #{subtype.thing.pluralize} that #{subtype.appear} good as you can.
%li The better you feel after #{subtype.produce_with.ing} #{subtype.thing.some}, the sooner you will be willing to #{subtype.produce} again.
%li The more you #{subtype.consume}, the more you will be able to #{subtype.waste}.