%p.heading I don’t like to #{realm.consume} but I like to #{realm.produce}.
-unless @answer
  %hr.half
  %p.center You will never be as #{realm.fat} as you want to be.
  %p.center You need to #{realm.consume} more than you want to #{realm.consume} and #{realm.produce} less than you want to #{realm.produce} or you will become too #{realm.thin}.
  %p.center But being #{realm.thin} and happy is better than being #{realm.fat} and suicidal.
