%p.heading I like to #{realm.produce} but I don't like to #{realm.consume}.
-unless @answer
  %p.center I have too #{realm.potential.few_phrase}.
  %hr.half
  %p.center
    #{realm.consume.capitalize} more than you want to #{realm.consume} and #{realm.produce} less than you want to #{realm.produce} and then
    %em forget
    about it.
  %p.center
    You will never have as #{realm.potential.many_phrase} as you want to have unless you make yourself 
    %em miserable.
