%p Because you always try to #{subtype.consume} more which means you end up #{subtype.produce.ing} more. Thus, mania is aggravated but the subsequent depression is less restorative.
%p You may try to take sedatives in order prolong the depression so you will gain more #{subtype.potential} but you will lose #{subtype.potential.them} all and more during the next mania when you inevitably become acclimated to the sedatives and the depression ends.
%p If you #{subtype.consume} less, you will be able to #{subtype.produce} less. If you #{subtype.consume_with} things that don’t #{subtype.appear} as bad, you will feel as if you have #{subtype.consume.en} even less and will be able to #{subtype.produce} even less.
%p Don’t go overboard and #{subtype.consume_with} less than you want to #{subtype.consume_with}, but let yourself stop #{subtype.consume.ing} naturally, and don’t force yourself to continue once you start to feel #{subtype.adverb} ill.
%p The less you #{subtype.produce_with}, the #{subtype.potential.fewer_phrase} you will lose when you are manic and the more you will gain when you are depressed.
