%p.heading I #{realm.produce} too much and run out of #{realm.long} when I am manic.
-unless @answer
  %p I can’t always #{realm.consume} (consume in the #{realm.adjective} realm) without feeling #{realm.overwhelmed} (#{realm.adverb} overwhelmed) even if I am #{realm.empty} (low on #{realm.adjective} energy)
  %p I #{realm.produce} (produce in the #{realm.adjective} realm) whether or not I am #{realm.full} (high on #{realm.adjective} energy) and never stop just because I feel #{realm.weak} (although I will #{realm.produce} less).
