%p You are #{realm.adverb} balanced.
%p You have the right to remain #{realm.unproductive} and to not #{realm.produce} when you don’t want to. The more you #{realm.produce}, the more you will have to #{realm.consume}, and the more you #{realm.consume}, the more often you will #{realm.reject}.
%p You don’t need a lot of #{realm.potential} since you don’t want to be able to #{realm.produce} for a long time without having to stop and #{realm.consume} so don’t #{realm.consume_with} #{realm.energizers} unless you feel #{realm.empty}.
