%p.heading I don’t like to #{realm.consume} but I like to #{realm.produce}.
-unless @answer
  %p.center I have too #{realm.potential.few_phrase}.
  %hr.half
  %p You will never be really happy in this realm, because if you #{realm.produce} as much as you want to #{realm.produce} and #{realm.consume} as little as you want to #{realm.consume} you will lose far too #{realm.potential.many_phrase}, which is #{realm.adverb} unhealthy.
  %p
    The best you can hope for is to minimize the pain by both #{realm.produce.ing} less than you want to #{realm.produce}
    %em and
    #{realm.consume.ing} more than you want to #{realm.consume} and accepting the fact that you will always have #{realm.potential.fewer_phrase} than you want to have.
