%p I #{realm.produce} (produce in the #{realm.adjective} realm) whether or not I am #{realm.full} (high on #{realm.adjective} energy) and never stop just because I feel #{realm.weak} (although I will #{realm.produce} less).
%p I can’t always #{realm.consume} (consume in the #{realm.adjective} realm) even when I am #{realm.empty} (low on #{realm.adjective} energy) especially when I am feeling stressed or #{realm.overwhelmed} (#{realm.adverb} overwhelmed).
%p I tend to run out of critical #{realm.long} and whenever I am stressed or manic.
