%p Because you try to #{subtype.consume} more whether you’re manic or depressed. 
%p This means you #{subtype.produce} more. Thus, mania is aggravated and depression is mitigated. 
%p The good news is that you will never gain too #{subtype.potential.many_phrase} when you are depressed. The bad news is that you keep trying to become depressed or take sedatives so you will gain a #{subtype.potential.few_phrase} but you always lose more during the subsequent mania.
%p If you #{subtype.consume} less, you will be able to #{subtype.produce} less. If you #{subtype.consume_with} #{subtype.thing.pluralize} that don’t #{subtype.appear} as bad, you won’t feel as if you have #{subtype.consume.en} as much and you will be able to #{subtype.consume} more without #{subtype.waste.ing}.