%p I can’t #{realm.consume}; I #{realm.produce} too much; I lose needed #{realm.potential}; I develop unwanted #{realm.strengths}.
-unless @answer
  %p Stop trying to #{realm.consume} more and start #{realm.produce.ing} less. Instead of #{realm.consume_with.ing} more #{realm.strengtheners} after you are #{realm.worn_out}, just don’t #{realm.produce} in the first place if you think it will make you feel #{realm.worn_out}.
  %p If you want to gain #{realm.potential} you will have to stop #{realm.produce.ing} after you #{realm.consume_with} #{realm.energizers}.
