%p.center I don’t like to #{realm.consume}
-unless @answer
  %p If you have #{realm.potential.fewer_phrase} than you want to have:
  %ol.left
    %li Every time you want to stop #{realm.consume.ing}, ask yourself: "can I #{realm.consume_with} something else?".
    %li The less you #{realm.produce}, the sooner you can stop #{realm.consume.ing}.
