%p 
  Because you can. You may bitch and moan about how #{subtype.worn_out} you are, or how #{subtype.strengtheners.many_phrase} you have to #{subtype.consume_with}, but the truth is, you are
  %em capable
  of #{subtype.produce_with.ing} an enormous quantity of #{subtype.things} without feeling so #{subtype.worn_out} you can no longer #{subtype.produce_with} the #{subtype.things} you need to #{subtype.produce_with}.
%p 
  So why do you get stuck in production mode when you are no longer #{subtype.full} and don’t want to waste the #{subtype.kinetic}? Because you still feel #{paired.full} but cannot #{paired.produce} because you fear being #{paired.worn_out}. You’re stuck in production mode because you won’t
  %em=paired.produce.period
%p
  You’re going to continue to #{subtype.produce} until you no longer feel #{paired.full}. Is it really worth being #{subtype.worn_out} all the time just to avoid being #{paired.worn_out} occasionally?
