%p In order to gain #{t :stored} you have to #{t :consume} more and #{t :produce} less. This will cause you short term pain as you will feel #{t :sick} and #{t :adverb} restless.
%p If you are highly motivated you can endure the short term pain for the sake of the long term benefit. But if your motivation should happen to slip or you are distracted by other stresses in your life, you will automatically #{t :consume} less to relieve the pain of #{t :sickness} and #{t :produce} more to relieve the pain of #{t :adjective} restlessness. 
%p It is easier to persevere if you can offset the increased pain with increased pleasure. 
