-case subtype.season
-when "winter", "spring"
  Try to #{subtype.refuel} as much as possible during the afternoon and evening.
  %p When you do #{subtype.refuel}, try to add #{subtype.extras} to the #{subtype.staples} whenever possible.
-when "summer", "autumn"
  Never #{subtype.refuel} during the night or first thing in the morning unless you are #{subtype.dying}.
  %p When you do #{subtype.refuel}, replace #{subtype.extras} with #{subtype.staples} whenever possible.
