want to
-case subtype.problem
-when "hyperactive"
  be #{subtype.passive} (and gain #{subtype.stored_energy})
-when "finicky"
  gain #{subtype.stored_energy} (and be #{subtype.passive})
-when "lazy"
  #{subtype.achieve_more} (and get rid of excess #{subtype.stored_energy})
-when "greedy"
  get rid of excess #{subtype.stored_energy} (and #{subtype.achieve_more})
