%p Your choice is between #{t :adverb} thin (#{t :consuming} less and losing #{t :reserves}) and #{t :adverb} hyperactive (#{t :consuming} more and #{t :producing} more). Those are the two states that you cycle between.
