=render "i"
%p For whatever reason you chose hyperactive. You #{t :consume} more because you do not want to lose #{t :reserves}.
%p
  Since this choice has made you unhappy — or else you would have said
  =link_to "#{t :adverb} thin", subtype_path("i#{I18n.locale}p")
  was your problem — BipolarType theorizes that you did not actually make this choice. It was made for you as a child.
%p You were indoctrinated into the belief that if you #{t :consume} less and lose #{t :reserves}, then you are being “bad”. You feel guilty when you don’t #{t :consume} “enough”.
%p
  You
  %em can
  #{t :consume} less in order #{t :produce} less and not #{t :achieve} #{t :goals} you don’t want or need to #{t :achieve}. It’s okay.
