You #{t :consume} more because you think you need more #{t :reserves}. You don’t. You need to #{t :consume} less so that you will #{t :produce} less and not #{t :achieve} #{t :goals} you don’t need to #{t :achieve}.
