=render "i"
%p You chose hyperactive: you #{t :consume} more because you do not want to lose #{t :reserves}.
%p You were indoctrinated into the belief that if you #{t :consume} less and lose #{t :reserves}, then you are being “bad”. You feel guilty when you don’t #{t :consume} “enough”.
%p
  You
  %em can
  #{t :consume} less in order #{t :produce} less and not #{t :achieve} #{t :goals} you don’t want or need to #{t :achieve}. It’s okay to #{t :consume} less and become #{t :adverb} thin when you’re manic.
