-case subtype.season
-when "autumn", "summer"
  %p Your goal is to convince yourself that #{subtype.resources} are scarce.
  %p
    Don’t #{subtype.refuel} in the morning; morning (and the middle of the night) is the
    %em easiest
    time not to #{subtype.refuel}; it will soon feel natural even if you were taught to #{subtype.refuel} every morning.
  %p When you do #{subtype.refuel}, make every effort to replace #{subtype.extras} with #{subtype.staples}; #{subtype.staples} do not signal #{subtype.neuro} that  #{subtype.energy} is abundant; they also tend not to #{subtype.appear} as good as #{subtype.extras} and are usually less tempting.
-when "winter", "spring"
  %p Your goal is to convince yourself that #{subtype.resources} are abundant.
  %p
    Do #{subtype.refuel} in the morning; morning (and the middle of the night) is the
    %em hardest
    time to #{subtype.refuel}; it will not feel natural but you can learn to make it a habit to #{subtype.refuel} every morning.
  %p When you do #{subtype.refuel}, make every effort to add #{subtype.extras} to the #{subtype.staples}; #{subtype.extras} signal #{subtype.neuro} that  #{subtype.energy} is abundant; they also tend to #{subtype.appear} better than #{subtype.staples} and are usually more tempting.