-case subtype.attitude.ordinal
-when "first"
  Don’t bother #{subtype.collect_w.ing} #{subtype.strengtheners} when you are depressed; they won’t increase your #{subtype.strength} since you did’t #{subtype.practice} before #{subtype.collect.ing}. If you have to #{subtype.collect_w} something, #{subtype.collect_w} #{subtype.energizers}; you may have a lot of #{subtype.reserves}, but you cannot
  %em access
  it when you are depressed and you need #{subtype.energy} in order to #{subtype.accomplish} the #{subtype.goals} you want to #{subtype.accomplish}.
-when "second"
  Don’t #{subtype.collect_w} #{subtype.energizers} when you are depressed. It’s far to easy to #{subtype.collect} too much and gain unwanted #{subtype.reserves}. And you do
  %em not
  want more #{subtype.reserves} because then you will have to #{subtype.practice} more. If you need to #{subtype.collect_w} something, #{subtype.collect_w} #{subtype.strengtheners}; they are harder to #{subtype.collect} and you are less likely to gain unwanted #{subtype.reserves}.
  -if @type
    If you cannot #{@type.fourth.collect}, and are running low on #{@type.fourth.energy}, then it’s better to #{subtype.collect_w} #{subtype.energizers} and gain #{subtype.reserves} than not #{@type.fourth.collect} and die.
-when "third"
  If you can #{subtype.collect} then you
  %em can
  #{subtype.collect} something. You just can’t #{subtype.collect} as much. It may make you feel sick, but keep #{subtype.collect.ing}. Try to ignore the #{subtype.strengtheners} and #{subtype.collect_w} the #{subtype.energizers}; #{subtype.energizers} won’t make you feel as sick because they are easier to #{subtype.collect}. Even if you have enough #{subtype.reserves} now, it’s still not a good idea to deplete it when you are manic, because you don’t know how long the mania will last.
  -if @type
    Also, if you keep #{subtype.collect.ing} you will be able to
    #{@type.fourth.collect} more and the more you can #{@type.fourth.collect}, the better.
-when "fourth"
  Since you can’t #{subtype.collect} when you are manic, you have to make sure you have enough #{subtype.reserves} to live on for as long as the mania lasts. #{subtype.collect_w.capitalize} more #{subtype.energizers} when you
  %em aren’t
  manic. It’s easier to turn #{subtype.energizers} into #{subtype.energy} than it is to #{subtype.collect} #{subtype.strengtheners} and the more excess #{subtype.energy} you get the more #{subtype.reserves} you will store.
  -if @type
    If you are having trouble #{subtype.collect_w.ing} things, then #{@type.third.collect_w} something. Even if you can’t #{@type.third.collect} much. #{@type.third.collect.ing.capitalize} #{@type.third.energizers} will calm you down enough to #{subtype.collect}. If you are about to
    %em die
    from a lack of #{subtype.energy}, then
    #{@type.second.collect_w} some #{@type.second.energizers}! You won’t die if you gain some #{@type.second.reserves}; you
    %em will
    die if you don’t get some #{subtype.energy}.
