%h2 Insensitive
%p Less sensitive to #{@quad.first.energizers} and #{@quad.second.energizers}, you almost never feel #{@quad.first.ill} and rarely #{@quad.second.ill}. Even when manic or on stimulants such as caffeine.
%p You’re more apt to stop #{@quad.first.produce.ing} and fall asleep after an overdose of #{@quad.first.energizers} to give yourself a chance to #{@quad.first.process}, although you occasionally fall asleep after an overdose of #{@quad.second.energizers} if you’re already tired.
%p You’re more apt to start #{@quad.second.produce.ing} after an overdose of #{@quad.second.energizers} before you've finished #{@quad.second.process.ing}, although you occasionally start #{@quad.first.produce.ing} after an overdose of #{@quad.first.energizers} if you’re not tired.
