You #{t :consume} less because you think you need to #{t :produce} less and #{t :achieve} fewer #{t :goals}. You don’t. You need to #{t :consume} more so that you can gain the #{t :reserves} you need to gain.
