=render "i"
%p For whatever reason you chose thin. You #{t :consume} less because you do not want to #{t :produce} more and #{t :achieve} #{t :goals} you’re not “supposed” to #{t :achieve}.
%p
  Since this choice has made you unhappy — or else you would have said
  =link_to "#{t :adverb} hyperactive", subtype_path("i#{I18n.locale}j")
  was your problem — BipolarType theorizes that you did not actually make this choice. It was made for you as a child.
%p You were indoctrinated into the belief that if you #{t :consume} more and #{t :achieve} too many #{t :goals}, then you are being “bad”. You feel guilty when you #{t :produce} “too much”.
%p
  You
  %em can
  #{t :consume} more in order to gain the #{t :reserves} you want or need to gain. It’s okay.
