=render "i"
%p You chose thin: you #{t :consume} less because you do not want to #{t :produce} more.
%p You were indoctrinated into the belief that if you #{t :consume} more and #{t :achieve} too many #{t :goals}, then you are being “bad”. You feel guilty when you #{t :produce} “too much”.
%p
  You
  %em can
  #{t :consume} more in order to gain the #{t :reserves} you want or need to gain. It’s okay to #{t :consume} more and become #{t :adverb} hyperactive when you’re manic.
