When I am depressed, I wake up and cannot #{realm.outs.or}; I have to #{realm.attend} before I feel awake and energetic to #{realm.output}, but I have to #{realm.output} before I can #{realm.attend}, so I usually just go back to sleep.
