-case subtype.attitude.adjective
-when "alpha"
  Don’t #{subtype.labor} in the evening, especially if you feel manic. If you can avoid it, don’t #{subtype.labor} at midday either. In fact, avoid or postpone #{subtype.labor.ing} whenever you can.  When you do #{subtype.labor}, #{subtype.use_more_energy} than #{subtype.strength}. Do #{subtype.get_nice_energy} even if you can’t #{subtype.process} the #{subtype.strengtheners}.
-when "beta"
  Do #{subtype.consume} every evening, even if you feel manic. If you have time, #{subtype.consume} at midday also. When you #{subtype.consume}, try to #{subtype.get_nice_energy} rather than the #{subtype.strengtheners}. Don’t bother #{subtype.produce.ing} if you won’t be able to #{subtype.change_nouns}.
-when "gamma"
  Do #{subtype.labor} every morning, even if you feel depressed. If you have time, #{subtype.labor} in the afternoon also. When you #{subtype.labor}, try to use more #{subtype.strength} than #{subtype.energies}. Don’t bother #{subtype.consume.ing} just because the #{subtype.energizers} appear #{subtype.nice}; you need #{subtype.strengtheners} to develop your #{subtype.strength}.
-when "delta"
  Don’t #{subtype.consume} in the morning, especially if you feel depressed. Try not to #{subtype.consume} in the afternoon either. In fact, avoid or postpone #{subtype.consume.ing} whenever you can. When you do #{subtype.consume}, #{subtype.get_strength} instead of #{subtype.energizers}. Do #{subtype.produce} even if you don’t want to #{subtype.change_nouns}.
