%p.center.bold Severe #{greater.realm.name}#{first} (#{greater.aka.ing.too_much}) with Mild #{lesser.realm.name}#{second} (#{lesser.aka.ing.too_much})

%ol
  %li If you try to #{lesser.opposite.aka.more} than feels comfortable, then you will #{greater.aka.too_much}
  %li If you #{greater.displacer.aka} instead, it will be easier not to #{greater.aka.too_much}
  %li If you #{greater.aka.ed.too_much}, you will have to #{greater.balancer.aka.more} (and you won’t be able to #{greater.balancer.aka.enough})
  %li You will also have to #{greater.opposite.aka.more} than feels comfortable, which will cause you to #{lesser.aka.too_much}
  %li If you #{lesser.displacer.aka} instead, it will be easier not to #{lesser.aka.too_much}
  %li If you #{lesser.aka.ed.too_much}, you will have to #{lesser.balancer.aka.more} (and you won’t be able to #{lesser.balancer.aka.enough})
  %li You will also have to #{lesser.opposite.aka.more} than feels comfortable, which will cause you to #{greater.aka.too_much}
  %li And the cycle will start all over again

%p In other words, trying to #{lesser.opposite.aka.too_much} and #{greater.opposite.aka.too_much} are triggers and should be avoided whereas #{greater.displacer.aka.ing.more} and #{lesser.displacer.aka.ing.more} are displacers and should be encouraged.
