-case subtype.attitude.adjective
-when "production"
  Do #{subtype.labor} every morning, even if you feel depressed. If you have time, #{subtype.labor} in the afternoon also. When you #{subtype.labor}, try to #{subtype.use_more_strength} than #{subtype.energies}. Don’t bother #{subtype.consume.ing} if you won’t be able to #{subtype.process_the_resources}.
-when "reception"
  Do #{subtype.consume} every evening, even if you feel manic. If you have time, #{subtype.consume} at midday also. When you #{subtype.consume}, try to #{subtype.get_more_energy} than #{subtype.strengtheners}. Don’t bother #{subtype.produce.ing} if you won’t be able to #{subtype.change_nouns}.
-when "depression"
  Don’t #{subtype.consume} in the morning, especially if you feel depressed. Try not to #{subtype.consume} in the afternoon either. In fact, avoid or postpone #{subtype.consume.ing} whenever you can. When you do #{subtype.consume}, try to #{subtype.get_more_strength} than #{subtype.energizers}. Do #{subtype.produce} even if you don’t want to #{subtype.change_nouns}.
-when "mania"
  Don’t #{subtype.labor} in the evening, especially if you feel manic. If you can avoid it, don’t #{subtype.labor} at midday either. In fact, avoid or postpone #{subtype.labor.ing} whenever you can.  When you do #{subtype.labor}, try to #{subtype.use_more_energy} than #{subtype.strength}. Do #{subtype.consume} even if you don’t want to #{subtype.process_the_resources}.
