%h2=link_to behavior.episode, behavior.answer_path
%p.center=behavior.horizontal_when
%p.left #{behavior.words.ing.capitalize} is perfectly normal. It only creates #{behavior.severity.an} imbalance because you prefer it to all other #{behavior.realm.word} behaviors. You can, and do, #{behavior.words} at any time #{behavior.realm.word} #{behavior.focus} is expected of you, which means you rarely #{behavior.manic? ? "have excess" : "need more"}. This is a problem during the #{behavior.generic_behavior.name} phase, because <em>everyone</em> feels the urge to #{behavior.eg.more} than usual during that phase.

%ol
  %li Don’t #{behavior.eg} in the #{behavior.generic_behavior.name} phase.

  %li Do #{behavior.instead.eg} in the #{behavior.instead.generic_behavior.name} phase.

  %li #{behavior.more.eg.more.capitalize} in the #{behavior.more.generic_behavior.name} phase.

  %li #{behavior.less.eg.less.capitalize} in the #{behavior.less.generic_behavior.name} phase.
