.center Goal: #{goal.name}
=render 'cycle',
  caption: "Nature: #{behavior.name}",
  chunks: behavior.siblings.collect{|s| "#{s.name}<br />#{behavior.nature(s).prefix('is')}#{render s.example_path}".html_safe}
