%p In order to lose #{t :stored} you have to #{t :consume} less and #{t :produce} more. This will cause you short term pain as you will feel #{t :empty} and #{t :worn_out}.
%p If you are highly motivated you can endure the short term pain for the sake of the long term benefit. But if your motivation should happen to slip or you are distracted by other stresses in your life, you will automatically #{t :consume} more to relieve the pain of #{t :emptiness} and #{t :produce} less to relieve the pain of #{t :injury}. 
%p It is easier to persevere if you can offset the increased pain with increased pleasure. 
