When I am manic, I stay up and keep #{realm.outings.or}; I have to stop #{realm.attend.ing} before I feel sleepy and relaxed enough to stop #{realm.output.ing}, but I have to stop #{realm.output.ing} before I can stop #{realm.attend.ing}, so I usually just stay awake.

