-case subtype.attitude.path
-when "a"
  Avoid #{subtype.triggers}. You are #{subtype.output.ing} more and need more #{subtype.energy}. You don’t have time to waste trying to #{subtype.harvest_resources} that trigger #{subtype.neurochemicals} and make you feel #{subtype.overwhelmed} and unable to #{subtype.input} at all.
-when "b"
  Stick to #{subtype.hit.ing} the same #{subtype.targets} you have #{subtype.hit.en} in the past. New and interesting #{subtype.targets} are much more likely to trigger #{subtype.output.ing} splurges that you will regret wasting your #{subtype.energy} on later.
-when "c"
  Unless you still have #{subtype.an_energetic} surplus from previous depressions, you can #{subtype.harvest} #{subtype.triggers} if you are willing to #{subtype.output} more; you will be able to #{subtype.do_work} without feeling so #{subtype.exhausted}.
-when "d"
  Try to #{subtype.hit} new or stressful #{subtype.targets} or #{subtype.targets} you have been unable to #{subtype.hit} in the past. You won’t have to keep stopping to rest because you feel #{subtype.exhausted} and should be able to do some good #{subtype.adjective} work.
