-case subtype.problem
-when "lazy"
  Take the opportunity to #{subtype.high_energy_activities}; you should be able to without feeling #{subtype.tired}.
-when "fussy"
  If you want to stop being manic and be able to #{subtype.high_energy_harvest}, then #{subtype.high_energy_activities} until you feel tired and #{subtype.tired}.
-when "hyperactive"
  Do
  %em not
  #{subtype.high_energy_activities}; you will not be able to stop. #{subtype.low_energy_activities.capitalize} when you want to #{subtype.achieve_something}.
-when "greedy"
  Do
  %em not
  #{subtype.high_energy_activities} just because you can without feeling #{subtype.tired}; it will trigger #{subtype.adjective} depression. #{subtype.low_energy_activities.capitalize} when you want to #{subtype.achieve_something}.
