Because you are sensitive to
=subtype.triggers.comma
-unless subtype.consumer?
  if you cannot
  =subtype.produce
  less
you will find it easier to
=subtype.consume_verb
more if you
=subtype.consume
eight
==#{subtype.density / 2}-#{subtype.kinetics}-per-#{subtype.resource}
=subtype.resource.pluralize
or, even better, twelve
==#{subtype.density / 3}-#{subtype.kinetics}-per-#{subtype.resource}
=subtype.resource.pluralize.period
