-case subtype.season
-when "autumn", "winter"
  #{subtype.do_chores} if you need to, otherwise #{subtype.cheat}
-when "spring", "summer"
  #{subtype.achieve} new #{subtype.goals} if you need to, otherwise just #{subtype.practice}

