-case subtype.episode
-when "mixed", "manic"
  #{subtype.use_energy} #{subtype.knowns} if you feel #{subtype.adjective}ly restless, otherwise you have the right to remain #{subtype.passive}
-when "euthymic", "depressed"
  #{subtype.use_energy} #{subtype.knowns} until you have some#{subtype.thing} else you need to #{subtype.achieve}
