-case subtype.attitude.adjective
-when "depressed"
  A lot of #{subtype.triggers} can put me to sleep even in the middle of a summer day (unless I’m manic)
-when "calm"
  A lot of #{subtype.triggers} can calm me down, but I can still #{subtype.act} if I want to #{subtype.accomplish} #{subtype.something}
-when "alert"
  A lot of #{subtype.triggers} can rev me up, but I can stop #{subtype.act.ing} if I don’t have #{subtype.anything} I want to #{subtype.accomplish}
-when "manic"
  A lot of #{subtype.triggers} can keep me awake even in the middle of a winter night (unless I’m depressed)
