-case subtype.attitude.path
-when "a"
  If you feel #{subtype.overwhelmed} take a break and finish #{subtype.input.ing} later. If you feel too #{subtype.overwhelmed} to #{subtype.input} at all, then save those #{subtype.resources} for the next time you are depressed and #{subtype.harvest} something else.
-when "b"
  Unless you still have #{subtype.an_energetic} deficit from previous manias, you can #{subtype.hit} new #{subtype.targets} as long as you are willing to #{subtype.input} when you are feeling #{subtype.overwhelmed}.
-when "c"
  Unless you still have #{subtype.an_energetic} surplus from previous depressions, you can #{subtype.harvest} #{subtype.triggers} as long as you are willing to #{subtype.output} when you are feeling #{subtype.exhausted}.
-when "d"
  If you feel #{subtype.exhausted} take a break and finish #{subtype.output.ing} later. If you feel too #{subtype.exhausted} to #{subtype.output} at all, then save those #{subtype.targets} for the next time you are manic and #{subtype.hit} some#{subtype.thing} else.
