If you can’t sleep
-case subtype.season
-when "spring"
  because you #{subtype.got} too #{subtype.extras.many} #{subtype.extras} and are #{subtype.adjective}ly restless, #{subtype.practice} for a while
-when "summer"
  because you didn’t #{subtype.achieve} enough new #{subtype.goals} and are #{subtype.adjective}ly restless, #{subtype.practice} for a while
-when "autumn"
  because you #{subtype.did} too much and are #{subtype.adjective}ly exhausted, #{subtype.get} a #{subtype.staples.few} #{subtype.staples} or some #{subtype.mild} #{subtype.extras}
-when "winter"
  because you are #{subtype.adjective}ly stressed out and none of the solutions for other realms has helped, take a mild sedative and resolve not to #{subtype.get} any #{subtype.extras} or #{subtype.achieve} any new #{subtype.goals} tomorrow
