As a child, adults
-case subtype.attitude.ordinal
-when "first"
  did not want you to #{subtype.act}; they were not proud of you when you did and discouraged you from #{subtype.accomplish.ing} #{subtype.goals} during the day.
-when "second"
  were concerned with your lack of #{subtype.reserves}; they kept trying to #{subtype.give} you more #{subtype.energizer.s}.
-when "third"
  were concerned with your lack of #{subtype.strength}; they kept giving you more #{subtype.goals} to #{subtype.accomplish}.
-when "fourth"
  did not want you to rest; they were not proud of you when you did and discouraged you from going to bed early.
