If you want to
-case subtype.nurture
-when "fat"
  start #{subtype.refuel.ing} again,
-when "thin"
  stop #{subtype.refuel.ing} again,
-when "passive"
  stop #{subtype.drain.ing} again,
-when "active"
  start #{subtype.drain.ing} again,
just switch back to
-case subtype.nurture
-when "fat"
  #{subtype.tempting} #{subtype.extras}
-when "thin"
  #{subtype.basic} #{subtype.necessities}
-when "passive"
  #{subtype.easy} #{subtype.goal.s}
-when "active"
  #{subtype.hard} #{subtype.goal.s}
and you’ll
-case subtype.nurture
-when "fat"
  #{subtype.refuel} more and regain #{subtype.reserves}.
-when "thin"
  #{subtype.refuel} less and lose #{subtype.reserves}.
-case subtype.nurture
-when "passive"
  #{subtype.drain} less and regain #{subtype.reserves}.
-when "active"
  #{subtype.drain} more and lose #{subtype.reserves}.
