If you
-case subtype.imbalance
-when "fat"
  lose too much #{subtype.reserves},
-when "thin"
  gain too much #{subtype.reserves},
-when "passive"
  can’t stop #{subtype.work.ing},
-when "active"
  can’t #{subtype.work},
just return to the
-case subtype.imbalance
-when "fat"
  #{subtype.tempting} #{subtype.extras}
-when "thin"
  #{subtype.basic} #{subtype.necessities}
-when "passive"
  smaller #{subtype.whole.s}
-when "active"
  larger #{subtype.whole.s}
you are used to
-case subtype.imbalance
-when "fat", "thin"
  #{subtype.get.ing}.
-when "passive", "active"
  #{subtype.make.ing}.
