If you want to
-case subtype.nurture
-when "fat"
  stop losing #{subtype.reserves},
-when "thin"
  stop gaining #{subtype.reserves},
-when "passive"
  stop #{subtype.work.ing} so much,
-when "active"
  start #{subtype.work.ing} more again,
just return to the
-case subtype.nurture
-when "fat"
  #{subtype.tempting} #{subtype.extras}
-when "thin"
  #{subtype.basic} #{subtype.necessities}
-when "passive"
  short-term #{subtype.whole.s}
-when "active"
  long-term #{subtype.whole.s}
you were taught to
-case subtype.nurture
-when "fat", "thin"
  #{subtype.get}.
-when "passive", "active"
  #{subtype.make}.
