If you overcompensate, and
-case subtype.attitude.path
-when "d"
  gain too much #{subtype.reserves}, just go back to #{subtype.basic} #{subtype.resource} and you’ll stop #{subtype.refuel.ing} as soon as you #{subtype.sense} #{subtype.core}.

-when "c"
  #{subtype.work},
-when "b"
  stop #{subtype.work.ing},
-when "a"
  lose too much #{subtype.reserves}, just go back to #{subtype.tempting} #{subtype.resource} and you’ll resume #{subtype.refuel.ing} as soon as you #{subtype.sense} #{subtype.extras}.
