-if @realm
  If you cannot
  %span.sooner=a.word
  your #{r.organ},
  it&rsquo;s because you did not
  %span.longer=a.opposite.word
  it enough.
  <em>Not</em> because you need to
  %span.dont=a.previous.word
  it more.
-if @attitude
  If you shouldn&rsquo;t #{a.word} your
  =succeed ',' do
    %span.dont=r.organ
  but cannot #{a.word} your
  %span.sooner=@type.previous_realm(r).organ
  or your
  =succeed ',' do
    %span.longer=@type.next_realm(r).organ
  then you are in the right mood to #{a.word} your
  =succeed '.' do
    %span.mood=@type.opposite_realm(r).organ
-if @all
  =@type.problems.collect {|p| "#{p.previous.word} your #{p.organ}"}.and.capitalize
