.bold
  =link_to phase.name, phase.path, class: 'internal'
  %br
  =phase.short_when
%br
-case phase.symbol

  -when "GE"

    %p.left #{@type.behaviors.second.balancer.aka} <em>in addition to</em> #{@type.behaviors.second.opposite.aka.ing}

    %ol
      %li.green
        Do
        =link_to @type.behaviors.second.balancer.aka, @type.behaviors.second.balancer.path, class: 'internal'
      %li.red
        Do <em>not</em>
        =link_to @type.behaviors.first.aka, @type.behaviors.first.path, class: 'internal'


  -when "UE"

    %p.left #{@type.behaviors.third.displacer.aka} <em>instead of</em> #{@type.behaviors.third.aka.ing}

    %ol
      %li.blue
        Do
        =link_to @type.behaviors.third.displacer.aka, @type.behaviors.third.displacer.path, class: 'internal'
      %li.green
        Do
        =link_to @type.behaviors.fourth.opposite.aka, @type.behaviors.fourth.opposite.path, class: 'internal'

  -when "US"

    %p.left #{@type.behaviors.fourth.balancer.aka} <em>in addition to</em> #{@type.behaviors.fourth.opposite.aka.ing}

    %ol
      %li.green
        Do
        =link_to @type.behaviors.fourth.balancer.aka, @type.behaviors.fourth.balancer.path, class: 'internal'
      %li.red
        Do <em>not</em>
        =link_to @type.behaviors.third.aka, @type.behaviors.third.path, class: 'internal'

  -when "GS"

    %p.left #{@type.behaviors.first.displacer.aka} <em>instead of</em> #{@type.behaviors.first.aka.ing}

    %ol
      %li.blue
        Do
        =link_to @type.behaviors.first.displacer.aka, @type.behaviors.first.displacer.path, class: 'internal'
      %li.green
        Do
        =link_to @type.behaviors.second.opposite.aka, @type.behaviors.second.opposite.path, class: 'internal'

