.bold
  =link_to phase.name, phase.path, class: 'internal'
  %br
  =phase.short_when
%br
-case phase.symbol

  -when "GE"

    %ol
      %li Do #{@type.behaviors.second.balancer.aka}
      %li Do <em>not</em> #{@type.behaviors.first.aka}

    %p.left #{@type.behaviors.second.balancer.aka} <em>in addition to</em> #{@type.behaviors.second.opposite.aka.ing}


  -when "UE"

    %ol
      %li Do #{@type.behaviors.third.displacer.aka}
      %li Do #{@type.behaviors.fourth.opposite.aka}

    %p.left #{@type.behaviors.third.displacer.aka} <em>instead of</em> #{@type.behaviors.third.aka.ing}

  -when "US"

    %ol
      %li Do #{@type.behaviors.fourth.balancer.aka}
      %li Do <em>not</em> #{@type.behaviors.third.aka}

    %p.left #{@type.behaviors.fourth.balancer.aka} <em>in addition to</em> #{@type.behaviors.fourth.opposite.aka.ing}

  -when "GS"

    %ol
      %li Do #{@type.behaviors.first.displacer.aka}
      %li Do #{@type.behaviors.second.opposite.aka}

    %p.left #{@type.behaviors.first.displacer.aka} <em>instead of</em> #{@type.behaviors.first.aka.ing}
