%h3 Excess #{behavior.symbolic_name}

%p.left
  I continue to #{behavior.phrase} #{cookies[behavior.mbti].wrap}
  %em even when #{behavior.flip.bipolar.downcase}
  (which is not normal). I do it <em>even more</em> when #{behavior.bipolar.downcase}. I am very good at it.
