Why can’t I
-case subtype.problem
-when "greedy"
  stop #{subtype.harvest_resources.ing} I don’t want to #{subtype.harvest}?
-when "fussy"
  #{subtype.harvest} the #{subtype.resources} I do want to #{subtype.harvest}?
-when "hyperactive"
  stop #{subtype.achieve_goals.ing} I don’t want to #{subtype.achieve}?
-when "lazy"
  #{subtype.achieve} the #{subtype.goals} I do want to #{subtype.achieve}?
