%h2 Produce
%p You tend to conflate feeling #{@quad.second.adverb} restless with feeling #{@quad.fourth.adverb} restless because you most often #{@quad.second.produce.ed} and #{@quad.fourth.produce.ed} at the same time during childhood and adolescence.
%p You’re going to continue to #{@quad.fourth.produce} until you no longer feel #{@quad.second.adverb} restless. Or you have to stop #{@quad.fourth.produce.ing} and start #{@quad.fourth.recover.ing}.
