-case subtype.season
-when "autumn"
  My #{subtype.storage} won’t
  %em actually
  explode, but having so #{subtype.reserves.many} #{subtype.reserves} is not healthy.
-when "winter"
  I go stir-crazy when I have no fresh #{subtype.resources} to #{subtype.take} nor #{subtype.anything} new to #{subtype.achieve}.
-when "spring"
  I am most likely to die of #{subtype.death} when I run out of #{subtype.reserves}.
-when "summer"
  I’m not
  %em actually
  going to die of #{subtype.death}, but I worry about how #{subtype.reserves.few} #{subtype.reserves} I have.
