-case subtype.problem
-when "greedy"
  Why do I #{subtype.harvest_resources} I don’t want to #{subtype.harvest}?
-when "finicky"
  Why can’t I #{subtype.harvest} the #{subtype.resources} I do want to #{subtype.harvest}?
-when "hyperactive"
  Why do I #{subtype.achieve_goals} I don’t want to #{subtype.achieve}?
-when "lazy"
  Why can’t I #{subtype.achieve} the #{subtype.goals} I do want to #{subtype.achieve}?
