%p.left
  I continue to #{span behavior}
  %em even when #{behavior.flip.bipolar.downcase}
  (which is not normal). I do it <em>even more</em> when #{behavior.bipolar.downcase}. I am very good at it.
%p.left Although I can and do #{span behavior.flip} when I am #{behavior.opposite.bipolar.downcase}, I don&rsquo;t #{behavior.opposite.do_something} enough to balance the #{behavior.response.episode}.
