-case subtype.problem
-when "greedy", "lazy"
  #{subtype.get_energy.ing.capitalize} usually gives me joy but #{subtype.use_energy.ing} sometimes makes me feel #{subtype.exhausted}.
-when "picky", "hyperactive"
  #{subtype.use_energy.ing.capitalize} usually gives me joy but #{subtype.get_energy.ing} sometimes makes me feel #{subtype.emotional}.
