#{subtype.realm.name} #{subtype.problem}:
-case subtype.season
-when "spring"
  gaining an unhealthy amount of #{subtype.reserves}
-when "summer"
  don’t #{subtype.use_energy} or #{subtype.get_energy} enough
-when "autumn"
  #{subtype.dying} from the loss of crucial #{subtype.reserves}
-when "winter"
  #{subtype.use_energy} and #{subtype.get_energy} too much
(#{subtype.episode})
