-case subtype.attitude.symbol
  -when "F"
    #{subtype.targets} are #{subtype.targets}; #{subtype.painful} #{subtype.targets} are not inherently better or more worthwhile than #{subtype.better_targets}; #{subtype.intake_with_object.ing} #{subtype.better_targets} doesn’t mean you #{subtype.intake_with_object.ed} the “wrong” #{subtype.target}; any#{subtype.thing} you can #{subtype.intake_with_object} is the right #{subtype.target} and the more you #{subtype.intake} the more you will be able to #{subtype.output}
  -when "N"
    #{subtype.targets} are #{subtype.targets}; #{subtype.painful} #{subtype.targets} are not inherently better or more worthwhile than #{subtype.better_targets}; #{subtype.output_with_object.ing} #{subtype.better_targets} doesn’t mean you #{subtype.output_with_object.ed} the “wrong” #{subtype.target}; any#{subtype.thing} you can #{subtype.output_with_object} is the right #{subtype.target} and the more you #{subtype.output} the more you will be able to #{subtype.intake}
  -when "T"
    It’s counterintuitive and hard to #{subtype.intake} less when you want to gain #{subtype.reserves}, but you will never be able to #{subtype.output} less until you stop #{subtype.intake.ing} so much
  -when "S"
    It’s counterintuitive and hard to #{subtype.output} less when you want to lose #{subtype.reserves}, but you will never be able to #{subtype.intake} less until you stop #{subtype.output.ing} so much
