-case subtype.attitude.symbol
-when "N"
  #{subtype.get} more #{subtype.energizers}
-when "S"
  #{subtype.get} more #{subtype.strengtheners}
-when "T"
  The goal is not to #{subtype.hide} #{subtype.nouns}; that’s a fear goal. But if you practice #{subtype.run.ing} then you can #{subtype.run} instead of compulsively #{subtype.hit.ing} after you have already #{subtype.shove.ed} the dangerous #{subtype.nouns}.
-when "F"
  The goal is not to #{subtype.shove} #{subtype.nouns}; that’s an anger goal. But if you practice #{subtype.hit.ing} then you can #{subtype.hit} instead of compulsively #{subtype.run.ing} after you have already #{subtype.hide.ed} the dangerous #{subtype.nouns}.
