-case subtype.problem
-when "fat"
  I am happy because I stop #{subtype.using_energy} when I begin to #{subtype.appear} #{subtype.painful}, but gaining so #{subtype.many_reserves} makes me unbalanced
-when "skinny"
  I am happy because I stop #{subtype.getting_energy} when I begin to feel #{subtype.pained}, but losing so #{subtype.many_reserves} makes me unbalanced
-when "pained"
  I am balanced because I always #{subtype.get_energy} even when I am #{subtype.pained}, but feeling so much #{subtype.pain} makes me unhappy
-when "painful"
  I am balanced because I always #{subtype.use_energy} even when I am #{subtype.painful}, but creating so much #{subtype.pain} makes me unhappy
