%h3 Morning or Mania: gain #{subtype.strength} and lose #{subtype.potential}
%ol
  %li wake up
  %li #{subtype.get} #{subtype.strengtheners}
  %li #{subtype.produce} a lot
%h2 #{subtype.name}
%ol
  %li #{subtype.get} #{subtype.strengtheners} and #{subtype.energizers}
  %li take a short break
  %li #{subtype.produce}
%h3 Evening or Depression: gain #{subtype.potential} and lose #{subtype.strength}
%ol
  %li #{subtype.get} #{subtype.energizers}
  %li #{subtype.produce} a little
  %li fall asleep
