%p I can #{realm.consume} (consume in the #{realm.adjective} realm) whether or not I am #{realm.empty} (low on #{realm.adjective} energy) and almost never feel #{realm.overwhelmed}.
%p I #{realm.produce} (produce in the #{realm.adjective} realm) whether or not I am #{realm.full} (high on #{realm.adjective} energy) and never stop just because I feel #{realm.weak} (although I will #{realm.produce} less).
%p I tend to be #{realm.strong.er} than my peers and turn to the #{realm.adjective} realm whenever possible.
