%p.heading I feel #{realm.overwhelmed} when I am manic but I don’t #{realm.reject}
-unless @answer
  %p I can usually #{realm.consume} (consume in the #{realm.adjective} realm) whether or not I am #{realm.empty} (low on #{realm.adjective} energy) and rarely feel #{realm.overwhelmed}.
  %p I #{realm.produce} (produce in the #{realm.adjective} realm) whether or not I am #{realm.full} (high on #{realm.adjective} energy) and never stop just because I feel #{realm.weak} (although I will #{realm.produce} less).
