%li Postpone #{subtype.produce_time} as long as possible.
%li If you aren’t feeling #{subtype.full} enough to #{subtype.produce_with} #{subtype.thing.some} that #{subtype.appear.s} good, wait a little longer.
%li Stop #{subtype.produce.ing} as soon as you can.
%li The sooner you stop #{subtype.produce.ing}, the less likely you are to be #{subtype.worn_out}.
%li The less you #{subtype.consume}, the less you will want to #{subtype.waste}.