%p If you want to be able to #{subtype.waste} less when you are manic, you will have to stop #{subtype.consume.ing} so much now that you are no longer depressed.
%p You should make the effort, because if you lose too #{subtype.potential.many_phrase} when you’re manic, you’ll just feel #{subtype.full} when you gain #{subtype.potential.them} again when you’re depressed. 