%p.heading I like to #{realm.consume} and I like to #{realm.produce}.
-unless @answer
  %p.center I’m usually happy in the #{realm.adjective} realm.
  %hr.half
  %p You can be even happier in this realm. It’s not #{realm.adverb} unhealthy to #{realm.consume} as much as you can and #{realm.produce} as much as you can.
  %p The more time you spend in this realm, the happier you will be.
