%p I can’t #{realm.produce} because am #{realm.worn_out}; I can’t develop new #{realm.strengths} but I keep trying so my #{realm.strengths.dont_phrase} atrophy and I don’t gain too #{realm.potential.many_phrase}.
-unless @answer
  %p The fact that you are #{realm.worn_out} does not mean that you #{realm.are_weak}. It just means you tried to #{realm.produce} more than usual.
  %p The #{realm.strengths} you already have are pretty good, but keep #{realm.consume_with.ing} #{realm.strengtheners} and you will develop new and better #{realm.strengths}.
