%p If you want to be able to #{subtype.produce_with} less when you are manic, #{subtype.consume} less now that you are no longer depressed and have to #{subtype.consume} more.
%p You should make the effort to #{subtype.consume} less when manic because the more you #{subtype.consume}, the more you will #{subtype.produce}, the more #{subtype.potential} you will lose, and the more you will gain back during the subsequent depression.
%p If you want to lose #{subtype.potential}, you need to lose #{subtype.potential.them} slowly when you’re euthymic, not quickly when you’re manic. 
%p But you don’t actually need to lose that #{subtype.potential.many_phrase} unless #{subtype.potential.they_are} interfering with your ability to #{subtype.produce}.