%p
  Because you don’t want to be #{subtype.worn_out}. Despite the fact that
  %em everyone
  is #{subtype.worn_out} at times. No matter how #{subtype.adverb} strong they are.
%p
  If you #{subtype.produce_with} #{subtype.thing.some} new which is harder to #{subtype.produce_with}, you are
  %em guaranteed
  to be at least a little bit #{subtype.worn_out}. It is
  %em not
  because you #{subtype.produce.ed} before you had a chance to completely #{subtype.process}. You would have been #{subtype.worn_out} no matter how long you had waited before you started to #{subtype.produce}.
%p So stop #{paired.produce.ing} when you should be #{subtype.produce.ing} and just resolve to #{subtype.recover.more_phrase} afterwards; you’ll get #{subtype.adverb} stronger and won’t be as #{subtype.worn_out} next time you #{subtype.produce_with} #{subtype.thing.some} similar.
