%p.center I like to #{realm.produce}
-unless @answer
  %p If you have #{realm.potential.fewer_phrase} than you want to have:
  %ol.left
    %li Every time you want to #{realm.produce_with} something, ask yourself: "can it wait?".
    %li The more you #{realm.consume}, the sooner you will be able to #{realm.produce}. 
