%p
  Because you are pathologically afraid of being #{subtype.worn_out}. Despite the fact that
  %em everyone
  is #{subtype.worn_out} at times. No matter how #{subtype.adverb} strong they are.
%p
  If you #{subtype.produce_with} #{subtype.thing.some} new which is harder to #{subtype.produce_with}, you are 
  %em guaranteed
  to be at least a little bit #{subtype.worn_out}.
%p 
  But being #{subtype.worn_out} won’t kill you unless you let the fear of being #{subtype.worn_out} keep you from #{subtype.produce.ing} when you have to #{subtype.produce}. Just keep #{subtype.recover.ing} whenever you are #{subtype.worn_out} and you will keep getting #{subtype.adverb} stronger.
