%p.heading I like to #{realm.consume} and I like to #{realm.produce}.
-unless @answer
  %hr.half
  %p.center You will never be as non-#{realm.adjective} as you want to be.
  %p.center The more time you spend in the #{realm.adjective} realm, the happier you will be.
  %p.center Being #{realm.adjective} and happy is better than being non-#{realm.adjective} and suicidal.
