%p You are #{realm.adverb} balanced.
%p The fact that you are #{realm.worn_out} does not mean that you #{realm.are_weak}. It just means you tried to #{realm.produce} more than usual.
%p Keep #{realm.consume_with.ing} #{realm.strengtheners} and you will develop new and better #{realm.strengths}.
