%p.heading I like to #{realm.consume} and I like to #{realm.produce}.
-unless @answer
  %p.center I’m usually #{realm.adverb} content.
  %hr.half
  %p.center #{realm.consume.capitalize} as much as you can and #{realm.produce} as much as you can.
  %p.center You will always be happiest in this realm so seek it out whenever possible.
