%h2 Sensitive
%p More sensitive to #{@quad.third.energizers} and #{@quad.fourth.energizers}, you often feel #{@quad.third.ill} and sometimes #{@quad.fourth.ill}. Even when depressed or on sedatives such as alcohol.
%p You’re more apt to reject #{@quad.third.energizers} even if it means not being able to #{@quad.third.produce}, although you occasionally reject #{@quad.fourth.energizers} if you’re already #{@quad.fourth.ill}.
%p You’re more apt to seek out #{@quad.fourth.energizers} if you have to #{@quad.fourth.produce}, even if it makes you #{@quad.fourth.ill}, although you occasionally seek out #{@quad.third.energizers} if you absolutely must #{@quad.third.produce_with} #{@quad.third.thing.some} and are not already feeling #{@quad.third.very_ill}.