When I am
=subtype.insensitive? ? "depressed or taking sedatives" : "manic or taking stimulants"
-case subtype.ordinal
-when "first"
  I want to #{subtype.consume} more but I can’t afford to gain any more #{subtype.potential}
-when "second"
  I have to #{subtype.consume} more in order to #{subtype.produce}
-when "third"
  I can’t #{subtype.consume} without becoming #{subtype.adverb} ill
-when "fourth"
  I don’t want to #{subtype.consume} but I can’t afford to lose any more #{subtype.potential}
