-case subtype.nurture
-when "fat"
  #{subtype.get.capitalize} something #{subtype.basic}.
-when "thin"
  #{subtype.get.capitalize} something #{subtype.tempting}.
-when "passive"
  Start a new #{subtype.whole} with more #{subtype.part.s}.
-when "active"
  Start a new #{subtype.whole} with fewer #{subtype.part.s}.
