-case subtype.problem
-when "greedy"
  If you have a #{subtype.realm.adjective} energy surplus, you will have to spend more time #{subtype.use_energy.ing} and feeling #{subtype.exhausted}, but as soon as you are stable you should be able to just #{subtype.get_energy} less and only do as much painful #{subtype.realm.adjective} labor as is absolutely necessary.
-when "lazy"
  If you have a #{subtype.realm.adjective} energy surplus, you will have to spend less time #{subtype.get_energy.ing} for pleasure, but as soon as you are stable you should be able to just #{subtype.use_energy} more and be able to experience as much #{subtype.realm.adjective} refreshment as gives you pleasure.
-when "hyperactive"
  If you have a #{subtype.realm.adjective} energy deficit, you will have to spend more time #{subtype.get_energy.ing} and feeling #{subtype.emotional}, but as soon as you are stable you should be able to just #{subtype.use_energy} less and only do as much painful #{subtype.realm.adjective} refreshment as is absolutely necessary.
-when "picky"
  If you have a #{subtype.realm.adjective} energy deficit, you will have to spend less time #{subtype.use_energy.ing} for pleasure, but as soon as you are stable you should be able to just #{subtype.get_energy} more and be able to do as much #{subtype.realm.adjective} labor as gives you pleasure.

