%h2 #{problem.episode.capitalize.colon} #{cookies[problem.display]} compulsively
%ol
  %li Replace #{cookies[problem.display]} with #{cookies[problem.flop.display]} when  #{problem.episode}
  %li Balance #{cookies[problem.display]} with #{cookies[problem.flip.display]} when  #{problem.flip.episode}
  %li Goal: be able to #{cookies[problem.opposite.display]} without triggering #{problem.episode.to_noun}
