Seek out
-case subtype.imbalance
-when "fat"
  #{subtype.basic} #{subtype.resource}.
-when "thin"
  #{subtype.tempting} #{subtype.resource}.
-when "passive"
  a new #{subtype.whole} with many #{subtype.part.s}.
-when "active"
  a new #{subtype.whole} with few #{subtype.part.s}.
