-case subtype.nurture
-when "fat"
  #{subtype.get.capitalize} something #{subtype.basic}.
-when "thin"
  #{subtype.get.capitalize} something #{subtype.tempting}.
-when "passive"
  #{subtype.achieve.capitalize} a new #{subtype.goal} with more #{subtype.part.s}.
-when "active"
  #{subtype.achieve.capitalize} a new #{subtype.goal} with fewer #{subtype.part.s}.
