%h2 #{behavior.symbolic_name}
%p.left Do #{cookies[behavior.display]} when you are #{behavior.bipolar} so you will be #{behavior.flip.ready} to #{cookies[behavior.flip.display]} when you are #{behavior.flip.bipolar}.
%p.left Don&rsquo;t #{cookies[behavior.flop.display]} when you are #{behavior.bipolar}: you won&rsquo;t ever be #{behavior.ready} to #{cookies[behavior.opposite.display].enough}.
