%p.left
  When you feel the urge to
  #{span behavior.flop}, #{span behavior}
  instead.
  You will #{behavior.do_something} less as it does not feel as natural.
%p.left
  When you stop feeling the urge to
  #{span behavior.opposite},
  #{span behavior.flip}.
  It will be easier for you to keep #{behavior.flip.do_something.ing} if you expand your focus to something a little less natural but all the more interesting for that.
