%p.heading
  Every #{behavior.time}
  %br
  Every #{behavior.day}
  %br
  Every #{behavior.season}

%ol
  %li
    Do
    %em not
    =link_to behavior.eg, behavior_path(behavior.symbol), class: "external"
    (you have already #{behavior.eg.en.too_much})
  %li
    Do not
    -opposite = @type.opposite_behavior(behavior).opposite
    =link_to opposite.eg, behavior_path(opposite.symbol), class: "external"
    unless you
    %em have
    to or it is in your prefered realm. But it won’t distract you, and you will probably #{behavior.eg} while you’re #{opposite.eg.ing}.
  %li
    %em Do
    -nb = @type.next_behavior(behavior).previous
    =link_to nb.eg, behavior_path(nb.symbol), class: "external"
    and
    -pb = @type.previous_behavior(behavior).next
    =link_to pb.eg, behavior_path(pb.symbol), class: "external"
    (you will enjoy it, and they will be good for you)
