-case subtype.problem
-when "fat"
  You are never going to be able to #{subtype.use_more_energy}; if you don’t want your #{subtype.reserves} to explode you will have to #{subtype.intake} less; don’t #{subtype.intake} #{subtype.iprep} something just because it #{subtype.appear.s} good and you won’t gain so #{subtype.many_reserves}
-when "skinny"
  You are never going to be able to #{subtype.get_more_energy}; if you don’t want to run out of #{subtype.reserves} you will have to #{subtype.output} less; don’t #{subtype.output} #{subtype.oprep} #{subtype.targets} just because you #{subtype.appear} good and you won’t lose so #{subtype.many_reserves}
-when "pained"
  You are never going to be able to stop #{subtype.getting_energy} but you don’t have to #{subtype.get_energy} that are #{subtype.painful}; find some #{subtype.targets} that #{subtype.appear} good and #{subtype.get_them}
-when "painful"
  You are never going to be able to stop #{subtype.using_energy} but you don’t have to #{subtype.use_energy} that are #{subtype.painful}; find some #{subtype.targets} that #{subtype.appear} good and #{subtype.use_them}
