%ul
  %li
    -case subtype.season
    -when "spring", "summer"
      #{subtype.use_energy.capitalize} whenever you feel #{subtype.full}, even if you don’t have any#{subtype.thing} you want to #{subtype.achieve}; don’t #{subtype.cheat} unless you cannot #{subtype.achieve} #{subtype.what} you want to #{subtype.achieve} by #{subtype.use_energy.ing}.
    -when "autumn", "winter"
      Never #{subtype.use_energy} when you are not fully awake and alert and know exactly #{subtype.what} you are #{subtype.achieve.ing} and why; #{subtype.cheat.ing} is okay if you feel #{subtype.full} and just want to #{subtype.achieve} “some#{subtype.thing}”.
  %li
    -case subtype.season
    -when "winter", "spring"
      Never #{subtype.get_extras}  when you are not fully awake and alert and know exactly what you are #{subtype.take.ing} and why; #{subtype.get_staples} if you are feeling #{subtype.empty} and just want to #{subtype.take} “something”.
    -when "summer", "autumn"
      #{subtype.refuel.capitalize} whenever you feel #{subtype.empty}; don’t #{subtype.get_staples} if you are capable of #{subtype.get_extras.ing}.

