%h3 Morning or Mania: gain #{subtype.strength}
%ol
  %li wake up
  %li #{subtype.strong}
  %li #{subtype.consume} a lot
%h2 #{subtype.name}
%ol
  %li #{subtype.strong} and #{subtype.fast}
  %li take a short break
  %li #{subtype.consume}
%h3 Evening or Depression: lose #{subtype.potential}
%ol
  %li #{subtype.fast}
  %li #{subtype.consume} a little
  %li fall asleep
