%p
  Just because
  =subtype.pain? ? "other people" : "you"
  aren’t feeling #{subtype.bad} doesn’t mean these #{subtype.targets} are worth #{subtype.hit.ing}:
  if you are
  =subtype.pain? ? "feeling #{subtype.bad}" : "#{subtype.imbalancing} #{subtype.reserves}"
  then there is something wrong with the
  %em #{subtype.targets},
  not with you.
