-case subtype.attitude.path
-when "ur"
  I hate being manic because I find it difficult to keep #{subtype.recharging} when I feel so #{subtype.overwhelmed}.
-when "or"
  I hate being depressed because I find it difficult to stop #{subtype.recharging} even when I don’t want the extra #{subtype.reserves}.
-when "ul"
  I hate being depressed because I find it difficult to keep #{subtype.laboring} when I feel so #{subtype.fatigued}.
-when "ol"
  I hate being manic because I find it difficult to stop #{subtype.laboring} even when I don’t want the extra #{subtype.strength}.
