-case subtype.attitude.path
-when "a"
  I usually feel #{subtype.fatigued} when I #{subtype.produce} too much.
-when "b"
  I usually #{subtype.produce} more when there are other people around.
-when "c"
  I usually #{subtype.consume} more when there are other people around.
-when "d"
  I usually feel #{subtype.overwhelmed} when I #{subtype.consume} too much.
