-case subtype.attitude.symbol
-when "N"
  I am not #{subtype.adverb} fast enough to #{subtype.hide} all #{subtype.nouns}; I may #{subtype.run} ineffectually if I am not afraid.
-when "S"
  I am not #{subtype.adverb} strong enough to #{subtype.shove} all #{subtype.nouns}; I may #{subtype.hit} ineffectually if I am not angry.
-when "T"
  I am #{subtype.adverb} strong enough to #{subtype.shove} most #{subtype.nouns}; I tend to #{subtype.hit} easily and without anger.
-when "F"
  I am #{subtype.adverb} fast enough to #{subtype.hide} most #{subtype.nouns}; I tend to #{subtype.run} easily and without fear.
