-case subtype.attitude.ordinal
-when "first"
  I can’t #{subtype.practice} when I am depressed.
-when "second"
  I
  %em can
  #{subtype.practice} when I am depressed; I just can’t #{subtype.accomplish} #{subtype.anything}.
-when "third"
  I
  %em can
  #{subtype.gather} when I am manic; I just can’t #{subtype.process} anything.
-when "fourth"
  I can’t #{subtype.gather} when I am manic.
