-case subtype.attitude.path
-when "a"
  I have to be manic or taking stimulants in order to be #{subtype.strong} enough. It doesn’t matter how long the mania lasts, I could never be too #{subtype.thin}.
-when "b"
  I can be #{subtype.strong} without being manic or taking stimulants but they certainly make it easier. If the mania lasts too long, I become too #{subtype.thin}.
-when "c"
  I can be #{subtype.fat} without being depressed or taking sedatives but they certainly make it easier. If the depression lasts too long, I become too #{subtype.weak}.
-when "d"
  I have to be depressed or taking sedatives in order to be #{subtype.fat} enough. It doesn’t matter how long the depression lasts, I could never be too #{subtype.weak}.
