-case subtype.attitude.adjective
-when "weak"
  I build new and useful #{subtype.strength} to use the #{subtype.reserves} I already have
-when "fat"
  I #{subtype.get_resources} I don’t need and don’t have enough #{subtype.strength} to use constructively
-when "strong"
  I build #{subtype.strength} I don’t need and don’t have enough #{subtype.reserves} to fuel indefinitely
-when "thin"
  I #{subtype.get} new and useful #{subtype.resources} to fuel the #{subtype.strength} I already have
