-case subtype.attitude.path
-when "a"
  People often try to get me to #{subtype.consume} #{subtype.external} I don’t like and don’t want to #{subtype.sense}.
-when "b"
  People often try to get me to #{subtype.produce} things I don’t want to #{subtype.produce} and don’t have enough #{subtype.energy} to #{subtype.produce}.
-when "c"
  I often #{subtype.produce} things when I don’t have enough #{subtype.energy} and don’t need to #{subtype.produce}.
-when "d"
  I often #{subtype.consume} #{subtype.external} when I am not #{subtype.empty} and don’t need the #{subtype.energy}.
