-case subtype.attitude.ordinal
-when "first"
  I am not proud of my #{subtype.reserves} because I don’t want to have to use it (I am jealous of your #{subtype.strength})
-when "second"
  I am proud of the #{subtype.reserves} I have saved, but I wish I still had enough enough #{subtype.strength} to #{subtype.accomplish} #{subtype.goals} during the day
-when "third"
  I am proud of the #{subtype.strength} I have developed, but I wish I still had enough #{subtype.reserves} to sleep through the night
-when "fourth"
  I am not proud of my #{subtype.strength} because I don’t want to have to fuel it (I am jealous of your #{subtype.reserves})
