-case subtype.episode
-when "euthymia"
   I rarely feel #{subtype.sick} or #{subtype.sore}
-when "mania"
   I often feel #{subtype.sick} but rarely #{subtype.sore}
-when "depression"
   I often feel #{subtype.sore} but rarely #{subtype.sick}
-when "misery"
   I often feel #{subtype.sick} and #{subtype.sore}
