-case number
  -when "1"
    #{realm.use.ing} so much and #{realm.produce.ing} I don’t need to #{realm.achieve}.
  -when "2"
    stop #{realm.use.ing} and #{realm.process_alt} something that #{realm.appear.s} good.
  -when "3"
    #{realm.get.ing} so much and #{realm.receive.ing} I shouldn’t be #{realm.process_alt.ing}.
  -when "4"
    stop #{realm.get.ing} and #{realm.achieve} #{realm.something} that #{realm.appear.s} nice.
