You’ll
-case subtype.nurture
-when "fat"
  stop #{subtype.refuel.ing} after you #{subtype.sense} enough #{subtype.necessities}.
-when "thin"
  keep #{subtype.refuel.ing} after you #{subtype.sense} the #{subtype.extras}.
-when "passive"
  keep #{subtype.drain.ing} after you #{subtype.make} the first #{subtype.part}.
-when "active"
  stop #{subtype.drain.ing} after you #{subtype.make} the last #{subtype.part}.
