You’ll
-case subtype.imbalance
-when "fat"
  stop #{subtype.refuel.ing} after you #{subtype.sense} the #{subtype.necessities}.
-when "thin"
  keep #{subtype.refuel.ing} after you #{subtype.sense} the #{subtype.extras}.
-when "passive"
  keep #{subtype.work.ing} after you’ve #{subtype.make.en} the first #{subtype.part}.
-when "active"
  stop #{subtype.work.ing} after you’ve #{subtype.make.en} the last #{subtype.part}.
