%p You are #{realm.adverb} unbalanced.
%p Stop trying to #{realm.consume} more and start #{realm.produce.ing} less. Instead of #{realm.consume_with.ing} more #{realm.strengtheners} when you are #{realm.worn_out}, just stop #{realm.produce.ing} so much until you are no longer #{realm.worn_out}.
%p If you must gain #{realm.potential} you will have to stop waiting until you feel #{realm.empty} before you #{realm.consume_with} #{realm.obvious} #{realm.energizers}.
