%p.heading I don’t like to #{realm.produce} and I don’t like to #{realm.consume}.
-unless @answer
  %p.center I’m rarely happy in the #{realm.adjective} realm.
  %hr.half
  %p You can be happier in this realm.
  %p It’s not #{realm.adverb} unhealthy to #{realm.consume} as little as you can and #{realm.produce} as little as you can.
  %p The less time you spend in this realm, the happier you will be.
