%p If you want to be able to #{subtype.produce} more when you are depressed, you will have to start #{subtype.consume.ing} again now that you are no longer manic.
%p You should make the effort, because if you gain too #{subtype.potential.many_phrase} when you’re depressed, you’ll just feel #{subtype.empty} when you lose #{subtype.potential.them} again when you’re manic. 