%p.center I don’t like to #{realm.produce}
-unless @answer
  %p If you have more #{realm.potential} than you want to have:
  %ol.left
    %li Every time you want to stop #{realm.produce.ing}, ask yourself: "can I #{realm.produce_with} something else?".
    %li The less you #{realm.consume}, the sooner you can stop #{realm.produce.ing}. 