%p
  Because you don’t want to be #{subtype.very_ill}. Despite the fact that
  %em everyone
  feels #{subtype.ill} at times, not everyone is at risk of becoming #{subtype.very_ill} as you are.
%p
  If you #{subtype.consume_with} new #{subtype.energizers} which #{subtype.energizers.are} harder to #{subtype.process_verb_with_helper}, you are
  %em likely
  to feel #{subtype.very_ill} and you will shut down and stop #{subtype.consume.ing} completely, even #{subtype.consume_helper} #{subtype.strengtheners}, just to protect yourself.
%p
  You can die if you cannot #{subtype.consume} without becoming #{subtype.very_ill} but you don’t actually need #{subtype.potential.many_phrase} as long as there’s always plenty around you can #{subtype.consume} #{subtype.consume_helper} without feeling #{subtype.ill}. So keep a large supply of #{subtype.resources} around that you know from experience will not make you feel #{subtype.very_ill}.
