%p.heading I don’t feel #{realm.overwhelmed} when I am depressed and I don’t #{realm.reject} 
-unless @answer
  %p I can sometimes #{realm.consume} (consume in the #{realm.adjective} realm) whether or not I am #{realm.empty} (low on #{realm.adjective} energy) but often feel #{realm.overwhelmed}.
  %p I don’t always #{realm.produce} (produce in the #{realm.adjective} realm) even when I am #{realm.full} (high on #{realm.adjective} energy) especially when I am feeling tired or #{realm.weak} (#{realm.adverb} weak).
