%p.heading I don’t like to #{realm.produce} and I don’t like to #{realm.consume}.
-unless @answer
  %hr.half
  %p.center You will never be as #{realm.adjective} as you want to be.
  %p.center The less time you spend in the #{realm.adjective} realm, the happier you will be.
  %p.center Being non-#{realm.adjective} and happy is better than being #{realm.adjective} and suicidal.
