%p If you want to be able to #{subtype.produce_with} more when you are depressed, you will have to start #{subtype.consume.ing} again now that you are no longer manic.
%p You should make the effort to #{subtype.consume} more when depressed because the more you #{subtype.consume}, the more you will #{subtype.produce_with}, the #{subtype.potential.fewer_phrase} you will gain, and the #{subtype.potential.fewer} you will lose during the next mania.
%p If you want to gain #{subtype.potential}, you need to gain #{subtype.potential.them} slowly when you’re euthymic, not quickly when you’re depressed.
%p But you don’t actually need that #{subtype.potential.many_phrase} as long as there’s always plenty around to #{subtype.consume_with}.