%p.heading I don’t like to #{realm.consume} and I don’t like to #{realm.produce}.
-unless @answer
  %p.center I’m rarely #{realm.adverb} content.
  %hr.half
  %p.center
    #{realm.consume.capitalize} more than you want to #{realm.consume} and #{realm.produce} more than you want to #{realm.produce} and then
    %em forget
    about it.
  %p.center You will never be happy in this realm so avoid it whenever possible.
