%p
  Because you are justifiably afraid of becoming #{subtype.adverb} ill. Despite the fact that
  %em everyone
  feels #{subtype.adverb} ill at times. No matter how #{subtype.adverb} insensitive they are.
%p
  If you #{subtype.consume_with} new #{subtype.energizers} which #{subtype.energizers.are} harder to #{subtype.consume_with}, you are
  %em guaranteed
  to feel so #{subtype.adverb} ill you will shut down and stop #{subtype.consume.ing} completely, even #{subtype.consume_helper} #{subtype.strengtheners}, just to protect yourself.
%p
  You can die if you have no #{subtype.potential} but cannot bear to #{subtype.consume_with} enough to be able to #{subtype.produce} when you need to. You don’t need #{subtype.potential.many_phrase} as long as there’s always plenty around you can #{subtype.consume} #{subtype.consume_helper} without feeling ill. So keep a large supply of #{subtype.resources} around that you know from experience won’t make you ill.
