%p You are #{realm.adverb} unbalanced.
%p Stop trying to #{realm.consume} more and start #{realm.produce.ing} less. Instead of #{realm.consume_with.ing} more #{realm.strengtheners} after you are #{realm.worn_out}, just don’t #{realm.produce} in the first place if you think it will make you feel #{realm.worn_out}.
%p If you must gain #{realm.potential} you will have to stop waiting until you feel #{realm.empty} before you #{realm.consume_with} #{realm.obvious} #{realm.energizers}.
