%li Prepone #{subtype.consume_time} as soon as possible.
%li The less #{subtype.empty} you feel, the less willing you will be to #{subtype.consume_with} things that #{subtype.appear} bad.
%li Stop #{subtype.consume.ing} as soon as you can.
%li The sooner you stop #{subtype.consume.ing}, the less likely you are to become #{subtype.ill}.
%li The less you #{subtype.waste}, the less you will have to #{subtype.consume}.