I have to #{type.LL.realm.output} before I feel awake and energetic enough to #{type.UL.realm.output} and waste #{type.UL.realm.reserves}
%br
I have to stop #{type.LR.attend.ing} before I feel sleepy and relaxed enough to conserve #{type.UR.reserves}.
