On a normal morning I wake up and #{realm.outs.and}; I don’t have to #{realm.intake} before I feel awake and energetic enough to start #{realm.output.ing}.
-if @type
  %br
  %br
  When I am depressed, I wake up and cannot #{realm.outs.or}; I have to #{@type.LL.realm.output} before I feel awake and energetic enough to #{realm.output}, but I have to #{realm.output} before I can #{@type.LL.realm.attend}, so I usually just go back to sleep and don’t #{realm.output} enough.

