On a normal evening I slow down and stop #{realm.outings.reverse.and}; I don’t have to use up all my #{realm.energy} before I feel sleepy and relaxed enough to stop #{realm.output.ing}.
-if @type
  %br
  %br
  When I am manic, I stay up and keep #{realm.outings.or}; I have to stop #{@type.LR.attend.ing} before I feel sleepy and relaxed enough to stop #{realm.output.ing}, but I have to stop #{realm.output.ing} before I can stop #{@type.LR.attend.ing}, so I usually just stay awake and #{realm.output} too much.

