-case subtype.season
-when "autumn", "winter"
  %p If you don’t have any#{subtype.thing} to #{subtype.achieve}, #{subtype.do_chores} in circles or #{subtype.achieve} the same #{subtype.goals} you’ve #{subtype.achieved} before. Just keep #{subtype.do_chores.ing}. The more you practice #{subtype.do_chores.ing} now, the easier it will be to #{subtype.achieve} new #{subtype.goals} later.
-when "spring", "summer"
  Never #{subtype.use_energy} when you are not fully awake and alert; start #{subtype.cheat.ing} if you’ve #{subtype.gotten} too much and just want to #{subtype.achieve} some#{subtype.thing} to burn off excess #{subtype.excess_energy} but don’t actually care #{subtype.what}.


