-case subtype.season
-when "autumn", "winter"
  Try to #{subtype.act} as much as possible during the morning and afternoon.
  %p If you don’t have #{subtype.anything} to #{subtype.achieve}, #{subtype.act} in circles or #{subtype.achieve} the same #{subtype.goals} you’ve #{subtype.achieved} before. Just keep #{subtype.act.ing}. The more you practice #{subtype.act.ing} now, the easier it will be to #{subtype.achieve} new #{subtype.goals} later.
-when "spring", "summer"
  Never #{subtype.act} during the evening or middle of the night unless your #{subtype.storage} will overflow with #{subtype.reserves} if you don’t.
  %p If you are #{subtype.act.ing} in circles or #{subtype.achieve.ing} the same #{subtype.goals} you’ve #{subtype.achieved} before, take a break and rest. Just stop #{subtype.act.ing} for a while.
