-title = [@phase.age.to_noun.capitalize.colon, @phase.consequence].to_phrase
- content_for(:title, title)
%h2=title

%p
  Your #{@phase.problem.dquote} imbalance is worst as #{@phase.age.an}. The imbalance
  -if @answer.number < 4
    rebalances during #{@phase.next.age.to_noun} but
  can reoccur whenever you are #{@phase.sick} in the #{@phase.season}.
-@phase.behaviors.each do |behavior|
  %p
    =link_to_if @answer.free?(behavior), span(behavior), answer_path(@answer.next(behavior))


-if @answer.number > 2
  %p
    If you would rather choose something that is not available, you will have to
    =link_to 'go back', answer_path(Answer.first_path)
    and try again.
