-content_for(:title, "Question ##{@answer.number} of 4")
%p.heading #{@generic_behavior.name} on a #{@generic_behavior.short_description} / #{@generic_behavior.opposite.problem_names}
-unless @answer.behaviors.empty?
  %div.chosen
    Previously chosen:
    %ul
      -@answer.behaviors.each do |behavior|
        %li=behavior.name

%table
  %caption
    Pick the one you are
    %em=@answer.number > 2 ? "better" : "best"
    at.
    %br
    Not the one which you think you
    %em should
    do.
    %br
    The one which is
    %em=@answer.number > 2 ? "easier" : "easiest"
    and more automatic or subconcious.
    -unless @answer.number == 1
      %br
      If you are stuck you can
      =link_to_unless_current "start over", answer_path(Answer.first_path)
  %tr
    -@generic_behavior.behaviors.each do |behavior|
      %td.top{class: @answer.css(behavior)}
        =link_to_if @answer.free?(behavior), behavior.name, answer_path(@answer.next(behavior))
        =render "behaviors/#{behavior.symbol}"
        e.g. I pretty much
        %em always
        #{behavior.eg}, even when everyone else is #{behavior.opposite.eg.ing}

%p.heading=render "behaviors/improvements"
