-content_for(:title, "Question ##{@answer.number} of 7")
%p.heading=@phase.episode

%table
  -@phase.behaviors.each do |behavior|
    %tr
      %td.top{class: @answer.css(behavior)}
        =link_to_if @answer.free?(behavior), behavior.name, answer_path(@answer.next(behavior))
        %br
        =link_to behavior.eg.too_much, behavior.path, class: "external"
        %br
        (#{behavior.imbalance})

-unless @answer.behaviors.empty?
  %p.center
    If you are stuck you can
    =link_to_unless_current "start over", answer_path(Answer.first_path)
  %dl.chosen
    %dt Previously chosen
    -@answer.behaviors.each do |behavior|
      %dd #{behavior.episode}: #{behavior.eg.too_much} #{behavior.imbalance.wrap}

%p.heading=render "behaviors/improvements"
