- content_for(:title, 'Balance')
%p You probably already know what gets out of balance when you are manic or depressed. Knowing what goes <em>wrong</em> allows you to figure out what goes <em>right</em> by process of elimination.
%p That is, once you know what kind of strength you have <em>and can develop</em>, you can focus on external goals that require that kind of strength when depression is causing you problems. You must also know what kind of energy you want <em>and can make room for</em>, so you can focus on internal needs when mania is causing you problems.
%p If you know both, you can leverage your preferences and abilities to <em>keep the cycle moving</em>.


%p For example, depression makes me physically unbalanced because I binge on #{Realm.p.energizers} but don&rsquo;t #{Realm.p.use_energy} in order <em>make room</em> for #{Realm.p.energy.more}.

%p This means a <em>different realm</em> must be prolonging my depression.

%p My <em>manic</em> cycle must also be in a different realm. Because otherwise, when I became <em>sick and tired</em> of compulsively #{Realm.p.get_energy.so_much.ing}, I would fixate on a goal that could be achieved with physical <em>strength</em> #{Realm.p.use_strength.ing.wrap} and then switch to #{Realm.p.get_strength.ing}</em>.

%p Conversely, mania caused me problems because I splurged using loans but could not #{Realm.f.get_strength} in order develop #{Realm.f.strengths.more} (without taking sedatives, which aggravated my physical obesity).

%p This means a <em>different realm</em> must have been prolonging my mania.

%p My <em>depressed</em> cycle must also be in a different realm. Because otherwise, when I became <em>sick and tired</em> of compulsively #{Realm.F.use_strength.so_much.ing}, I would fixate on a need that could be achieved with financial <em>energy</em> #{Realm.f.get_energy.ing.wrap} and then switch to #{Realm.f.use_energy.ing}</em>.
