- content_for(:title, 'Phases')


%table
  %caption
    %h2 The Two Polarities
  %tr
    -Bipolar.all.each do |bipolar|
      %th{class: bipolar.css}=bipolar.name.capitalize
  -Bipolar.visible.each do |constant|
    %tr
      -Bipolar.all.each do |bipolar|
        %td{class: bipolar.css}=bipolar.send(constant.downcase).clean


%table
  %caption
    %h2 The Bipolar Cycle
  %tr
    -Phase.all.each do |phase|
      %th{class: phase.css}=phase.episode.titleize
  %tr.italic
    %td{class: Phase.first.css} very #{Bipolar.i.state}: stimulation changing (increasing)
    %td{class: Phase.second.css} more #{Bipolar.e.state} than #{Bipolar.i.state}: stimulation stable (high)
    %td{class: Phase.third.css} more #{Bipolar.i.state} than #{Bipolar.e.state}: stimulation changing (decreasing)
    %td{class: Phase.last.css} very #{Bipolar.e.state}: stimulation stable (low)
  %tr
    -Phase.all.each do |phase|
      %td{class: phase.css}=phase.times.map(&:titleize).break

%p Even during the depths of a winter depression, you will still have short #{Bipolar.i.state} times in the morning and, to a lesser extent, in the afternoon. Similarly, during the heights of a spring mania, you will still have short #{Bipolar.e.state} times in the evening and, to a lesser extent, at midday.

%p You may also be entrained to a different schedule. For example, winter and summer athletes are entrained to be #{Bipolar.i.name} at different times of the year, shift workers are entrained to be #{Bipolar.i.name} at different times of the day, and different people are entrained to be #{Bipolar.i.name} on different days of the week. Everyone cycles through all four phases, but they may not cycle at the times given in the above table.

