- content_for(:title, 'Phases')


=form_with method: :get do |form|
  %table
    %caption
      %h2 The Two States
    %tr
      -State.all.each do |b|
        %th{class: cookies['state_colors'].present? ? 'bordered' : b.css}=b.name.capitalize
    -State.visible.each do |constant|
      %tr
        -State.all.each do |b|
          %td{class: cookies['state_colors'].present? ? 'bordered' : b.css}=b.send(constant.downcase).clean
    %tr
      -State.each do |b|
        %td{class: cookies['state_colors'].present? ? 'bordered' : b.css}
          =b.symbol.colon unless cookies['MBTI'].present?
          =form.text_field b.cookie, value: cookies[b.cookie] || @words[b.cookie], maxlength: 80, size: 10
    %tr
      %td{colspan:2}=form.submit 'Save Words'


%table
  %caption
    %h2 The Bipolar Cycle
  %tr
    -Phase.all.each do |phase|
      %th{class: phase.css}=phase.episode.titleize
  %tr.italic
    %td{class: Phase.first.css} very #{State.i.state}: stimulation changing (increasing)
    %td{class: Phase.second.css} more #{State.e.state} than #{State.i.state}: stimulation stable (high)
    %td{class: Phase.third.css} more #{State.i.state} than #{State.e.state}: stimulation changing (decreasing)
    %td{class: Phase.last.css} very #{State.e.state}: stimulation stable (low)
  %tr
    -Phase.all.each do |phase|
      %td{class: phase.css}=phase.times.map(&:titleize).break

%p Even during the depths of a winter depression, you will still have short #{State.i.state} times in the morning and, to a lesser extent, in the afternoon. Similarly, during the heights of a spring mania, you will still have short #{State.e.state} times in the evening and, to a lesser extent, at midday.

%p You may also be entrained to a different schedule. For example, winter and summer athletes are entrained to be #{State.i.name} at different times of the year, shift workers are entrained to be #{State.i.name} at different times of the day, and different people are entrained to be #{State.i.name} on different days of the week. Everyone cycles through all four phases, but they may not cycle at the times given in the above table.

