- content_for(:title, 'Comparison Charts')
%table
  %tr
    %th Function
    %th Realms
  %tr
    %td S(ensation)
    %td P(hysical)
  %tr
    %td i(N)tuition
    %td M(ental)
  %tr
    %td T(hinking)
    %td F(inancial)
  %tr
    %td F(eeling)
    %td A(ffective)
%table
  %tr
    %th MBTI attitude
    %th Phase
  %tr
    %td E(troverted)P(erception)
    %td G(et)E(nergy)
  %tr
    %td I(ntroverted)P(erception)
    %td U(se)E(nergy)
  %tr
    %td I(ntroverted)J(udging)
    %td U(se)S(trength)
  %tr
    %td E(troverted)J(udging)
    %td G(et)E(Strength)
%p The MBTI theory defines your type based on the eight Jungian function-attitudes: #{String::FA.and}. The one you prefer first is your Dominant and the one you prefer next is your Auxiliary. The MBTI theory constrains your second choice to one of two possibilities: the Auxiliary must be the opposite attitude (Xe vs Xi) and function group (SN vs FT) to the dominant. Thus the MBTI has sixteen types (eight times two).
%table
  %tr
    %th Attitude
    %th Behavior
  %tr
    %td Xi
    %td (U)se
  %tr
    %td Xe
    %td (G)et
%p
  Originally Fe represented the
  %em extroverted
  feeling function and Fi the
  %em introverted
  feeling function. But in the MBTI, the original introverted and extroverted indications are replaced by I and E. An IFJ is an introvert (I) with Fe as their extroverted Auxiliary function-attitude. So despite eight MBTI types with F in their four-letter code, there are only two feeling functions: Fi (the four FPs) and Fe (the four FJs).
%p The BipolarType theory defines your type based on the sixteen BipolarType behaviors: #{Behavior::SYMBOLS.and}. The BipolarType theory constrains your choices to only one realm for each phase of the cycle but doesn’t take preferences into account, since you have to live through all four phases. Thus BipolarType has twenty-four types (four factorial).
%p BipolarType requires four Affective (the BipolarType words for Feeling) functions.
%table
  -String::MBTI.in_groups_of(4).each_with_index do |row, index|
    %tr
      -row.each do |mbti|
        %td
          %b #{mbti}: #{mbti.dominant} + #{mbti.auxiliary} (#{mbti.jungian})
          %br

          -dominant = Behavior.find_by_mbti(mbti.dominant)
          -auxiliary = Behavior.find_by_mbti(mbti.auxiliary)

          =link_to "#{dominant.jungian}: #{dominant.name}", dominant.path
          with
          =link_to auxiliary.name, auxiliary.path
