- content_for(:title, 'The Cycle')

%table

  %tr
    %td.bottom
      %h3=Behavior.q2.action
      =Behavior.q2.symbolic_name
    %td
      %h2 Mania
      =link_to 'SNS', 'https://en.wikipedia.org/wiki/Sympathetic_nervous_system', class: 'external'
      %br
      &rlarr;
    %td.bottom
      %h3=Behavior.q3.action
      =Behavior.q3.symbolic_name

  %tr
    %td &udarr;
    %td &orarr;
    %td &udarr;

  %tr
    %td.top
      =Behavior.q1.symbolic_name
      %h3=Behavior.q1.action
    %td
      &rlarr;
      %br
      =link_to 'PSNS', 'https://en.wikipedia.org/wiki/Parasympathetic_nervous_system', class: 'external'
      %h2 Depression
    %td.top
      =Behavior.q4.symbolic_name
      %h3=Behavior.q4.action

%p The four corner behaviors are all perfectly normal and natural. But if you get &ldquo;stuck&rdquo; in a corner, that behavior becomes unhealthy and unbalancing.
%p Recovering from an unbalancing and unhealthy compulsive behavior requires three things
%ol

  %li
    Replace the compulsive behavior with it&rsquo;s alternative in the same state. Mania is #{Behavior.q2.action} <em>or</em> #{Behavior.q3.action}. Depression is #{Behavior.q1.action} <em>or</em> #{Behavior.q4.action}. If you are doing too much of one, you should be able to switch to the other. For example, if you are manic and #{Behavior.q2.phrase.ing} compulsively, you probably need sedatives in order to stop and #{Behavior.q1.phrase.enough}, but you only need to change your focus in order to #{Behavior.q3.phrase}.

  %li
    Subvert the compulsive behavior with it&rsquo;s opposite. For example, if you want to replace #{Behavior.q2.phrase.ing} with #{Behavior.q3.phrase.ing}, you must spend more time #{Behavior.q4.phrase.ing}. The more you balance the replacing behavior, the easier it is to use it to replace the compulsive behavior.

  %li
    Balance the compulsive behavior with it&rsquo;s complement. For example, if you have been #{Behavior.q2.phrase.ing} while manic, you <em>will</em> need to balance it by #{Behavior.q1.phrase.ing}. But you must not overdo it, because you don&rsquo;t want to trigger #{Behavior.q2.phrase.ing.more}, merely balance what you have already done.
