- content_for(:title, 'Cycle')

%table
  %caption
    %h2 The Bipolar Cycle
  %tr
    %td.bottom.none.right
      -if @more
        %b Midday
        %br
        (second quarter)
        %br
        =display(transform(Action.IP, :titleize))
      -else
        =display(transform(Action.IP, :capitalize))
    %td
      -if @more
        %b=display(transform(Attitude.I, :capitalize))
        .left All #{display(Action.IP)} and #{display(Action.IJ)} without enough #{display(Action.EJ)} or #{display(Action.EP)} is unbalanced and unhealthy.
      -else
        .bold=display(transform(Attitude.I, :capitalize))
    %td.bottom.none.left
      -if @more
        %b Afternoon
        %br
        (third quarter)
        %br
        =display(transform(Action.IJ, :titleize))
      -else
        =display(transform(Action.IJ, :capitalize))

  %tr
    %td
      -if @more
        %b=display(transform(Attitude.P, :capitalize))
        .left All #{display(Action.EP)} and #{display(Action.IP)} without much #{display(Action.IJ)} or #{display(Action.EJ)} is somewhat unbalanced but not necessarily unhealthy.
      -else
        .bold=display(transform(Attitude.P, :capitalize))
    %th &orarr;
    %td
      -if @more
        %b=display(transform(Attitude.J, :capitalize))
        .left All #{display(Action.IJ)} and #{display(Action.EJ)} without much #{display(Action.EP)} or #{display(Action.IP)} is somewhat unbalanced but not necessarily unhealthy.
      -else
        .bold=display(transform(Attitude.J, :capitalize))

  %tr
    %td.none.right
      -if @more
        =display(transform(Action.EP, :titleize))
        %br
        (first quarter)
        %br
        %b Morning
      -else
        =display(transform(Action.EP, :capitalize))
    %td.bottom
      -if @more
        .left All #{display(Action.EJ)} and #{display(Action.EP)} without enough #{display(Action.IP)} or #{display(Action.IJ)} is unbalanced and unhealthy.
        %b=display(transform(Attitude.E, :capitalize))
      -else
        .bold=display(transform(Attitude.E, :capitalize))
    %td.none.left
      -if @more
        =display(transform(Action.EJ, :titleize))
        %br
        (fourth quarter)
        %br
        %b Evening
      -else
        =display(transform(Action.EJ, :capitalize))
  %tr
    %th
    %th=render 'layouts/tldr_button'
    %th

%p The goal of BipolarType is to cycle between #{display(Attitude.P)} and #{display(Attitude.J)} instead of #{display(Attitude.I)} and #{display(Attitude.E)}.
