- content_for(:title, 'Cycle')

%table
  %caption
    %h2 The Bipolar Cycle
  %tr
    %td.bottom.none.right
      -if @more
        %b #{(Action.IP.index+1).ordinalize} phase
        %br
        =display(transform(Action.IP, :titleize))
      -else
        =display(transform(Action.IP, :capitalize))
    %td
      -if @more
        %b=display(transform(Attitude.I, :capitalize))
        .left #{display(transform(Action.IP, :ing))} and #{display(transform(Action.IJ, :ing))} without #{display(transform(Action.EJ, :ing))} or #{display(transform(Action.EP, :ing))} is unbalanced and unhealthy.
      -else
        .bold=display(transform(Attitude.I, :capitalize))
    %td.bottom.none.left
      -if @more
        %b #{(Action.IJ.index+1).ordinalize} phase
        %br
        =display(transform(Action.IJ, :titleize))
      -else
        =display(transform(Action.IJ, :capitalize))

  %tr
    %td
      -if @more
        %b=display(transform(Attitude.P, :capitalize))
        .left #{display(transform(Action.EP, :ing))} and #{display(transform(Action.IP, :ing))} without #{display(transform(Action.IJ, :ing))} or #{display(transform(Action.EJ, :ing))} is unbalanced but not unhealthy.
      -else
        .bold=display(transform(Attitude.P, :capitalize))
    %th &orarr;
    %td
      -if @more
        %b=display(transform(Attitude.J, :capitalize))
        .left #{display(transform(Action.IJ, :ing))} and #{display(transform(Action.EJ, :ing))} without #{display(transform(Action.EP, :ing))} or #{display(transform(Action.IP, :ing))} is unbalanced but not unhealthy.
      -else
        .bold=display(transform(Attitude.J, :capitalize))

  %tr
    %td.none.right
      -if @more
        =display(transform(Action.EP, :titleize))
        %br
        %b #{(Action.EP.index+1).ordinalize} phase
      -else
        =display(transform(Action.EP, :capitalize))
    %td.bottom
      -if @more
        .left #{display(transform(Action.EJ, :ing))} and #{display(transform(Action.EP, :ing))} without #{display(transform(Action.IP, :ing))} or #{display(transform(Action.IJ, :ing))} is unbalanced and unhealthy.
        %b=display(transform(Attitude.E, :capitalize))
      -else
        .bold=display(transform(Attitude.E, :capitalize))
    %td.none.left
      -if @more
        =display(transform(Action.EJ, :titleize))
        %br
        %b #{(Action.EJ.index+1).ordinalize} phase
      -else
        =display(transform(Action.EJ, :capitalize))
  %tr
    %th
    %th=render 'layouts/tldr_button'
    %th

%p The goal of BipolarType is to cycle between #{display(Attitude.P)} and #{display(Attitude.J)} instead of #{display(Attitude.I)} and #{display(Attitude.E)}.
