- content_for(:title, 'Episodes')

%div.center
  %ul.none
    -Aspect.each do |aspect|
      %li
        %h2{class: aspect.css} #{aspect.nouns.capitalize}
        #{aspect.adjective.capitalize} #{Direction.e.sick.to_noun.capitalize}: #{aspect.use} more, #{aspect.get} less
        %br
        #{aspect.adjective.capitalize} #{Direction.i.sick.to_noun.capitalize}: #{aspect.get} more, #{aspect.use} less

%p Everyone who is manic #{Aspect.all.map(&:use).map(&:s).and} more. Whether that overbalances or underbalances the #{Aspect.all.map(&:get).map(&:ing).and} they do more when depressed depends on the individual: my great-grandmother, grandfather, mother, and I all presented with different symptoms, although the probability is high that we all had the same genetic predisposition.
