%p Good resources appear better than bad resources which you cannot process even if you need the energy
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: good #{realm.resources} #{realm.appear} better than #{realm.baduns} which you cannot #{realm.process} even if you need the #{realm.energy}
%p If you take sedatives to stay calm instead of getting more energy when you don’t have enough reserves, you will die:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: if you take sedatives to stay calm instead of #{realm.use.ing} more #{realm.energy} when you don’t have enough #{realm.reserves}, you will die from #{realm.cause}
%p The more reserves you have, the longer you can go without getting more energy:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: the more #{realm.reserves} you have, the longer you can go without #{realm.use.ing} #{realm.energy}
%p Buffers make resources appear better and easier to use but not process:
%ul
  -Realm.all.each do |realm|
    %li #{realm.buffers}: makes #{realm.resources} (#{realm.triggers} and #{realm.nulls}) #{realm.appear} better and easier to #{realm.use} but won’t make #{realm.baduns} #{realm.processable}
%p Although getting nulls won’t create strength, you need nulls in order to build strength
%ul
  -Realm.all.each do |realm|
    %li #{realm.use.ing} #{realm.nulls} won’t increase your #{realm.strength}, but you cannot increase your #{realm.strength} without #{realm.nulls}
%p Energy that you get but do not use is stored as reserves for those times when resources are not available:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: use #{realm.reserves} for #{realm.energy} when there are no #{realm.resources} to #{realm.use}
%p Some brains wake up when they get the signal that energy has arrived: yes! energy! finally! time to do more! I have enough energy now to work all day!
%ul
  -Realm.all.each do |realm|
    %li #{realm.triggers} => I can #{realm.act} and #{realm.labor}!
%p Some brains calm down when they get the signal that energy has arrived: yes! energy! finally! time to do less! I have enough energy now to sleep all night!
%ul
  -Realm.all.each do |realm|
    %li #{realm.triggers} => I can stop #{realm.act.ing} and go to sleep!
%p Depression is when you are asleep most of the day and gaining unwanted reserves.
%p Mania is when you are awake most of the night and losing critical reserves.
%p Rapid cycling is when you are alternating between mania and depression more quickly than is typical.
%p Mixed states are when you are sleeping badly and gaining some unwanted reserves and losing some critical reserves at the same time and you feel both agitated and lethargic.
