-if @nurture.number == 4
  .red If the following is not true, you might as well go back and #{link_to 'try again', nurture_path(Nurture.jump_path(@nurture.all_behaviors))}

-@nurture.available_behaviors.each do |behavior|
  %h2=link_to behavior.realm.name, nurture_path(@nurture.next(behavior))
  -case @nurture.number
    -when 1
      I am quite #{behavior.imbalance_first_word}. I hope someday to no longer have to #{behavior.displacer.name_eg} as much and just balance excessive #{behavior.name_eg} with #{behavior.balancer.name_eg}.
    -when 2
      I am quite #{behavior.imbalance_first_word}. I hope someday to no longer have to #{behavior.balancer.name_eg} as much and just displace excessive #{behavior.name_eg} with #{behavior.displacer.name_eg}.
    -when 3
      I am no longer #{behavior.imbalance_first_word}. I mostly just balance #{behavior.name_eg} with #{behavior.balancer.name_eg}.
    -when 4
      I am no longer #{behavior.imbalance_first_word}. I mostly just displace #{behavior.name_eg} with #{behavior.displacer.name_eg}.
