- content_for :title, @realm.name

%h2
  -Realm.each do |realm|
    =link_to_unless_current realm.name, realm_path(realm.string)
    ="|" unless realm==Realm.fourth

%table
  %tr
    %th
      The Bad #{@realm.name}
      .plain (#{Attitude.TL.react} them)
    %th{colspan:2}
    %th
      My Bad #{@realm.name}
      .plain (#{Attitude.TR.react} them)
  %tr
    %th
    %td.none.left=Attitude.TL.feeling
    %td.none.right=Attitude.TR.feeling
    %th
  %tr
    %td.right.top.none flight
    %th=display(@realm+Attitude.TL)
    %th=display(@realm+Attitude.TR)
    %td.left.none.top fight
  %tr
    %td.right.bottom.none digest
    %th=display(@realm+Attitude.BL)
    %th=display(@realm+Attitude.BR)
    %td.left.none.bottom rest
  %tr
    %th
    %td.none.left=Attitude.BL.feeling
    %td.none.right=Attitude.BR.feeling
    %th
  %tr
    %th
      The Good #{@realm.name}
      .plain (#{Attitude.BL.react} them)
    %th{colspan:2}
    %th
      My Good #{@realm.name}
      .plain (#{Attitude.BR.react} them)

