- content_for :title, @realm.name

.center.bold=Realm.all.map{|r| link_to_unless(r == @realm, r.name, realm_path(r.string))}.join(' | ').html_safe

%table.equal
  %tr
  %th.left{colspan:2}=(@realm+Attitude.TL).episode
  %th.right{colspan:2}=(@realm+Attitude.TR).episode
  %tr
    %td.none #{Attitude.TL.react} good #{@realm.foci}
    %th{colspan:2}
    %td.none #{Attitude.TR.react} good #{@realm.foci}
  %tr
    %th
    %td.none.left=Attitude.TL.feeling
    %td.none.right=Attitude.TR.feeling
    %th
  %tr
    %td.right.top.none flight
    %td.bold=display(@realm+Attitude.TL)
    %td.bold=display(@realm+Attitude.TR)
    %td.left.none.top fight
  %tr
    %th
    %td.none{colspan:2}=@realm.use
    %th
  %tr
    %th Energy
    %th{colspan:2} &orarr;
    %th Strength
  %tr
    %th
    %td.none{colspan:2}=@realm.get
    %th
  %tr
    %td.right.bottom.none digest
    %td.bold=display(@realm+Attitude.BL)
    %td.bold=display(@realm+Attitude.BR)
    %td.left.none.bottom rest
  %tr
    %th
    %td.none.left=Attitude.BL.feeling
    %td.none.right=Attitude.BR.feeling
    %th
  %tr
    %td.none #{Attitude.BL.react} bad #{@realm.foci}
    %th{colspan:2}
    %td.none #{Attitude.BR.react} bad #{@realm.foci}

  %tr
  %th.left{colspan:2}=(@realm+Attitude.BL).episode
  %th.right{colspan:2}=(@realm+Attitude.BR).episode
