- content_for(:title, @title)

%p.bigger.bold.center=@realm.inspect
%p.center.italic=@realm.definition

=render "table", type: Type.generic

-Position.each do |position|
  %p.bigger.bold.center=@realm.inspect+position.inspect
  %p.center
    #{position.x_energy} #{@realm.energy}
    -if position.bipolar?
      (become #{@realm.adverb} #{position.state})
    -else
      (#{@realm.send(position.x_energy)})
