- content_for(:title, "The #{@realm.name} Realm")
%h2 The Four #{@realm.name} Problems
-chunks = @realm.behaviors.each.collect {|b| "#{link_to b.problem_names, answer_path(Answer.jump_path(b))}<p>#{b.verb.name} too much #{b.realm.word} #{b.noun.word}.".html_safe}
=render "cycle", chunks: chunks
%h2 The Four #{@realm.name} Behaviors
-chunks = @realm.behaviors.each.collect {|b| "#{b.name}#{render b.behavior_path}".html_safe}
=render "cycle", chunks: chunks

%p.heading=render "behaviors/improvements"
