- content_for(:title, @type.symbol)
.center
  %h1.center=@type.symbol

%h2 #{@type.manic.name} Mania with #{@type.anorexic.name} 
%p You become #{@type.anorexic.adverb} anorexic when #{@type.manic.adverb} manic because you are so busy #{@type.manic.use.ing} that you don&rsquo;t always stop to #{@type.anorexic.get.first_word} when you run out of #{@type.anorexic.energy}.
%p The first step is to <em>stop</em> #{@type.anorexic.use_strength.ing}. If you cannot reach your #{@type.anorexic.adjective} goals by #{@type.anorexic.use_energy.ing} then try to ignore them. Or at least postpone them until after you have #{@type.anorexic.get_strength.en.more}.
%p The second step is to start #{@type.depressed.use_strength.ing}. Focus on your #{@type.depressed.adjective} goals instead of your #{@type.anorexic.adjective} goals. When you run out of #{@type.depressed.adjective} energy you <em>will</em> stop #{@type.manic.use_strength.ing} to #{@type.depressed.get_energy}. So #{@type.depressed.use_strength.ing} is not only self-limiting &mdash; you won&rsquo;t ignore your #{@type.depressed.adjective} needs when you run out of #{@type.depressed.energy} &mdash; it will eventually stop the mania by switching your focus from using #{@type.manic.adjective} strength to getting #{@type.depressed.adjective} energy.
%p Which is what you would want if you weren&rsquo;t so worried about #{@type.obese.get.first_word.ing} too much.

%h2 #{@type.depressed.name} Depression with #{@type.obese.name}
%p You become #{@type.obese.adverb} obese when #{@type.depressed.adverb} depressed because you are so busy #{@type.depressed.get_energy.ing} that you never stop to #{@type.obese.use}.
%p The first step is to <em>not</em> start #{@type.obese.get_energy.ing}. If you cannot satisfy your #{@type.obese.adjective} needs by #{@type.obese.get_strength.ing} then try to ignore them. Or at least postpone them until after you have #{@type.obese.use_energy.en.more}.
%p The second step is to start #{@type.manic.get_energy.ing}. Focus on your #{@type.manic.adjective} needs instead of your #{@type.obese.adjective} needs. When you fill up on #{@type.manic.adjective} energy you <em>will</em> start to #{@type.manic.use_strength}. So #{@type.manic.get_energy.ing} is not only self-limiting  &mdash; you won&rsquo;t ignore your #{@type.manic.adjective} goals when you fill up on energy &mdash;  it will eventually stop the depression by switching your focus from getting #{@type.depressed.adjective} energy to using #{@type.manic.adjective} strength.
%p Which is what you would want if you weren&rsquo;t so worried about #{@type.anorexic.use.ing} too much.
