- content_for(:title, "The Theory")
%h2 The Four Realms
%p BipolarType defines a realm as a set of behaviors that get and use a specific kind of energy.
-Realm.all.each do |realm|
  -I18n.locale=realm.locale
  %p
    =link_to realm.name, realm_path(realm.path)
    energy, or #{t :energy}. You gain #{t :adjective} energy (stored as #{t :potential}) by #{t :consuming} #{t :preposition} #{t :resources} that provide #{t :energy} and you use #{t :adjective} energy by using your #{t :organ} to #{t :use} #{t :energy} (#{t :produce}).
%h2 The Four Attitudes
%p
  If you usually get more energy than you use then you have to learn how to
  =link_to "get less energy", attitude_path("ep")
  or
  =link_to "use more energy", attitude_path("ej")
  in order for the system to remain in balance and not overflow with excess stored energy.
%p
  If you usually use more energy than you get then you have to learn how to
  =link_to "use less energy", attitude_path("ij")
  or
  =link_to "get more energy", attitude_path("ip")
  in order for the system to remain in balance and not run out of critical stored energy.
%h2 The Sixteen Subtypes
%p A subtype is an attitude towards a realm.
=render "subtypes/table"
%h2 The Twenty-Four BipolarTypes
%p A BipolarType is the four attitudes distributed over the four realms.
=render "types/table"
