- content_for(:title, 'The Sixteen Behaviors')
%table
  %tr
    %th
    -Realm.each do |realm|
      %th.quarter
        #{realm.name}
        (#{realm.notice})
  %tr
    %th Get Energy
    -Realm.each do |realm|
      %td.p
        #{realm.get} #{realm.resources}
        %br
        (to get #{realm.energy})
  %tr
    %th Use Energy
    -Realm.each do |realm|
      %td.p
        use #{realm.energy}
        %br
        (to #{realm.pursue} #{realm.nouns})
  %tr
    %th Get Resources
    -Realm.each do |realm|
      %td.p
        #{realm.pursue} #{realm.nouns}
        %br
        (to get #{realm.resources})
  %tr
    %th Use Resources
    -Realm.each do |realm|
      %td.p
        #{realm.process} #{realm.resources}
        %br
        (to make them #{realm.gettable})
