- content_for(:title, 'The States')

%table

  %tr
    %td.bottom{class: 'cycleB'}
      %h3=Behavior.be.action
      =Behavior.be.symbolic_name
    %td
      %h2 Mania
      =link_to 'SNS', 'https://en.wikipedia.org/wiki/Sympathetic_nervous_system', class: 'external'
      %br
      &rlarr;
    %td.bottom{class: :cycleU}
      %h3=Behavior.us.action
      =Behavior.us.symbolic_name

  %tr
    %td Energy &udarr;
    %td &orarr;
    %td &udarr; Strength

  %tr
    %td.top{class: :cycleG}
      =Behavior.ge.symbolic_name
      %h3=Behavior.ge.action
    %td
      &rlarr;
      %br
      =link_to 'PSNS', 'https://en.wikipedia.org/wiki/Parasympathetic_nervous_system', class: 'external'
      %h2 Depression
    %td.top{class: :cycleR}
      =Behavior.rs.symbolic_name
      %h3=Behavior.rs.action

%p The four corner behaviors are all perfectly normal and natural. But if you get &ldquo;stuck&rdquo; in a corner, that behavior becomes unhealthy and unbalancing and bipolar (manic or depressed).
%h2 Recovery
%p Recovering from unbalancing and unhealthy compulsive bipolar behaviors requires three things: Replacement, Balancing, and Subversion.
%h3=Priority.first.symbolic_name
%p Replace the compulsive behavior with it&rsquo;s alternative in the <em>same</em> state. Mania is #{Behavior.be.action} <em>or</em> #{Behavior.us.action}. Depression is #{Behavior.ge.action} <em>or</em> #{Behavior.rs.action}. If you are doing too much of one, you should be able to switch to the other. For example, if you are manic and #{Behavior.be.phrase.ing} compulsively, you probably need sedatives in order to stop #{Behavior.be.phrase.ing}, but you only need to change your focus in order to start #{Behavior.us.phrase.ing} instead.
%h3=Priority.second.symbolic_name
%p Balance the compulsive behavior with it&rsquo;s complement in the <em>opposite</em> state. For example, if you have been #{Behavior.be.phrase.ing} compulsively while manic, you will need to balance that behavior by #{Behavior.ge.phrase.more.ing} when depressed. You need to <em>allow</em> yourself to do that and enable those behaviors. You became unbalanced in the first place because you <em>suppressed</em> your natural balancing instincts because of social pressures implying that they were “excessive”. However, the more your replace the compulsive behaviors, the less you will eventually need to balance them.
%h3=Priority.third.symbolic_name
%p Subvert the compulsive behavior with it&rsquo;s opposite. For example, if you want to replace #{Behavior.be.phrase.ing} with #{Behavior.us.phrase.ing}, you must spend more time #{Behavior.rs.phrase.ing}. The more you balance the replacing behavior, the easier it is to use it to replace the compulsive behavior. This also gives you something to do when you are either tired of having to balance the compulsive behavior or have gotten to the point where you no longer need to spend so much time balancing it.
