%p
  I’ve been working on BipolarType since the 1980s when I was first diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', :class => 'external'
  at around the same time I first learned about
  =succeed '.' do
    =link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', :class => 'external'
%p
  The theory is scientific (it is
  =succeed ')' do
    =link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', :class => 'external'
  but it has not been validated by the medical, psychiatric, psychological, or type communities. I hope you find BipolarType interesting and useful but I do not assert that it is true or correct, only that it helps #{link_to 'me', type_path(Type.my_path)}.

%h2 The Bipolar Cycle

%p There are four cycles: Yearly, Monthly, Weekly, and Daily.

%p Each cycle can be split into two halves: Up (the high half of the cycle) and Down (the low half of the cycle).

%ul.none
  %li <b>Yearly:</b> Six months up, Six months down (with about two weeks off)
  %li <b>Monthly:</b> Two weeks up, Two weeks down (with about three days off)
  %li <b>Weekly:</b> Three days up, Three days down (with about one day off)
  %li <b>Daily:</b> Eight hours up, Eight hours down (with about eight hours off)

%p These cycles are additive: you are Manic (highest) when all four cycles are Up at the same time and you are Depressed (lowest) when all four cycles are Down at the same time.

%p Each bipolar cycle can also be split into two halves based on the off times when the cycle resets: Early (the first half of the cycle which is centered around energy) and Late (the second half of the cycle which is centered around strength).

%p Each cycle can be entrained to run a little faster or shorter or have a little more or less off time. If your cycles have been entrained to the clock and calendar and are reset at common times off for each cycle, you get the following:

%p
=render 'cycle',
  caption: 'The Four Phases',
  chunks: Phase.collect{|p| "<b>#{p.name}</b><p>#{p.vertical_when}</p>".html_safe}

%h2 The Four Realms of Behavior

%table.fixed
  %tr
    %th
    -Realm.each do |r|
      %th=r.name
  %tr
    %th Up & Down
    -Realm.each do |r|
      %td
        =r.up
        &
        =r.down
  %tr
    %th Energy vs Strength
    -Realm.each do |r|
      %td
        =r.energy
        vs
        =r.strength

%p The important thing to realize is that whatever your cycle, it affects all four realms of behavior equally. That is, you cannot be Up in the Physical realm and Down in the Mental realm. If you are Up, then you are Up in <em>all four</em> realms.
%p Your BipolarType is based on which realms are easiest for you to <em>act</em> Up or Down in, when you are <em>not</em> Up or Down. That is, can you #{Realm.first.up} when you are Down? Can you <em>not</em> #{Realm.first.up} when you are Up? Can you #{Realm.first.down} when you are Up? Can you <em>not</em> #{Realm.first.down} when you are Down?

%h2=link_to 'Your BipolarType', answer_path(Answer.first_path)
