%p
  I’ve been working on BipolarType since the 1980s when I was first diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', :class => 'external'
  at around the same time I first learned about
  =succeed '.' do
    =link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', :class => 'external'
%p
  The theory is scientific (it is
  =succeed ')' do
    =link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', :class => 'external'
  but it has not been validated by the medical, psychiatric, psychological, or type communities. I hope you find BipolarType interesting and useful but I do not assert that it is true or correct, only that it helps #{link_to 'me', type_path(Type.my_path)}.

%h2 The Four Phases

=render 'cycle',
  chunks: Phase.collect{|p| "<b>#{p.name}</b><p>#{p.vertical_when}</p>".html_safe}

%p Any energy you get but do not use is saved for later. The same is not true for strength: you cannot “save” strength for later so there is no urge to get more than you currently need.

%p If you run out of energy you will hit the wall and stop. The same is not true for strength: you cannot “run out” of strength so there is no urge to preserve what you currently have.

=render "cycle",
  chunks: Phase.each.collect{|p| "<b>#{p.episode}</b>#{render 'problem', phase: p}".html_safe}

%h2 The Four Realms of Behavior

%table
  %tr
  -Realm.each do |r|
    %td
      .bold=r.name
      %br
      =r.get
      &
      =r.use

%h2=link_to 'Your BipolarType', answer_path(Answer.first_path)
