- content_for(:title, 'The Theory')

%h2 The Four Realms
-Realm.each do |realm|
  %h3=link_to realm.name, realm_path(realm.path)
  %ul
    %li Get #{realm.center}: #{realm.get_energy} & #{realm.external_strength}
    %li Use #{realm.center}: #{realm.use_strength} & #{realm.internal_energy}
    %li Mania: #{realm.adjective} deficit (#{realm.use} too much and/or do not #{realm.get_short} enough)
    %li Depression: #{realm.adjective} surplus (#{realm.get_short} too much and/or do not #{realm.use} enough)
%h2 The Four Generic Solutions
-Position.each do |position|
  %h3=link_to position.name, position_path(position.path)
  %ul
    %li Problem: #{position.problem}
    %li Reason: #{position.reason}
    %li Solution: #{position.solution}
