- content_for(:title, @name)
%h2 The Energy Cycle
%table
  %tr
    %td
      %h3=link_to Attitude.fourth.name, attitude_path(Attitude.fourth.path)
      %p During the #{Attitude.fourth.adjective} part of the cycle, a person uses energy because they have an energy surplus.
      %p Previous: they were #{Attitude.third.adjective} and got too much energy and now have an energy surplus.
      %p Next: They are not yet #{Attitude.first.adjective} because they have not yet found a goal they can achieve.
    %td
      %h3=link_to Attitude.first.name, attitude_path(Attitude.first.path)
      %p During the #{Attitude.first.adjective} part of the cycle, a person uses energy because they have a goal to achieve.
      %p Previous: they were #{Attitude.fourth.adjective} but have now found a goal to achieve.
      %p Next: They are not yet #{Attitude.second.adjective} because they still have an energy surplus.
  %tr
    %td
      %h3=link_to Attitude.third.name, attitude_path(Attitude.third.path)
      %p During the #{Attitude.second.adjective} part of the cycle, a person gets energy because they have a resource to appreciate.
      %p Previous: they were #{Attitude.second.adjective} but  have now found a resource to appreciate.
      %p Next: They are not yet #{Attitude.third.adjective} because they still have an energy deficit.
    %td
      %h3=link_to Attitude.second.name, attitude_path(Attitude.second.path)
      %p During the #{Attitude.second.adjective} part of the cycle, a person gets energy because they have an energy deficit.
      %p Previous: they were #{Attitude.first.adjective} and used too much energy and now have an energy deficit.
      %p Next: They are not yet #{Attitude.third.adjective} because they have not yet found a resource they can appreciate.
%h2 The Four Energies
%table
  %tr
    %th
    -Realm.all.each do |realm|
      %th=link_to realm.name, realm_path(realm.path)
  -%w{ energy reserves goals resources appreciate }.each do |word|
    %tr
      %th=word + ":"
      -Realm.all.each do |realm|
        %td=realm.send(word)
%h2 The Four Bipolar Cycles
