- content_for(:title, 'The Theory')
%h2 The Four Behaviors
%table
  %tr
    %td
      =link_to GenericBehavior.UE.name, behavior_path("UE")
      %br
      =GenericBehavior.UE.description
    %th
    %td
      =link_to GenericBehavior.US.name, behavior_path("US")
      %br
      =GenericBehavior.US.description
  %tr
    %th
    %th ↻
    %th
  %tr
    %td
      =link_to GenericBehavior.GE.name, behavior_path("GE")
      %br
      =GenericBehavior.GE.description
    %th
    %td
      =link_to GenericBehavior.GS.name, behavior_path("GS")
      %br
      =GenericBehavior.GS.description

%h2 The Four Realms
%div.center
  -Realm.all.each_with_index do |realm, index|
    ="|" unless index == 0
    =link_to realm.name, realm_path(realm.symbol)

%h2 The Bipolar Cycle
%table
  %tr
    %th
    %td
      %b=GenericProblem.M.name
      %br
      =GenericProblem.M.description
    %th
  %tr
    %td
      %b=GenericProblem.W.name
      %br
      =GenericProblem.W.description
    %th ↻
    %td
      %b=GenericProblem.E.name
      %br
      =GenericProblem.E.description
  %tr
    %th
    %td
      %b=GenericProblem.D.name
      %br
      =GenericProblem.D.description
    %th


%h2 The BipolarType Behaviors
%table
  %tr
    %td
      #{GenericProblem.W.name} #{GenericProblem.M.name} Realm:
      %br
      =GenericBehavior.UE.unwanted
    %th
    %td
      #{GenericProblem.E.name} #{GenericProblem.M.name} Realm:
      %br
      =GenericBehavior.US.unwanted
  %tr
    %th
    %th ↻
    %th
  %tr
    %td
      #{GenericProblem.W.name} #{GenericProblem.D.name} Realm:
      %br
      =GenericBehavior.GE.unwanted
    %th
    %td
      #{GenericProblem.E.name} #{GenericProblem.D.name} Realm:
      %br
      =GenericBehavior.GS.unwanted
