- content_for(:title, 'The Theory')

%h2 The Four Phases
=render 'cycle',
  chunks: Phase.collect{|p| "<b>#{p.name}</b><p>#{p.vertical_when}</p>".html_safe}

%h2 The Four Realms
%table
  %tr
    %td=Realm.collect{|r| "<b>#{r.name}</b>"}.to_phrase.html_safe

%h2{id: 'sixteen'} The Sixteen Behaviors
=render 'cycle',
  caption: 'A Behavior is a Realm in a Phase',
  chunks: Phase.all.multiply(Realm.all).collect{|g| g.collect{|b| "<b>#{link_to b.symbol, b.path, class: 'internal'}</b>"}.to_phrase.html_safe}

%h2 The Four Bipolar States
%p The phases themselves are perfectly natural, and if you cycle through all four of them in turn, you will remain balanced and healthy. But if you get “stuck” in a phase, you will become unbalanced and unhealthy.

=render "cycle",
  chunks: Phase.each.collect{|p| "#{render 'nature', behavior: p, no_links: true}".html_safe}

%h2 The 576 BipolarTypes
%p Your BipolarType is a combination of your Nature (which behaviors are easiest for you based on your physiology) and your Nurture (which behaviors are prioritized by you based on your culture and how you were raised).

%p Everyone has a realm (4) with its preferred phase (4), another realm from the ones remaining (3) with its preferred phase from the ones remaining (3), a third realm from the ones remaining (2) with its preferred phase from the ones remaining (2), leaving one realm (1) and phase (1) remaining which is 4x4x3x3x2x2x1x1, or 576 possible BipolarTypes. Whittling it down to which one is <em>yours</em> is not a simple or trivial task.

%p
  If you are bipolar, try starting with your initial diagnosis:
  %dl
    -%w{Bipolar\ I Bipolar\ II Depression Major\ Depression}.each_with_index do |diagnosis, index|
      %dt=diagnosis
      %dd=link_to Phase[index].episode, Phase[index].path

%p If you know your MBTI type, #{link_to 'try starting with that', chart_path}.

%p Or start with the realm you find most problematic: #{Realm.collect{|r| link_to r.name, r.path}.or.html_safe}.

%p The Sixteen Behaviors, <a href="#sixteen">listed above</a>, are also clickable links.
