- content_for(:title, 'The Theory')
%h2 The Four Attitudes
%p There are four periods:
%ol
  %li Spring | Monday | Morning
  %li Summer | Midweek | Midday
  %li Autumn | Friday | Evening
  %li Winter | Weekend | Night
%p There is a different attitude towards each period:
%ol
  %li I want to wake up in the morning to achieve goals
  %li I want to stay awake during the day and continue to achieve goals
  %li I want to calm down in the evening to rest
  %li I want to stay calm during the night and continue to rest
%p There are two classes of drugs:
%ul
  %li stimulants: wake you up and keep you awake
  %li sedatives: calm you down and keep you calm
%p There are four attitudes towards the two drugs given the four periods:
%ol
  %li I need a stimulant to wake up in the morning
  %li I need to avoid sedatives or I will fall asleep during the day
  %li I need a sedative to calm down in the evening
  %li I need to avoid stimulants or I will stay awake during the night
%h2 The Four Realms
%p There are four realms, each of which has it’s own actions and goals:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: #{realm.act} to #{realm.accomplish} #{realm.goals}
%p Each realm requires a different type of energy:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: I need #{realm.energy} to #{realm.act}
%p Each realm has a different resource which you can use to get energy:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: #{realm.use} #{realm.resources} to get #{realm.energy}
%p Different resources have different proportions of triggers and nulls:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: some #{realm.resources} are #{realm.triggers} and some are #{realm.nulls}, but most are a combination of both
%p Your neurons fire in the presence of triggers; nulls do not trigger a response.
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: #{realm.neuro} triggers when you’ve gotten #{realm.triggers} but not when you get #{realm.nulls}
%h2 The Four Types
%h3 Nature
%p Some brains react to triggers by waking up:
%ul
  -Realm.all.each do |realm|
    %li #{realm.triggers} act as a stimulant: #{realm.neuro} signals that it’s time to wake up and #{realm.act} and #{realm.accomplish} #{realm.goals}
%p Some brains react to triggers by calming down:
%ul
  -Realm.all.each do |realm|
    %li #{realm.triggers} act as a sedative: #{realm.neuro} signals that it’s time to calm down and stop #{realm.act.ing} and go to sleep
%h3 Nurture
%p Most parents give their children resources that are primarily triggers. Very few parents give their children resources that are primarily nulls:
%ul
  -Realm.all.each do |realm|
    %li #{realm.adjective}: most parents give their children #{realm.resources} that are high in #{realm.triggers} and low in #{realm.nulls}
%p Most parents want their children to sleep through the night and stay awake during the day. They also have their own ideas about which realms are important and need to be fueled and which are unimportant and the child does not need energy in order to achieve those goals.
%p Thus, the following schedule is eventually discovered through trial and error:
%ol
  %li I give my child the important resources which will wake them up in the morning
  %li I avoid giving my child unnecessary resources which would make them fall asleep during the day
  %li I give my child important resources which will calm them down in the evening
  %li I avoid giving my child unnecessary resources which will make them wake up during the night
%p A BipolarType is thus the four triggers in the order that the child’s nature (does the energizer act as a sedative or a stimulant?) interacts with the parent’s nurture (is the energizer necessary in order to achieve important goals?).
