- content_for(:title, 'The Theory')
%h2 The Four Attitudes
%dl
  -Attitude.each do |attitude|
    %dt #{attitude.name}
    %dd
      #{attitude.beginning} to #{attitude.ending} (around #{attitude.mid})
      %br
      #{attitude.behavior}: #{attitude.energy_flow}
%h2 The Four Realms
%dl
  -Realm.each do |realm|
    %dt #{realm.name}
    %dd
      dream: #{realm.dream("you")}
      %br
      work: #{realm.work} (#{realm.use} #{realm.reserves} #{realm.on} your #{realm.whole})
      %br
      refresh: stop #{realm.work.ing} and #{realm.refresh} (get #{realm.energy})
      %br
      play: #{realm.play} (#{realm.use} your #{realm.energy} #{realm.on} other #{realm.nouns})
      %br
      sleep: stop #{realm.play.ing} and #{realm.sleep}
%h2 Bipolar
%h3 Depression
%p BipolarType asserts that depression is when you are working in the wrong realm.
%p
  You
  %em need
  to achieve goals. Everyone needs to feel productive at times, or life is not worth living.
%p
  But you aren’t working in the realm in which you have
  %em goals you want to achieve.
%p
  Your productivity in the morning is wasted effort because you are using stored energy to achieve goals that you either don’t have the
  %em ability
  to achieve (acute depression) or don’t
  %em want
  to achieve (chronic depression).
%p
  Meanwhile the goals you
  %em do
  want to achieve are being neglected.
%p
  And the more you neglect the goals you
  %em want
  to achieve, the less capable you will become; and the less capable you become, the less inclined you are to work in that realm; and the less inclined you are to work in that realm, the more apt you are to work in the
  %em wrong
  realm.
%h3 Mania
%p BipolarType asserts that mania is when you are playing in the wrong realm.
%p
  You
  %em need
  to pursue happiness. Everyone needs to feel happy at times, or life is not worth living.
%p
  But you aren’t playing in the realm in which you have
  %em excess fresh energy.
%p
  Your pursuit of happiness in the evening is self-destructive because you’re using fresh energy that you either
  %em need to save
  (acute mania)
  or
  %em don’t like getting
  (chronic mania).
%p
  Meanwhile the excess fresh energy you
  %em do
  have is converted to reserves of energy which will not be used in the morning because you don’t have any goals which require that kind of energy.
%p
  And the more energy you have
  %em stored,
  the less fresh energy you will try to get; and the less fresh energy you have, the less inclined you are to play in that realm; and the less inclined you are to play in that realm, the more apt you are to play in the
  %em wrong
  realm.
%h2 Type
%p
  If there is a realm in which your work is extremely important to you, that means two things. First, that there is no
  %em other
  realm in which work is quite as important. Second, that there is no other
  %em behavior
  in that realm which is quite as important as achieving goals.
%p
  If there is a realm in which you can easily obtain fresh energy in excess of the amount you need in order to achieve your goals, that means two things. First, that there is no
  %em other
  realm in which energy is quite as abundant. Second, that there is no other
  %em behavior
  in that realm which is quite as necessary as pursuing happiness.
%p
  BipolarType asserts that your work and play and refresh and dream realms are
  %em yours.
%p
  If you try to work and play in realms that
  %em other people
  think you should be working and playing in, you will only end up Manic and/or Depressed.
%p
  If you stay true to your
  %em own
  type you can stop taking stimulants to force yourself to work in the morning on goals that you can’t or don’t want to achieve (depression) or taking sedatives in the evening to prevent yourself from pursue happiness with energy you can’t or don’t want to get (mania).
