%p
  I’ve been working on BipolarType since the 1980s when I was first diagnosed as
  =link_to 'bipolar', 'https://en.wikipedia.org/wiki/Bipolar_disorder', :class => 'external'
  at around the same time I first learned about
  =succeed '.' do
    =link_to 'personality type', 'https://en.wikipedia.org/wiki/Personality_type', :class => 'external'
%p
  The theory is scientific (it is
  =succeed ')' do
    =link_to 'falsifiable', 'https://en.wikipedia.org/wiki/Falsifiability', :class => 'external'
  but it has not been validated by the medical, psychiatric, psychological, or type communities. I hope you find BipolarType interesting and useful but I do not assert that it is true or correct, only that it helps #{link_to 'me', type_path(Type.my_path)}.

%h2 The Bipolar Cycle

%p
  The bipolar cycle has two halves: Up (the
  =link_to 'hyperarousal', 'https://en.wikipedia.org/wiki/Fight-or-flight_response', :class => 'external'
  half of the cycle when you #{Realm.all.map(&:up).and}) and Down (the other half of the cycle when you #{Realm.all.map(&:down).and}).

%p The cycle resets at the lowest point of the cycle (in the middle of the Down half) so each cycle can be split into Early (the half after the reset) and Late (the half before reset).

%p
=render 'cycle',
  caption: 'The Four Phases',
  chunks: Phase.collect{|p| "<b>#{p.cycle}</b><p>Feel #{p.feel} => #{p.name}</p>".html_safe}

%p Sedatives, such as alcohol or mood stabilizers, reduce the average (you spend more time Down) and flatten the amplitude (your feelings and thus your behaviors are muted). Stimulants, such as caffeine or anti-depressants, increase the average (you spend more time Up) and the amplitude (your feelings and thus your behaviors are amplified).

%p I have four concurrent cycles. The cycles are additive: I am at my highest when all four cycles are Up at the same time and lowest when all four cycles are Down.

%ul.none
  %li <b>Months:</b> Six months Up, Six months Down
  %li <b>Weeks:</b> Two weeks Up, Two weeks Down
  %li <b>Daily:</b> Three days Up, Three days Down
  %li <b>Hourly:</b> Four hours Up, Four hours Down

%p Your cycles may be different than mine, but are probably similar in length and number.
%h2=link_to 'Your BipolarType', answer_path(Answer.first_path)
