- content_for(:title, 'The Theory')
%p The goal of Bipolartype is to maximise long term happiness by making life joyful and worth living while maintaining a healthy balance.

%p A healthy balance requires that energy in equals energy out.

%p Depression is when you get energy without using energy and create an unhealthy energy surplus. Given a depressed energy surplus, getting less or using more energy will make different people happier in the long run.

%p Mania is when you use energy without getting energy and create an unhealthy energy deficit. Given a manic energy deficit, getting more or using less energy will make different people happier in the long run.

%p BipolarType tries to explain why is it so hard to implement behaviors that you know will make you happier. Why do you destroy your long term happiness by getting energy you don’t need more of or using energy you don’t have enough of when you are perfectly well aware that doing so makes you more unhappy in the long run? Why do you sabotage yourself and allow yourself to remain in a miserable situation by not using energy that you have plenty of or not getting energy that you need more of when you know you could improve your situation with just a little effort?

%h2 The Four Realms

%p BipolarType defines four realms of behavior:

%ul
  -Realm.each do |realm|
    %li #{realm.name}: #{realm.nouns}

%p Each realm of behavior has its own type of energy:

%ul
  -Realm.each do |realm|
    %li #{realm.name}: #{realm.energy}

%p Each realm of behavior has behaviors which get energy (energy in):

%ul
  -Realm.each do |realm|
    %li #{realm.name}: #{realm.sense} and #{realm.process} #{realm.preposition} #{realm.nouns} for #{realm.energy}

%p And behaviors which use energy (energy out):

%ul
  -Realm.each do |realm|
    %li #{realm.name}: #{realm.act} and #{realm.improve} #{realm.nouns} with #{realm.energy}

%h2 Depression (energy surplus)

%p Performing get energy behaviors compulsively and irrationally (you would be happier if you got less energy)

%ul
  -Realm.each do |realm|
    %li
      #{realm.name}:
      =render "attitude", subtype: realm + Attitude.g

%p While avoiding use energy behaviors (you would be happier if you used more energy)

%ul
  -Realm.each do |realm|
    %li
      #{realm.name}:
      =render "attitude", subtype: realm + Attitude.l

%h2 Mania (energy deficit)
%p Performing use energy behaviors compulsively and irrationally (you would be happier if you used less energy)

%ul
  -Realm.each do |realm|
    %li
      #{realm.name}:
      =render "attitude", subtype: realm + Attitude.h

%p While avoiding get energy behaviors (you would be happier if you got more energy)

%ul
  -Realm.each do |realm|
    %li
      #{realm.name}:
      =render "attitude", subtype: realm + Attitude.p


