%h2 The Four Phases

%p Manic depression (as bipolar disorder used to be called) is a <em>cyclic</em> disorder. It is most problematic as a seasonal disorder, because an episode that lasts for months may be fatal. But there are actually four overlapping cycles; the seasonal one is the longest, but the monthly (lunar), weekly, and daily cycles all follow the same pattern.

=render 'cycle',
  chunks: Phase.collect{|p| "<b>#{p.name}</b><p>#{p.vertical_when}</p>".html_safe}


%h2 Balancing and Displacing

%p Balancing behaviors are those that reverse the imbalance: if you have gotten too much energy, the balancing behavior is to #{Phase.UE.name}  to balance the #{Phase.GE.name} behavior.

%p Displacing behaviors are those that prevent the imbalance: if you expect to get too much energy, the displacing behavior is to #{Phase.GS.name}  to displace the #{Phase.GE.name} behavior.

%p In other words, if you are physically overweight, balancing behaviors help you lose fat and displacing behaviors help prevent you from gaining it back again. If you want to lose fat sooner, balancing behaviors are more useful. If you just want to stop gaining, displacing behaviors are more useful. You will probably want to do both, but which to do first depends on your priorities.

=render 'cycle',
chunks: [ %Q|<div class='big'>#{Phase.first.name}</div>balances ⇑<br />and displaces ⇒<br />displaces and unbalances⇗</div>|.html_safe,
  %Q|<div class='big'>#{Phase.second.name}</div>displaces ⇒<br />and balances ⇓<br />displaces and unbalances⇘|.html_safe,
  %Q|<div class='big'>#{Phase.third.name}</div>⇐displaces<br />and balances ⇓<br />displaces and unbalances⇙</div>|.html_safe,
  %Q|<div class='big'>#{Phase.fourth.name}</div>balances ⇑<br />and ⇐displaces<br />displaces and unbalances⇖</div>|.html_safe ]


%h2 Your BipolarType

%p Your BipolarType is a combination of your Nature (which behaviors are easiest for you based on your physiology, and thus most likely to <em>create</em> an imbalance during a bipolar episode) and your Nurture (which imbalances are most shameful for you based on your culture, and thus mostly likely to <em>need</em> balancing more than prevention).

%p Displacing behaviors are easier than balancing behaviors so the goal is to have one of each in each phase. This means you always have something easy to do which is not unbalancing and something a little harder to do which is actively reversing an imbalance. 

%p To discover your own BipolarType, start with an unbalanced realm: #{Realm.collect{|r| link_to r.name, r.path}.or.html_safe}, or a compulsive #{link_to 'behavior', behaviors_path}.
