- content_for(:title, 'The Theory')
%h2 Bipolar Cycles
%p A bipolar cycle is a period of activity (building and using strength) followed by a period of rest (getting and conserving energy).
%table
  %tr
    %th
    %th{colspan:2} Active
    %th{colspan:2} Restful
  %tr
    %th
    %th Build strength
    %th Use strength
    %th Get energy
    %th Conserve energy
  %tr
    %th Daily
    %td Morning
    %td Day
    %td Evening
    %td Night
  %tr
    %th Weekly
    %td Monday
    %td Midweek
    %td Friday
    %td Weekend
  %tr
    %th Yearly
    %td Spring
    %td Summer
    %td Fall
    %td Winter
%p.small Not all weekly cycles are seven days long; my weekly cycle is six days: three days up, three days down.
%p
  On a spring monday morning you
  %em will
  be active and build strength. But on a spring midweek evening you will be able to build strength, use strength, or get energy; the only thing you
  %em won’t
  be able to do (without sedatives such as alcohol) is conserve energy.
%p
  On a winter weekend night you
  %em will
  be restful and conserve energy. But on a winter friday day you will be able to conserve energy, get energy, or use strength; the only thing you
  %em won’t
  be able to do (without stimulants such as caffeine) is build strength.
%h2 Bipolar Disorders
%p Using strength without getting energy creates an energy deficit. Getting energy without using strength creates an energy surplus.
%p Depression is the natural ability to ignore zeitgebers and turn “off” in the face of a dangerous energy deficit without the use of sedatives. During depression you won’t be able to build new strengths even on a spring monday morning; you don’t have enough reserves to fuel the strengths you already have. The building strength period is eliminated and the periods of getting and conserving energy are lengthened. You sleep soundly and wake later. When using strength, your focus shifts towards easier goals which do not require more strength than you already have. When getting energy, your focus shifts towards resources which provide more energy than strengtheners.
%p Mania is the natural ability to ignore zeitgebers and turn “on” in the face of a dangerous energy surplus without the use of stimulants. During mania you won’t be able to conserve energy even on a winter sunday night; you don’t have enough strength to use the reserves you already have. The conserving energy period is eliminated and the periods of building and using strength are lengthened. You sleep restlessly and wake sooner. When using strength, your focus shifts towards harder goals which require more strength than you currently have. When getting energy, your focus shifts towards resources which provide more strengtheners than energy.
%p If mania and depression are beneficial conditions which protect the individual from dangerous energy imbalances, why are they considered disorders or treated with sedatives and stimulants?
%p Partly because sleeping when everyone else is awake or not sleeping when everyone else is asleep is “abnormal”. But mostly because there are four realms of energy. While mania and depression are healthy behaviors for the realms triggering them, they can be unhealthy for the other two realms.
%ul
  %li
    Healthy mania:
    %ul
      %li I build new and useful strengths to use the reserves I already have
  %li
    Unhealthy mania:
    %ul
      %li I build strengths I don’t need and don’t have enough reserves to fuel
  %li
    Healthy depression:
    %ul
      %li I get new and useful resources to fuel the strengths I already have
  %li
    Unhealthy depression:
    %ul
      %li I get resources I don’t need and don’t have enough strength to use
%h2 The Four Realms
%table
  %tr
    %th
    %th{colspan:2} Productive
    %th{colspan:2} Receptive
  %tr
    %th
    %th Build strength
    %th Use strength
    %th Get energy
    %th Store energy
  -Realm.all.each do |realm|
    %tr
      %th=realm.name
      %td build new #{realm.strength}
      %td
        #{realm.act} & #{realm.achieve}
        %b #{realm.goals}
      %td #{realm.notice} & #{realm.get_resources}
      %td
        #{realm.process} #{realm.resources} =>
        %b #{realm.energy}
        ="=> #{realm.reserves}"
=render "affect"
-Realm.all.each do |realm|
  %h3 #{realm.name} States
  %ul
    -realm.subtypes.each do |subtype|
      %li
        =subtype.description + ":"
        =render "subtype", subtype: subtype
%h2 The BipolarType Solution
%p You should not treat mania or depression but instead try to prevent them.
%p If you don’t want to experience unhealthy depression, then prevent healthy depression by conserving energy in the realm which triggers depression even when you aren’t depressed and getting energy every evening, even when you are manic. Treating depression with stimulants merely aggravates and prolongs the dangerous energy deficit which is much more critical than your unhealthy energy surplus.
%p If you don’t want to experience unhealthy mania, then prevent healthy mania by building strength in the realm which triggers mania even when you aren’t manic and using strength every day, even when you are depressed. Treating mania with sedatives merely aggravates and prolongs the dangerous energy surplus which is much more critical than your unhealthy energy deficit.
