- content_for(:title, 'The Theory')
%p BipolarType defines two states: up and down.
%p When you are “up” you are using energy, not getting energy.
%p When you are “down” you are getting energy, not using energy.
%p Both states are normal and necessary: you cannot have one without the other.
%h2 The Four Problems
%table
  %tr
    %th{colspan: 2} Too Up
    %th{colspan: 2} Too Down
  %tr
    -Attitude.all.each do |attitude|
      %td.top.left.quarter #{attitude.behavior.ing} too #{attitude.amount} energy (#{attitude.disorder}: too #{attitude.nurture})
%h2 The Four Solutions
%table
  %tr
    -Attitude.all.each do |attitude|
      %td.top.left.quarter
        Don’t try to #{attitude.behavior} #{attitude.change}
        of the
        %em same
        energy; change your #{attitude.focus}.
%h2 The Theory
%p
  You use energy in order to achieve goals. If you’re not using the right amount of energy, it’s because you’re trying to achieve the wrong goals. Or at least, goals which are wrong for
  %em you.
  They may be fine for other people, but they create problems for you.
%p
  You use resources in order to get energy. If you’re not getting the right amount of energy, it’s because you’re trying to use the wrong resources. Or at least, resources which are wrong for
  %em you.
  They may be fine for other people, but they create problems for you.
