%p.bigger.bold.center The Four States

%ul.none.center
  =list_of Position.each do |position|
    %li #{position.name}

%p.bigger.bold.center The Four Realms

%ul.none.center
  =list_of Realm.each do |realm|
    %li #{realm.name}: #{realm.description}

%p
  As a #{Position.first.name}, you
  #{Realm.all.map(&:description).to_sentence}
  you are given by your parents, guardians, and teachers.

%p
  As an #{Position.second.name}, you learn to create your own #{Realm.all.map(&:things).to_sentence}

%p
  As an #{Position.third.name}, you start to create #{Realm.all.map(&:things).to_sentence} for others to #{Realm.all.map(&:accept).to_sentence}.

%p
  As a #{Position.fourth.name}, you must provide the #{Realm.all.map(&:things).to_sentence} that your children, dependents, and students will #{Realm.all.map(&:accept).to_sentence}.
