- content_for(:title, 'The Theory')
%p There are four realms, each associated with a different kind of energy.
%p Everyone has to both get and use energy, but not everyone does it at the same time. This is because many behaviors are transactional: I get energy by taking it from someone, and then use energy by giving it to someone else. This means we can’t all be getting and using energy at the same time.

-Realm.all.each_with_index do |realm, external|
  %h2{id: realm.adjective}
    -Realm.all.each_with_index do |realm, internal|
      -if realm.index == external
        =realm.name
      -else
        =link_to realm.name, anchor: realm.adjective
      -if internal != 3
        ="|"
  %p.center
    Get and use
    %em=realm.energy
    (#{realm.get} & #{realm.use})
  %p You #{realm.get} until you feel #{realm.adverb} restless, and then #{realm.use} until you feel #{realm.adverb} tired, and then #{realm.get} again, #{realm.use} again, and #{realm.get} again in a never-ending cycle of #{realm.adjective} intake and output.
  %p Some people #{realm.get} and then #{realm.use}, whereas others #{realm.use} and then #{realm.get}. This allows some people to #{realm.get} while others are #{realm.use.ing}. Your type is nurtured into you as a child and is the opposite of your primary #{realm.adjective} caretaker (but the same as their primary caretaker). 

  %table
    %tr
      %th
      %th Get energy (#{realm.get})
      %th Use energy (#{realm.use})
    %tr
      %th Now
      %td.top=render "td", subtype: realm + Attitude.ul
      %td.top=render "td", subtype: realm + Attitude.ur
    %tr
      %th Later
      %td.top=render "td", subtype: realm + Attitude.ll
      %td.top=render "td", subtype: realm + Attitude.lr

