- content_for(:title, 'The Theory')
%p There are four realms of activities, each of which has a different set of paired behaviors.
%ul
  -Realm.all.each do |realm|
    %li
      #{realm.name} Realm:
      %ul
        %li get #{realm.energy}: #{realm.consume} (#{realm.process_resources})
        %li use #{realm.energy}: #{realm.produce} (#{realm.change_nouns})
%p Both getting and using energy are normal and natural behaviors. They only become problematic if they are not balanced by the other. Using energy without getting it creates a dangerous energy deficit. Getting energy without using it creates an unhealthy energy surplus.
%p A bipolar cycle is one of four periods of alternating alert productivity (using energy) followed by calm receptiveness (geting energy).
%table
  %tr
    %th
    %th Use energy
    %th Get energy
    %th Use energy
    %th Get energy
  %tr
    %th Daily
    %td Morning
    %td Midday
    %td Afternoon
    %td Evening
  %tr
    %th Weekly
    %td Saturday/Sunday
    %td Monday/Tuesday
    %td Wednesday
    %td Thursday/Friday
  %tr
    %th Monthly
    %td Spring
    %td Summer
    %td Autumn
    %td Winter
%p The natural result of seasonal mania — alert productivity for many months with only a few hours or days of calm receptiveness — is an energy deficit. The natural result of seasonal depression — calm receptiveness for many months with only a few hours or days of alert productivity — is an energy surplus.
%h2 Medical Treatment
%p Psychopharmaceuticals affect how long you spend in each half of the cycle. Stimulants increase the length of your productive periods whereas sedatives increase the length of your receptive periods.
%p The oldest treatments for bipolar disorder were general sedatives which decreased mania and increased depression which is a reasonable approach since mania is dangerous whereas depression is merely unhealthy. The modern treatment is usually a general sedative (mood stabilizer) with a targeted stimulant (antidepressant). The general sedative decreases the time you spend manic over all, and the targeted stimulant decreases the time you spend depressed in a specific realm.
%h2 Behavioral Treatment
%p If you leave the cycles the way they are, then there are two ways to manage a deficit: you can get more energy or use less energy. Getting more energy takes time. Using less energy frees up time. Similarly, there are two ways to manage a surplus: you can use more energy or get less energy. Using more energy takes time. Getting less energy frees up time.
%table
  %tr
    %th manic deficit
    %th depressed surplus
  %tr
    %td spend more time getting energy
    %td spend less time getting energy
  %tr
    %td spend less time using energy
    %td spend more time using energy
%p Getting more energy is easier to do during the receptive period; getting less energy is easier to do during the productive period.
%p Using more energy is easier to do during the productive period; using less energy is easier to do during the receptive period.
%p It is impossible to use or get more or less energy for months at a time, and difficult to do for days at a time, but relatively easy to do for a few hours. You are also more apt to have the freedom to change your behaviors at the beginning or the end of the day, especially if you can shift your sleep schedule. Thus, the manic deficit behaviors become evening behaviors, and the depressed surplus behaviors become morning behaviors.
%p If you merge the two solutions that take place at the same time, and focus first on what you want to spend time doing and relegate to the end what you are willing to free up time by not doing, you get:
%table
  %tr
    %th morning
    %th evening
  %tr
    %td.p use more energy; get less energy
    %td.p get more energy; use less energy
%h2 24 BipolarTypes
%p Given that there are twenty four ways to permute four realms, the generic solution translates to twenty four personalized individual solutions.
