- content_for(:title, 'The Theory')


%table
  %caption The Four Realms
  %tr
    %th
    -Realm.each do |realm|
      %th=realm.name
  -%w{ targets energy pain}.each do |word|
    %tr
      %th=word.titleize
      -Realm.each do |realm|
        %td=realm.send(word)

%p.heading Balance is when energy in equals energy out
%ul.center
  -Realm.each do |realm|
    %li #{realm.name} balance: #{realm.energy} from #{realm.intake.ing} =  #{realm.energy} used to #{realm.output}

%p.heading Happiness is when both sides of the equation are pleasurable
%ul.center
  -Realm.each do |realm|
    %li
      #{realm.name} happiness:
      %ul
        %li I do not feel #{realm.pained} when #{realm.intake_with_object.ing} #{realm.targets}
        %li The #{realm.targets} I am #{realm.output_with_object.ing} are not #{realm.painful}

