- content_for(:title, 'The Theory')
%h2 The Four Attitudes
%dl
  -Attitude.each do |attitude|
    %dt #{attitude.name}
    %dd
      #{attitude.beginning} through #{attitude.mid} to #{attitude.ending}
      %br
      #{attitude.behavior}: #{attitude.energy_flow}
%h2 The Four Realms
%dl
  -Realm.each do |realm|
    %dt #{realm.name}
    %dd
      dream: #{realm.dream("you")}
      %br
      work: #{realm.work} (#{realm.use} your #{realm.reserves} #{realm.on} #{realm.whole})
      %br
      refreshment: #{realm.refresh} (get #{realm.energy})
      %br
      play: #{realm.play} (#{realm.use} extra #{realm.energy} #{realm.on} other #{realm.nouns})
      %br
      sleep: #{realm.sleep}
%h2 The Twenty-Four BipolarTypes
%p
  If there is a realm in which your work is extremely important to you, that means two things. First, that there is no
  %em other
  realm in which work is quite as important. Second, that there is no other
  %em behavior
  in that realm which is quite as important.
%p
  Most people know a few things about themselves. Perhaps they know what their work is. Or, perhaps they know what their favorite dreams are. Or what refreshments they prefer.
%p
  BipolarType asserts that if you know a few things, you can
  %em logically infer
  the rest. And once you know what is important
  %em to you,
  you can stop wasting your time and energy on things that are
  %em not
  important to you
  %em without
  losing your balance.
