- content_for(:title, Thing.title)

%table
  %tr
    -Thing.all.each do |thing|
      %th #{thing.symbol} things


  -Help.each do |help|
    %tr
      %th{colspan:4} #{help.state} #{help.key}
    %tr
      -Thing.all.each do |thing|
        %td
          =thing.symbol + help.key
          %br
          =word(thing.symbol + help.symbol)
          %br
          =generic_words(thing.symbol + help.symbol)
          %br
          #{word thing.symbol} #{word help.tendency_key}

