- content_for(:title, @title)
.center
  %h1=@title
%table.none
  %caption
    %h2 Do
  -@type.solutions.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        =td behavior
%table.none
  %caption
    %h2 And
  -@type.solutions.map(&:flip).sort.in_groups_of(2).each do |row|
    %tr
      -row.each do |behavior|
        =td behavior


%table.none
  %caption
    %h2 Rationale
    %p.left If you are bipolar you are unbalanced. Since you cannot balance yourself #{Response.shorts.join('-to-').downcase}, try balancing yourself #{Attitude.shorts.join('-to-').downcase}.
  -@type.solutions.in_groups_of(2).each do |row|
    %tr
      -row.reverse.each do |behavior|
        %td.bordered
          %h3 Problem: Excess #{behavior.quadrant.flop.short}
          =render 'problem', behavior: behavior.flop
          %h4 Solution: More #{behavior.short} & #{behavior.flip.short}
          =render 'solution', behavior: behavior
