%p=@type.goal
%p If you are not able to #{@type.receptive.accept_things}, #{@type.calming.accept} some #{@type.calming.things}. If you are compulsively #{@type.calming.accept_things.ing} you know you <em>shouldn’t</em> be #{@type.calming.accept.ing}, then you need to <em>stop</em> trying to #{@type.receptive.accept_things} and go #{@type.productive.change} some #{@type.productive.things} for a while.
%p If you are not able to #{@type.productive.change_things}, #{@type.revving.change} some #{@type.revving.things}. If you are compulsively #{@type.revving.change_things.ing} you know you <em>shouldn’t</em> be #{@type.revving.change.ing}, then you need to <em>stop</em> trying to #{@type.productive.change_things} and go #{@type.receptive.accept} some #{@type.receptive.things} for a while.
