- content_for(:title, @type.name)

-caption = "The #{@type.name} Problems"
-chunks = @type.behaviors.each.collect {|b| "#{render 'problem', behavior: b}".html_safe}
=render "cycle", chunks: chunks, caption: caption

%p
  Replace the behaviors that don’t feel satisfying and are unbalancing you with behaviors that do feel satisfying and are balancing.

-caption = "The #{@type.name} Solutions"
-chunks = @type.behaviors.each.collect {|b| "#{render 'solution', behavior: b}".html_safe}
=render "cycle", chunks: chunks, caption: caption

%p.center
  The following is for those who want to
  =link_to "compare", chart_path
  this BipolarType to an MBTI type.

-caption = "The #{@type.name} as Jungian function-attitudes"
-chunks = @type.best_at.each.collect {|b| "#{b.mbti} (#{b.jungian})".html_safe}
=render "cycle", chunks: chunks, caption: caption
