- content_for(:title, @type.name)

-caption = "The #{@type.name} Problems"
-chunks = @type.behaviors.each.collect {|b| "#{render 'problem', behavior: b}".html_safe}
=render "cycle", chunks: chunks, caption: caption

%ul.none.center
  %li
    Replace the behaviors you do
    %em not
    want to do with behaviors
  %li
    you
    %em need
    to do because they balance other behaviors,
  %li
    you
    %em can
    do because it is the right time,
  %li
    and you
    %em like
    to do.

-caption = "The #{@type.name} Solutions"
-chunks = @type.behaviors.each.collect {|b| "#{render 'solution', behavior: b}".html_safe}
=render "cycle", chunks: chunks, caption: caption

%p.center
  The following is for those who want to
  =link_to "compare", chart_path
  this BipolarType to an MBTI type.

-caption = "The #{@type.name} as MBTI or Jungian letters"
-chunks = @type.behaviors.each.collect {|b| "#{b.mbti} (#{b.jungian})".html_safe}
=render "cycle", chunks: chunks, caption: caption
