- content_for(:title, @type.name)
%table
  %caption The #{@type.name} Problems
  %tr
    %td=render "problem", behavior: @type.ue_behavior
    %th
    %td=render "problem", behavior: @type.us_behavior
  %tr
    %th
    %th ↻
    %th
  %tr
    %td=render "problem", behavior: @type.ge_behavior
    %th
    %td=render "problem", behavior: @type.gs_behavior

%ol
  %li
    %p
      Those things you “should” be doing? You
      %em cannot
      do them when your cycle is out of phase for that behavior, unless you take drugs to change where you are in your cycle.
  %li
    %p
      Those things you “shouldn’t” be doing? You
      %em will
      do them when your cycle is in phase for that behavior, unless you have
      %em something else
      that you want to do that you are
      %em also
      in phase for.
  %li
    %p
      If you find yourself doing something you do
      %em not
      want to do (whether it is too easy or too hard), then replace those behaviors with other behaviors that you
      %em enjoy
      doing and which balance out the problematic behaviors.

%table
  %caption The #{@type.name} Solutions
  %tr
    %td.top=render "solution", behaviors: @type.behaviors.values_at(1,0,2,3)
    %th
    %td.top=render "solution", behaviors: @type.behaviors.values_at(2,3,1,0)

  %tr
    %th
    %th ↻
    %th

  %tr
    %td.top=render "solution", behaviors: @type.behaviors.values_at(0,1,3,2)
    %th
    %td.top=render "solution", behaviors: @type.behaviors.values_at(3,2,0,1)


%ul
  %li
    %p
      The following is for those who want to compare their BipolarType to their MBTI type.
  %li
    %p
      I have provided a
      =link_to "comparison chart", chart_path
      if you want to understand the differences.

%table
  %tr
    %caption The #{@type.name} and the MBTI
    %td #{@type.ue_behavior.mbti} (#{@type.ue_behavior.jungian})
    %th
    %td #{@type.us_behavior.mbti} (#{@type.us_behavior.jungian})

  %tr
    %th
    %th ↻
    %th

  %tr
    %td #{@type.ge_behavior.mbti} (#{@type.ge_behavior.jungian})
    %th
    %td #{@type.gs_behavior.mbti} (#{@type.gs_behavior.jungian})
