- content_for(:title, @type.path)

-if cookies.to_h.present?
  .center
    =link_to 'bookmark', type_path(@type.path, cookies.to_h)
    (save your words between sessions)

%table

  %tr
    %td.none.left=render 'solution', attitude: Attitude.TL, realms: @type.tl_realms, classes: @solution.reverse
    %th
    %td.none.right=render 'solution', attitude: Attitude.TR, realms: @type.tr_realms, classes: @solution.reverse
  %tr
    %th
    %th=circle
    %th
  %tr
    %td.none.left=render 'solution', attitude: Attitude.BL, realms: @type.bl_realms, classes: @solution
    %th
    %td.none.right=render 'solution', attitude: Attitude.BR, realms: @type.br_realms, classes: @solution

.center=render 'legend'

-if Attitude.strings.include?(@show) || Realm.strings.include?(@show)
  -s=@type.find_ss_by(@show)
  %p When you are #{s.first.unhappy}, when you no longer want to #{display s.first}, when you know you should stop #{(display s.second).ing}, then #{display s.third} if you can, and if you cannot, #{display s.fourth} until you can.

-if Rails.env.development? && @type == Type.my_type
  %hr
  =link_to 'your type', type_path(Type.your_path)
