- content_for(:title, @type.symbol)

%table
  %caption
    %h2 Problems
  -@type.solutions.values_at(2,1,0,3).in_groups_of(2).each_with_index do |row, index|
    %tr
      -row.each do |solution|
        %td.bordered=formatted solution.problem

%table
  %caption
    %h2 Goals
  %tr
    %th
    -Action.each do |action|
      %th=formatted action
  -@type.solutions.values_at(2,1,0,3).in_groups_of(2).each_with_index do |row, index|
    %tr
      %th=index.even? ? 'do less' : 'do more'
      -row.each do |solution|
        %td.bordered=formatted solution

%p Avoid stimulants or you will #{formatted(@type.ij.behavior).too_much} and won&rsquo;t be able to #{formatted @type.ip.behavior}.

%p Avoid sedatives or you will #{formatted(@type.ep.behavior).too_much} and be unable to #{formatted @type.ej.behavior}.


%h2 Morning

%p After you wake up, you will be in the mood to #{formatted Action.find_by('J')}. This is the easiest time to #{formatted(@type.ej.behavior)} and not #{formatted(@type.ep.behavior)}. You will also be able to #{formatted @type.ep.behavior.opposite} if you want to.


%h2 Midday

%p At some point you will tire and be in the mood to #{formatted Action.find_by('P')}. This is the best time to #{formatted(@type.ip.behavior)} and not #{formatted(@type.ij.behavior)}. You will also be able to #{formatted @type.ij.behavior.opposite} if you want to.


%h2 Afternoon

%p After a short break or micronap, you will be in the mood to #{formatted Action.find_by('J')} again. You will again be able to #{formatted(@type.ej.behavior)} and not #{formatted(@type.ep.behavior)} but may be too tired to #{formatted @type.ep.behavior.opposite}.

%h2 Evening

At some point you will tire and again be in the mood to #{formatted Action.find_by('P')}. You will be able to  #{formatted(@type.ip.behavior)} and not #{formatted(@type.ij.behavior)} but may be too stressed to #{formatted @type.ij.behavior.opposite}.
