%p=@type.goal
%p If you are not able to #{@type.productive.change_things}, you are too Down; #{@type.revving.change} some #{@type.revving.things} and you will rev up.
%p If you are not able to #{@type.receptive.accept_things}, you are too Up; #{@type.calming.accept} some #{@type.calming.things} and you will calm down.
%p If you are not able to stop #{@type.revving.change_things.ing}, you are far too Down to be trying to #{@type.productive.change_things}; try #{@type.receptive.accept_things.ing} instead.
%p If you are not able to stop #{@type.calming.accept_things.ing}, you are far too Up to be trying to #{@type.receptive.accept_things}; try #{@type.productive.change_things.ing} instead.
