- content_for(:title, 'Unbalanced')
%p As a child, you have to #{Function.s.send(State.e.verb)} when other people want you to #{Function.s.send(State.e.verb)}, whether or not you feel #{State.e.name}, and #{Function.s.send(State.i.verb)} when other people want you to #{Function.s.send(State.i.verb)}, whether or not you feel #{State.i.name}.

%p
  As an adolescent your options start to open up. You can start ignoring what other people want you to do and do what you want to do when you want to do it based on your own natural rhythms.
  However. You only seize control of
  %em one side
  of the polarity. The one that matters more to you. The other remains tied to the clock you were nurtured to follow.

%p Which means you end up unbalanced.

=render 'attitudes', function: Function.s

%p
  The underlying premise for BipolarType is that you cannot
  change your nature without drugs, but you
  %em can
  bring yourself back into balance by taking control of the
  %em other
  side of the polarity also.
