%p You don’t #{t :consume} too many things because there’s something wrong with you.
%p You #{t :consume} too many things because there are too many good things around you to #{t :consume}.
%p Keep your #{t :stash} half empty and you will not want to #{t :consume} so many things.
