%p You don’t #{t :produce} too few things because there’s something wrong with you.
%p You #{t :produce} too few things because you don’t have enough #{t :energy}.
%p #{(t :consume).capitalize} more things and you will want to #{t :produce} more things.
