%p You don’t #{t :purge} because there’s something wrong with you.
%p You #{t :purge} because there are not enough good things for you to #{t :consume}.
%p Keep your #{t :stash} half full and you will want to #{t :consume} more things.
