- content_for(:title, "#{@subtype.name}")
-I18n.locale = @subtype.locale
%h3=render @subtype.loc
%p.heading=render "nature/#{@subtype.loc}"
%h3 Euphoria
%p.heading=render "euphoria/#{@subtype.second.loc}"
%h3 Dysphoria
%p=render "dysphoria/#{@subtype.loc}"
%h3 Advice
%p=render "advice/#{@subtype.loc}"
