%h3 #{subtype.short_name} Mild Depression
%ul
  %li #{subtype.strong.s} more but  #{subtype.fast.s} less
  %li #{subtype.consume.s} more in general
  %li gains #{subtype.strength} and #{subtype.potential}
