%p Do not #{t :consume} more: especially if you are not feeling #{t :empty}; #{t :consuming} will just make you feel sleepier.
%p Do not #{t :produce} less: even if you are #{t :worn_out}; feeling #{t :worn_out} isn’t going to lead to bad #{t :injury} since you aren’t #{t :producing} more.

