%h3 #{subtype.short_name} Depression
%ul
  %li #{subtype.produce.s} less in general
  %li #{subtype.get.s} #{subtype.strengtheners.fewer_phrase} but #{subtype.energizers.more_phrase}
  %li loses #{subtype.strength} and gains #{subtype.potential}
