%h3 #{subtype.short_name} Agitated Depression
%ul
  %li #{subtype.fast.s} more but #{subtype.strong.s} less
  %li #{subtype.consume.s} less in general
  %li loses #{subtype.strength} and #{subtype.potential}
